<div>
    <h3 mat-dialog-title>Please fill the form to add new PI to the system:</h3>

    <mat-dialog-content>
        <br />

        <!--<app-shared-experiment></app-shared-experiment>-->

        <mat-form-field class="full-width">
            <input aria-label="Enter your full name" matInput placeholder="Enter your Full Name" [formControl]="name" [(ngModel)]="reqNameModel" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter your email address" matInput placeholder="Enter your email address:" [formControl]="email" [(ngModel)]="reqEmailModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter principal investigator's full names" matInput placeholder="Enter PI's Full Name" [formControl]="piName" [(ngModel)]="reqPINameModel" required>
            <mat-error *ngIf="piName.invalid">{{getErrorMessagePIName()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter principal investigator's email address" matInput placeholder="Enter PI email address:" [formControl]="emailPI" [(ngModel)]="reqPIEmailModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="emailPI.invalid">{{getErrorMessagePIEmail()}}</mat-error>
            <mat-error *ngIf="emailPI.invalid">{{getErrorMessagePIEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter principal investigator's institutions" matInput placeholder="Enter PI's Institution(s)" [formControl]="institution" [(ngModel)]="reqInsNameModel" required>
            <mat-error *ngIf="institution.invalid">{{getErrorMessageIns()}}</mat-error>

        </mat-form-field>



    </mat-dialog-content>
    <br />

    <mat-dialog-actions>
        <button aria-label="Click to submit new principal investigator" mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button aria-label="Cancel" mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
