.docs-markdown-td-wide {
    padding: 13px 16px;
    text-align: center;
    word-break: break-all;
    max-width: 130px;
    min-width: 125px;
}

.docs-markdown-td-wide-age {
    padding: 13px 16px;
    text-align: center;
    word-break: break-all;
    max-width: 100px;
    min-width: 110px;
}
