<div class="guideline" id="guideline">
    <br />

    <div class="account-card-container2">
        <mat-card appearance="outlined">
            <mat-toolbar *ngIf="!isEditMode" color=#d0d0d0>Adding Repository</mat-toolbar>
            <mat-toolbar *ngIf="isEditMode" color=#d0d0d0>Editing Repository</mat-toolbar>
            <mat-card-content>

                <div>
                    <br />
                    <hr /><br />

                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Basic Information:
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <!--Adding Paper information ********************************************-->
                        <!--<label style="color:#465563">Basic Information:</label><br /><br />-->
                        <!--Repository Author-->
                        <!--<div *ngIf="sourceOptionModel=='3' || isEditMode">-->
                        <div>

                            <!--Author-->
                            <mat-form-field style="width: 40%">
                                <mat-select [formControl]="author" placeholder="Select Authors/Collaborators" required multiple [compareWith]="compareAuthors">
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="authorMultiSelect" [formControl]="authorMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>

                                    <ng-container *ngIf="authorMultiFilterCtrl.value?.length >= 3; else authorSearchPrompt">
                                        <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                            <!-- {{author.firstName}} {{author.lastName}} ({{author.affiliation}}) -->
                                             {{author.nameAffiliation}}
                                        </mat-option>
                                    </ng-container>
                                    <ng-template #authorSearchPrompt><mat-option disabled>Type 3 or more characters to search...</mat-option></ng-template>

                                </mat-select>
                                <mat-error *ngIf="author.invalid">{{getErrorMessageAuthor()}}</mat-error>
                            </mat-form-field>&nbsp;

                            <button mat-icon-button matTooltip="Add new author" (click)="openDialogAuthor()"><mat-icon>add</mat-icon></button>

                            <!--PI-->
                            <!--PI-->
                            <mat-form-field style="width: 40%">
                                <mat-select [formControl]="pi" placeholder="Select Touchscreen Site(s)" (openedChange)="GetPIList()" required multiple>

                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on PI" noEntriesFoundLabel="Result not found!" [(ngModel)]="piMultiSelect" [formControl]="piMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let pi of filteredPIList | async" [value]="pi.id">
                                        {{pi.piSiteName}}
                                    </mat-option>

                                </mat-select>
                                <mat-error *ngIf="pi.invalid">{{getErrorMessagePi()}}</mat-error>
                            </mat-form-field>&nbsp;

                            <button mat-icon-button matTooltip="Add new Touchscreen Site" (click)="openDialogPI()"><mat-icon>add</mat-icon></button>

                            <br /><br />
                        </div>

                        <!--Paper Title-->
                        <mat-form-field style="width: 60%">

                            <textarea matInput placeholder="Title" [formControl]="title" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4" required>
                            </textarea>
                            <mat-error *ngIf="title.invalid">{{getErrorMessageTitle()}}</mat-error>

                        </mat-form-field>


                        <!--Repository Date-->
                        <mat-form-field style="width:30%; padding-left: 25px">

                            <!--<input matInput placeholder="Date" required>-->
                            <input matInput placeholder="Date" [formControl]="date" [matDatepicker]="picker" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="date.invalid">{{getErrorMessageDate()}}</mat-error>

                        </mat-form-field>

                        <br />

                        <!--Paper Keywords-->
                        <mat-form-field style="width:65%; padding-left: 0px">

                            <textarea matInput placeholder="Keywords" [(ngModel)]="keywordsModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
    
                            </textarea>

                        </mat-form-field>

                        <!--Paper DOI-->
                        <mat-form-field style="width:30%; padding-left:25px">

                            <input matInput placeholder="Publication DOI" [(ngModel)]="doiModel">

                        </mat-form-field> <br />

                        <!--Description-->
                        <mat-form-field style="width:47%">

                            <textarea matInput placeholder="Description" [(ngModel)]="descriptionModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40">
    
                            </textarea>
                        </mat-form-field>

                        <!--Additional Notes-->
                        <mat-form-field style="width:47%; padding-left:25px">

                            <textarea matInput placeholder="Additional Notes" [(ngModel)]="additionalNotesModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40">
    
                            </textarea>
                        </mat-form-field>

                        <br />

                        <!--URL Link-->
                        <mat-form-field style="width:60%">

                            <textarea matInput placeholder="Additional Data Source URLs (if multiple, please separate by semicolon)" [(ngModel)]="linkModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
                            </textarea>
                        </mat-form-field>

                        <br />

                        <!-- Row 1: Cognitive Task, Species, Sex -->
                        <mat-form-field style="width:20%;">
                            <mat-select placeholder="Select Cognitive Task(s)" [formControl]="cognitiveTask" required multiple>
                                <mat-option *ngFor="let task of taskList" [value]="task.id">
                                    <span matTooltip="{{task.task}}">{{task.task}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="cognitiveTask.invalid">{{getErrorMessageTask()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Specie(s)" [(ngModel)]="speciesModel" (selectionChange)="numSubjects.setValue(null)" multiple>
                                <mat-option *ngFor="let species of speciesList" [value]="species.id">
                                    <span matTooltip="{{species.species}}">{{species.species}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!--Number of Subjects-->
                        <mat-form-field *ngIf="speciesModel!==null&&speciesModel.length>0" style="width:10%; padding-left:30px">
                            <input matInput input="number" placeholder="Number of Subjects" [formControl]="numSubjects">
                            <mat-error *ngIf="numSubjects.invalid">{{getErrorMessageNumSubjects()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                                <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                                    <span matTooltip="{{sex.sex}}">{{sex.sex}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br />

                        <!-- Row 2: Strain, Genotype, Age -->
                        <mat-form-field style="width:20%;">
                            <mat-select placeholder="Select Strain(s)" [(ngModel)]="strainModel" multiple>
                                <mat-option *ngFor="let strain of strainList" [value]="strain.id">
                                    <span matTooltip="{{strain.strain}}">{{strain.strain}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Genotype(s)" [(ngModel)]="genotypeModel" multiple>
                                <mat-option *ngFor="let geno of genosList" [value]="geno.id">
                                    <span matTooltip="{{geno.genotype}}">{{geno.genotype}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div style="display: flex; width: 25%; padding-left: 30px;">
                            <mat-form-field style="width: 50%; margin-right: 10px;">
                                <input matInput type="number" placeholder="Start Age (months)" [(ngModel)]="ageStartModel">
                            </mat-form-field>

                            <mat-form-field style="width: 50%;">
                                <input matInput type="number" placeholder="End Age (months)" [(ngModel)]="ageEndModel">
                            </mat-form-field>
                        </div>

                        <!--Removed Original Age Selection
                            <mat-form-field style="width:20%; padding-left:30px">
                                <mat-select placeholder="Select Age" [(ngModel)]="ageModel" multiple>
                                    
                                </mat-select>
                            </mat-form-field>-->
                        <br />

                        <!-- Row 3: Rodent Model, Anatomical Region, Cell Type -->
                        <mat-form-field style="width:20%">
                            <mat-select placeholder="Select Rodent Model(s)" matTooltip="Select Rodent Model(s)" [(ngModel)]="diseaseModel" (selectionChange)="selectedModelChange(diseaseModel)" multiple>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="diseaseMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let disease of filteredDiseaseList | async" [value]="disease.id">
                                    <span matTooltip="{{disease.diseaseModel}}">{{disease.diseaseModel}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--SubModel-->
                        <span [hidden]="subSubModelList.length === 0">
                            <mat-form-field style="width:20%; padding-left:30px">
                                <mat-select placeholder="Select Sub-Rodent Model(s)" matTooltip="Select Sub-Rodent Model(s)" [(ngModel)]="subModel" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="subModelMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let sub of filteredSubModelList | async" [value]="sub.id">
                                        <span matTooltip="{{sub.subModel}}">{{sub.subModel}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Anatomical Region(s)" matTooltip="Select Anatomical Region(s)" [(ngModel)]="regionModel" (selectionChange)="selectedRegionChange(regionModel)" multiple>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="regionMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let region of filteredRegionList | async" [value]="region.id">
                                    <span matTooltip="{{region.brainRegion}}">{{region.brainRegion}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--SubRegion-->
                        <span [hidden]="subSubRegionList.length === 0">
                            <mat-form-field style="width:20%; padding-left:30px">
                                <mat-select placeholder="Select Sub-Anatomical Region(s)" matTooltip="Select Sub-Anatomical Region(s)" [(ngModel)]="subRegionModel" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="subRegionMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let subregion of filteredSubRegionList | async" [value]="subregion.id">
                                        <span matTooltip="{{subregion.subRegion}}">{{subregion.subRegion}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Cell Type(s)" [(ngModel)]="cellTypeModel" multiple>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="cellTypeMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let cell of filteredCellTypeList | async" [value]="cell.id">
                                    <span matTooltip="{{cell.cellType}}">{{cell.cellType}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br />

                        <!-- Row 4: Method, Neurochemical -->
                        <mat-form-field style="width:20%">
                            <mat-select placeholder="Select Method(s)" [(ngModel)]="methodModel" (selectionChange)="selectedMethodChange(methodModel)" multiple>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="methodMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let method of filteredMethodList | async" [value]="method.id">
                                    <span matTooltip="{{method.method}}">{{method.method}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!--SubMethod-->
                        <span [hidden]="subSubMethodList.length === 0">
                            <mat-form-field style="width:20%; padding-left:30px">
                                <mat-select placeholder="Select Sub-Method(s)" matTooltip="Select Sub-Method(s)" [(ngModel)]="subMethodModel" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="subMethodMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let sub of filteredSubMethodList | async" [value]="sub.id">
                                        <span matTooltip="{{sub.subMethod}}">{{sub.subMethod}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <mat-form-field style="width:20%; padding-left:30px">
                            <mat-select placeholder="Select Neurochemical(s)" matTooltip="Select Neurochemical(s)" [(ngModel)]="neurotransmitterModel" multiple>
                                <mat-option>
                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [formControl]="neurotransmitterMultiFilterCtrl"></ngx-mat-select-search>
                                </mat-option>
                                <mat-option *ngFor="let neuro of filteredNeurotransmitterList | async" [value]="neuro.id">
                                    <span matTooltip="{{neuro.neuroTransmitter}}">{{neuro.neuroTransmitter}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br />

                        <!-- Row 5: Housing Info, Light Cycle Info -->
                        <mat-form-field style="width:30%;">
                            <textarea matInput placeholder="Housing Info" [(ngModel)]="housingModel" matTextareaAutosize matAutosizeMinRows="2"
                                    matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>

                        <mat-form-field style="width:30%; padding-left:30px">
                            <textarea matInput placeholder="Light Cycle Info" [(ngModel)]="lightModel" matTextareaAutosize matAutosizeMinRows="2"
                                    matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>

                        <br /><br />

                        <!--Privacy Status-->
                        <span>Privacy Status: </span>
                        <mat-radio-group [formControl]="privacyStatus" required>
                            <mat-radio-button value="false">Private</mat-radio-button>
                            <mat-radio-button value="true">Public</mat-radio-button>
                            <mat-error *ngIf="privacyStatus.invalid">{{getErrorMessagePrivacyStatus()}}</mat-error>
                        </mat-radio-group>

                        <br /><br />

                    </mat-expansion-panel>  <br />



                </div>
                <br />

                <div *ngIf="!isEditMode; else changeButtons">
                    <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledVal()" (click)="AddRepository()">Save Repository</button>
                </div>

                <ng-template #changeButtons>
                    <div>
                        <button mat-raised-button [disabled]="setDisabledVal()" (click)="EditRepository()">Save Changes</button>
                        <button mat-raised-button style="float:right" color="accent" [disabled]="setDisabledVal()" (click)="thisDialogRef.close()">Cancel</button>
                    </div>
                </ng-template>

            </mat-card-content>

        </mat-card>
    </div>


    <!--***********************************************************************************************************
    ***************************************************************************************************************-->



    <br />
    <br />
    <br />

</div>
