
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    user: root
    ports:
      - "8082:8082"
    env_file:
      - .env
    command: /bin/bash
    stdin_open: true
    tty: true
    networks:
      - app-network
    volumes:
      - /home/ubuntu/https:/https/:rw
      - /cephfs/production/TempUpload:/app/TempUpload:rw
      - /cephfs/production/UPLOAD:/app/UPLOAD:rw
      - /cephfs/production/COGBYTES_FILES:/app/COGBYTES_FILES:rw
networks:
  app-network:
    driver: bridge

