<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--  To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->

    <!--AspNetCoreModuleV2: Newer module, supports both in-process and out-of-process hosting, better performance, more configuration options.
    	In-Process Hosting: The ASP.NET Core application runs within the IIS worker process (w3wp.exe), which can significantly improve performance by reducing the overhead of inter-process communication.
    	Out-of-Process Hosting: Still supported for scenarios where in-process hosting is not suitable.-->
    <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>
  </system.webServer>
</configuration>
