@import '../../styles/variables.scss';


.home-card-container {
    display: flex;
    justify-content: center;
    /*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    /*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card {
        width: 500px;
        /*TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
        mat-card-title {
            text-align: center;
            color: $blue;
        }

        mat-card-subtitle, mat-card-content {
            text-align: center;
        }
    }

    img {
        background-color: $lightgray;
    }
}



section {
    min-height: 100vh;
}

.bg1-sub {
    position: absolute;
    height: 70%;
    top: 15%;
    left: 15%;
}


.bg2-sub {
    background-size: 100% 100%;
    width: 33%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-text {
    color: white;
    padding-top: 15%;
    padding-left: 15%;
}

.sub-img {
    width: 70%;
    max-height: 300px;
    //margin: 5% 0 0 0;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.logo-img {
    width: 30%;
    max-width: 200px;
    min-width: 100px;
    //margin: 5% 0 0 0;
    //border: 2px solid;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    //background-color: white;
}

.high-margin {
    padding-top: 60px;
    padding-bottom: 100px;
}

header.section-header {
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.section-border {
    width: 100%;
    height: 23px;
    margin: 5px 0 10px;
}

.section-subtitle {
    xcolor: rgb(154, 167, 175);
    color: #2f383d;
    font-size: 15px;
    font-weight: 300;
    margin-top: 7px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
}


header.section-header {
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
}

.block-icon {
    height: 130px;
    margin-bottom: 25px;
    position: relative;
}

.block-container {
    text-align: center;
}

.block-triangle {
    width: 80px;
    height: 80px;
    background: #6d6d6a;
    margin: 0 auto;
    position: relative;
    top: 25px;
    box-shadow: 0 0 0 6px #FFFFFF, 0 0 0 7px #dadbdb;
}

.block-title p {
    color: #2f383d;
    font-size: 16px;
    font-weight: 500;
}

.block-content p {
    font-size: 15px;
    color: #2f383d;
    font-weight: 300;
}

.block-icon i {
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
}


.flat-icon {
    font-family: 'oxp-demo';
    padding: 15px 20px;
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    line-height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    margin-right: 15px;
}

.thumbnail-image {
    width: 300px;
    height: 100px;
}
