<div>
    <mat-accordion multi>

        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    File Information:
                </mat-panel-title>
            </mat-expansion-panel-header>


            <!--File Type-->
            <mat-form-field style="width: 30%; padding-left:0px">
                <mat-select matInput placeholder="File Type" [formControl]="fileType" [disabled]="isEditMode" required>
                    <mat-option *ngFor="let type of fileTypeList" [value]="type.id">
                        {{type.fileType}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="fileType.invalid">{{getErrorMessageFileType()}}</mat-error>

            </mat-form-field>

            <!--Name-->
            <!--Paper Title-->
            <mat-form-field style="width: 60%; padding-left: 25px">

                <textarea matInput placeholder="Upload Name" [formControl]="name" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4" required>
                            <!--<textarea matInput placeholder="Title" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4" required>-->
                </textarea>
                <mat-error *ngIf="name.invalid">{{getErrorMessageName()}}</mat-error>
            </mat-form-field>
            <br />

            <!--Description-->
            <mat-form-field style="width:44%">

                <textarea matInput placeholder="Description" [(ngModel)]="descriptionModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40">
    
            </textarea>
            </mat-form-field>

            <!--Additional Notes-->
            <mat-form-field style="width:44%; padding-left:25px">

                <textarea matInput placeholder="Additional Notes" [(ngModel)]="additionalNotesModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40">
    
            </textarea>
            </mat-form-field>


        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="fileType.value>=1&&fileType.value<=5" [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Key Features:
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!--Adding Key Features ********************************************-->

            <mat-form-field style="width:20%; ">
                <mat-select placeholder="Select Cognitive Task(s)" [formControl]="cognitiveTask" required multiple>
                    <mat-option *ngFor="let task of taskList" [value]="task.id">
                        <span matTooltip="{{task.task}}">{{task.task}}</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="cognitiveTask.invalid">{{getErrorMessageTask()}}</mat-error>

            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <mat-select placeholder="Select Specie(s)" [(ngModel)]="speciesModel" (selectionChange)="numSubjects.setValue(null)" multiple>
                    <mat-option *ngFor="let species of speciesList" [value]="species.id">
                        <span matTooltip="{{species.species}}">{{species.species}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!--Number of Subjects-->
            <mat-form-field *ngIf="speciesModel!=null&&speciesModel.length>0" style="width:10%; padding-left:30px">
                <input matInput input="number" placeholder="Number of Subjects" [formControl]="numSubjects">
                <mat-error *ngIf="numSubjects.invalid">{{getErrorMessageNumSubjects()}}</mat-error>
            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                    <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                        <span matTooltip="{{sex.sex}}">{{sex.sex}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <mat-select placeholder="Select Strain(s)" [(ngModel)]="strainModel" multiple>
                    <mat-option *ngFor="let strain of strainList" [value]="strain.id">
                        <span matTooltip="{{strain.strain}}">{{strain.strain}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <br />

            <mat-form-field style="width:20%; padding-left:0px">
                <mat-select placeholder="Select Genotype(s)" [(ngModel)]="genotypeModel" multiple>
                    <mat-option *ngFor="let geno of genosList" [value]="geno.id">
                        <span matTooltip="{{geno.genotype}}">{{geno.genotype}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <mat-select placeholder="Select Age" [(ngModel)]="ageModel" multiple>
                    <mat-option *ngFor="let age of ageList" [value]="age.id">
                        {{age.ageInMonth}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <textarea matInput placeholder="Housing Info" [(ngModel)]="housingModel" matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <mat-form-field style="width:20%; padding-left:30px">
                <textarea matInput placeholder="Light Cycle Info" [(ngModel)]="lightModel" matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5"></textarea>
            </mat-form-field>
            <br />

            <br /><br />

            <span style="font-size:small">-  Please indicate if the experiment has intervention?</span>
            <mat-radio-group [formControl]="intervention" required>
                <!--<mat-radio-group required>-->
                <mat-radio-button value="false">No</mat-radio-button>
                <mat-radio-button value="true">Yes</mat-radio-button>
                <mat-error *ngIf="intervention.invalid">{{getErrorMessageIntervention()}}</mat-error>
            </mat-radio-group>

            <br />

            <mat-form-field class="full-width" *ngIf="intervention.value=='true'">
                <!--<mat-form-field class="full-width">-->
                <textarea matInput placeholder="Intervention Description" [(ngModel)]="intDesModel" matTextareaAutosize matAutosizeMinRows="2"
                          matAutosizeMaxRows="5"></textarea>
            </mat-form-field>

            <br />

            <!--Image Drop-down list if the selected task is PAL or PD-->
            <!--<div [hidden]="taskID != 3 && taskID != 4 && taskID != 11 && taskID!= 12">-->
            <!--<div>
        <mat-form-field class="full-width">-->
            <!--<mat-select [formControl]="imageInfo" placeholder="Select the images" [(ngModel)]="selectedImageVal" (selectionChange)="getSelectedImage(selectedImageVal)" multiple required>-->
            <!--<mat-select placeholder="Select the images">
        ma-->
            <!--<mat-option *ngFor="let image of imageList" [value]="image.id">
        <img src="{{image.imagePath}}" width="30" height="30" style="margin-top:15px;" />
    </mat-option>-->
            <!--</mat-select>-->
            <!--<mat-error *ngIf="imageInfo.invalid">{{getErrorMessageImage()}}</mat-error>-->
            <!--</mat-form-field>

    </div>


    <div>
        <mat-form-field class="full-width">

            <textarea matInput placeholder="Please explain why more than the required number of images selected for the task" [(ngModel)]="imgDesModel"
                      matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">

            </textarea>

        </mat-form-field>

    </div>-->

            <div>
                <mat-form-field class="full-width">

                    <textarea matInput placeholder="Task Battery" [(ngModel)]="taskBatteryModel"
                              matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
           
                    </textarea>
                </mat-form-field>

            </div>

        </mat-expansion-panel>

    </mat-accordion>

    <br />

    <div>
        <button *ngIf="!isEditMode" mat-raised-button color="accent" class="full-width"
                [disabled]="setDisabledVal()" (click)="addUpload()">
            Save Features
        </button>
        <button *ngIf="isEditMode" mat-raised-button color="accent" class="full-width"
                [disabled]="setDisabledVal()" (click)="editUpload()">
            Save Changes
        </button>
        <br />
        <!--<dropzone [config]="config" [disabled]="!isUploadAdded" [message]="'Click or drag your files here to upload'"
                  class="dropzone-container" (sending)="onSending($event)" (error)="onUploadError($event)"
                  (addedFile)="onAddedFile($event)" (queueComplete)="onQueueComplete($event)" (successMultiple)="onUploadSuccess($event)"></dropzone>-->
        <dropzone [config]="config"
                  [disabled]="!isUploadAdded"
                  [message]="'Click or drag your files here to upload'"
                  class="dropzone-container"
                  (sending)="onSending($event)"
                  (error)="onUploadError($event)"
                  (addedFile)="onAddedFile($event)"
                  (queueComplete)="onQueueComplete($event)"
                  (successMultiple)="onUploadSuccess($event)">
        </dropzone>
    </div>

    <br />

    <div *ngIf="isEditMode">

        <table class="docs-markdown-table">

            <thead>
                <tr><th colspan="6" style="text-align:center; padding: 15px 0px; text-transform: uppercase; color:#34495E;" class="docs-markdown-th">Files in {{uploadObj.name}}</th></tr>
                <tr style=" text-align: center; color:#465563;">
                    <td class="docs-markdown-td">File Name</td>
                    <td class="docs-markdown-td">Upload Date</td>
                    <td class="docs-markdown-td">Download</td>
                    <td class="docs-markdown-td-wide-errorMessage">Delete</td>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let file of uploadFileList">
                    <td style="text-align: center; color:#696d70;" class="docs-markdown-td">{{file.userFileName}}</td>
                    <td style="text-align: center; color:#696d70;" class="docs-markdown-td">{{file.dateUpload.split('T')[0]}}</td>
                    <td style="text-align: center; color:#696d70;" class="docs-markdown-td">
                        <button mat-icon-button matTooltip="Download File" (click)="downloadFile(file)"><mat-icon>get_app</mat-icon></button>
                    </td>
                    <td style="text-align: center; color:#696d70;" class="docs-markdown-td">
                        <button mat-icon-button matTooltip="Delete File" (click)="deleteFile(file)"><mat-icon>delete</mat-icon></button>
                    </td>
                </tr>
            </tbody>

        </table>

    </div>

    <br />

    <div *ngIf="isEditMode">
        <!--<button mat-raised-button>Upload File</button>-->
        <button mat-raised-button color="warn" class="full-width" (click)="deleteUpload()">Delete Upload</button>
    </div>

    <br />

</div>



