<div>
    
    <mat-dialog-content>
        <br />

        <div class="FirstTitle">Terms and Conditions of Use</div>
        <div class="Text">MouseBytes from The University of Western Ontario</div>
        <div class="Text"><b>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE. USE OF THIS SITE CONSTITUTES ACCEPTANCE OF THESE TERMS.</b></div>
        <br />
        <div class="Title">ACCEPTANCE OF TERMS</div>
        <div class="Text">
            Welcome to MouseBytes.ca (the "Site") from The University of Western Ontario ("Western").
            The Site is owned and operated by Western for your personal non-commercial use and information.
            By accessing the Site, you agree to be legally bound and to abide by these Terms of Use ("Terms and Conditions" or "Agreement") in their entirety,
            just as if you had signed this Agreement. If you do not agree, please do not use the Site. Western may amend or modify this Agreement or
            impose new conditions at any time. Your continued usage of the Site following the posting of any changes to the Agreement will mean you accept those changes.
            You should revisit this page periodically to review the Terms and Conditions to which you are bound.
        </div><br />

        <div class="Title">PROPRIETARY RIGHTS EXCEPT RESEARCH DATA</div>
        <div class="Text">
            The following does not include research data uploaded to the site. See ‘Research Data’ below. <br /><br />
            You acknowledge that the Site contains text, information, images, photographs, graphics, icons, trademarks, tradenames and other viewable
            material (collectively, "Content") that are protected by copyrights, trademarks, trade secrets or other proprietary rights, and that these rights
            are valid and protected in all forms, media and technologies existing now or subsequently developed. This Site and its Content are the sole and
            exclusive property of Western (unless otherwise noted) and are protected by Canada, United States and international copyright laws.
            While Western makes the Content available to all users of the Site, Western expressly retains all copyright and related proprietary rights in the Content.
            Accordingly, and in consideration of your using the Site, you agree that without the express prior written permission of Western, you will not, directly or
            indirectly, in any manner whatsoever: copy or distribute by any means the Content or any portion of it; mirror or include the Content or any portion of it
            on your own, or another, server or documents; or modify or re-use any portion of the Content. Notwithstanding the above, you may make a single copy of the
            Content for your own personal, non-commercial use, provided you keep intact all copyright and other proprietary notices. Western expressly reserves all other
            rights in the Content, and title to the Content remains with Western or its licensors. Any use of the Content not expressly permitted by these Terms and
            Conditions is a breach of these Terms and Conditions and may violate copyright, trademark, and other laws.
            MouseBytes, <a href="https://mousebytes.ca/home">www.mousebytes.ca</a>, the MouseBytes logo, Western, <a href="https://www.uwo.ca/">www.uwo.ca</a>,
            the Western logo and related marks are all registered and unregistered trademarks of Western and
            are the valuable property of Western. You agree that you will not reproduce any trademark of, or imply any endorsement or relationship with,
            Western or its licensors. Other product and company names and logos mentioned or appearing on the Site might be the trademarks or service
            marks of their respective owners. Nothing contained herein shall be construed as conferring any license or right under any of Western’s copyright,
            patent, trademark or proprietary rights, or those of any third party, whether expressly or by implication, estoppel, or otherwise.
            All rights not expressly granted herein are reserved to Western and its licensors. Western vigorously enforces its intellectual property rights
            and aggressively prevents their misuse.
        </div><br />


        <div class="Title">USE OF SITE AND CONTENT</div>
        <div class="Text">
            Western hereby grants you a non-exclusive, non-transferable license for the term hereof to access and download, display and print one copy of,
            the Content on any single computer, solely for your internal personal use, provided that you will not modify the Content in any way and that you retain
            all copyright and other proprietary notices displayed on the Content. You may not otherwise reproduce, modify, distribute, transmit, post or disclose
            the Content without Western's prior written consent.
        </div><br />

        <div class="Title">RESEARCH DATA</div>
        <div class="Text">
            The purpose of the Site is to present and share cognitive research data openly with other researchers,
            as well as integrate and visualize the data for the benefit of the research community.
            This includes but is not limited to mouse cognition, imaging and genomics data, provided by users of the Site (the “Data”). <br /><br />

            Exclusive of the Site and Content, all Data uploaded to the Site and downloaded from the Site is done so under Creative Commons CC0 1.0
            Universal Public Domain Dedication <a href="https://creativecommons.org/publicdomain/zero/1.0/">(https://creativecommons.org/publicdomain/zero/1.0/).</a> <br />

            By uploading your Data to MouseBytes, you acknowledge that the Data you upload is yours and by making the status of your Data public in MouseBytes,
            it will become part of the public domain under CC0. <br />

            By downloading any Data from MouseBytes, you acknowledge that the Data has been already dedicated to the public domain by the original uploader and you will use it accordance with CC0 1.0 terms.

        </div><br />

        <div class="Title">INTELLECTUAL PROPERTY POLICY</div>
        <div class="Text">
            Western respects the intellectual property of others and expects users of the Site to do the same. At its discretion and in appropriate circumstances,
            Western may terminate the accounts of users or prevent access to the Site by users who infringe upon the intellectual property rights of others.
            Western makes no claims that the Content or Data are appropriate or may be downloaded outside of Canada or the United States.
            Access to the Content or Data may not be legal by certain persons or in certain countries. If you access the Site from outside Canada or the United States,
            you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.
            Western will remove any material, Content or Data that infringes the copyright or other intellectual property right of any person.
            If you believe that your intellectual property right is infringed by any Content or Data on the Site please write to Western at the address shown
            on the Site setting out the particulars of your claim.
        </div><br />

        <div class="Title">THIRD PARTY SITES AND HOTLINKS</div>
        <div class="Text">
            Clicking on certain links within the Site will let you leave Western's Site. Western provides these links to you only as a convenience, and does not
            endorse the content on any third-party websites, or any site linked to a third-party website. The linked sites may not be under Western's control.
            Accordingly, Western is not responsible for the content of linked third-party sites, sites framed within Western's Site, or any third-party advertisements.
            Western does not make any representations regarding the accuracy, legality, decency or any other aspect of the content of such sites.
            These sites may contain information or material that some people may find inappropriate or offensive.
            Western is under no obligation to maintain any link on this Site and may remove a link at any time in its sole discretion for any reason whatsoever.
            Your use of third-party websites is at your own risk and subject to the terms and conditions of use for such sites.
            Western shall not be liable for any damages or costs arising out of or in any way connected with your use of any third-party websites accessed through this Site.
        </div><br />

        <div class="Title">GRANT OF LIMITED LICENSE</div>
        <div class="Text">
            From time to time, Western may, but is not obligated to, host a discussion forum on this Site. Western assumes no responsibility for information posted in
            connection with any such discussion forum. If you submit material to any such discussion forum, or post on the discussion forum, you warrant that
            the information contained therein is truthful, does not violate the rights or property interests of others, and is not unlawful, threatening, defamatory,
            vulgar, obscene or otherwise objectionable. You agree that you will not, directly or indirectly, in any manner whatsoever, use any such forum for:
            solicitation, advertisement or promotion of any business; any activity that is inconsistent with the purposes and intent of Western; or any illegal
            or unlawful purpose. You declare that Western may use and reproduce the material so submitted for any purpose and you hereby grant Western a non-exclusive,
            perpetual royalty-free license to and for such material. As a condition of submitting materials, you agree to waive any "moral rights" or other rights of
            authorship that may accrue or have accrued to you under any laws of any jurisdiction. Western reserves the right to investigate complaints that visitors
            may make about the content on the Site or the discussion forum. Western reserves the right to remove any content from the Site, in its sole and absolute
            discretion, at any time, and to terminate the privilege of any user to post on any discussion forum or to participate in other Western services if they
            misuse the posting privilege or violate this Agreement. By continuing to access this Site, and by submitting material to Western, you agree that you shall
            have no recourse against Western for any alleged or actual infringement or misappropriation of any proprietary rights in your communication to it.
            By submitting material, you confirm your understanding that you will not be entitled to any compensation or other remuneration because of Western's use
            or disclosure of such other similar or identical material. You hereby acknowledge that no fiduciary or confidential relationship exists between you and
            Western, either now or by reason of your submitting any information to it, unless you and Western have made and executed a separate written agreement to
            the contrary.
        </div><br />


        <div class="Title">DISCLAIMER OF WARRANTIES</div>
        <div class="Text">
            While Western uses reasonable efforts to include accurate and up-to-date information on this Site, it makes no representations as to the truth, accuracy,
            reliability, usefulness, timeliness and completeness of that information, and you should not rely upon it. Western does not guarantee that the Content or
            Data will be sufficient or appropriate for every individual or situation. The Site, the Content and the Data are provided on an "as is, as available" basis,
            and you use this site at your own risk. The Content may include technical inaccuracies or typographical errors. The Data is as uploaded by the creator and
            is not verified or warranted by Western. The information provided may not be suitable or appropriate for you. Western strongly urges you to contact a
            representative of Western before relying on any of the information provided on the Site. When using the Site, information will be transmitted over a medium
            that is beyond the control and jurisdiction of Western. Accordingly, Western assumes no liability for or relating to the delay, failure, interruption or
            corruption of any information transmitted in connection with use of the site. Western makes no warranty or representation that the Site will be available
            at any particular time or location, or that any defects or errors will be corrected. Western disclaims all liability for any computer viruses or other
            disabling computer code that may be loaded into user's computers when they download documents from this site. You are strongly advised to obtain and use
            appropriate anti-virus and security software. To the fullest extent permitted by law, Western disclaims all warranties, either express or implied, statutory
            or otherwise, including but not limited to the implied warranties of merchantability, non-infringement of third parties' rights, and fitness for particular
            purpose nor does Western make any warranty as to the results that may be obtained from the site.
        </div><br />

        <div class="Title">LIMITATION OF LIABILITY</div>
        <div class="Text">
            In no event whatsoever shall Western, its licensors, or any third parties mentioned on the Site be liable for any damages (including, without limitation,
            direct, special, indirect, incidental, consequential or punitive damages, personal injury/wrongful death, lost profits, or damages resulting from lost data
            or business interruption) resulting from the use (or inability to use) the Site, the Content, the Data, the information on or available through this Site,
            or arising out of any action taken in response to or as a result of any information available on the Site. This limitation applies whether the alleged
            liability is based on warranty, contract, tort or any other legal theory, and whether or not Western is advised of the possibility of such damages.
            You hereby waive any and all claims against Western and its affiliates, agents, representatives and licensors arising out of your use of the Site and
            the information available on it. You acknowledge that without these limitations, Western could not provide access to the Site. Some jurisdictions do not
            permit the exclusion or limitation of liability for incidental or consequential damages. Consequently, the above exclusion or limitation may not apply to you.
            In such jurisdictions, Western's liability shall be limited to the maximum extent permitted by law. California Residents:
            you expressly waive CA Civil Code §1542, which states: “A general release does not extend to claims which the creditor does not know or suspect to
            exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”
        </div><br />

        <div class="Title">INDEMNITY</div>
        <div class="Text">
            You agree to defend, indemnify, and hold harmless Western and its governors, officers, contractors, employees, agents, service providers and partners
            (“Indemnified Parties”), from and against any demands, losses, cost or debt, liabilities, claims or expenses (including reasonable legal fees) made
            against Western by any third party due to or arising out of or in connection with (i) your use of and access to the Site, including any data or content
            transmitted or received by you; (ii) your violation of any term of these Terms and Conditions of Use; (iii) your violation of any third-party right,
            including without limitation any right of privacy, right of publicity or intellectual property rights; (iv) your violation of any applicable law,
            rule or regulation; (v) your content or data or any that is submitted by you; or (vi) any other party’s access and use of the Site with your unique username,
            password, or other appropriate security code.
        </div><br />

        <div class="Title">CHOICE OF LAW AND FORUM</div>
        <div class="Text">
            This Agreement shall be governed by and construed in accordance with the laws of the Province of Ontario and the laws of Canada applicable therein.
            You expressly agree that any action arising out of or relating to this Agreement shall be filed only in a court located in Ontario and you irrevocably
            and absolutely consent and submit to the jurisdiction of such courts for the purposes of litigating any such action.
        </div><br />

        <div class="Title">INTEGRATION, SEVERABILITY, AND WAIVER</div>
        <div class="Text">
            This Agreement constitutes the entire agreement between the parties with respect to the subject matter contained herein and supersedes all previous and
            contemporaneous agreements, proposals and communications, written or oral, between Western and/or its representatives and you. If any provision of these
            Terms and Conditions is found to be invalid or unenforceable, the invalidity of such provision shall not affect the validity of the remaining provisions
            of these Terms and Conditions, which shall remain in full force and effect. No waiver of any of these Terms and Conditions shall be deemed a further or
            continuing waiver of such term or condition or any other term or condition.
        </div><br />

        <div class="Title">SURVIVAL OF TERMS</div>
        <div class="Text">
            These Terms and Conditions apply while you are accessing the Site and while you are in possession, in any form whatsoever, of any Content or Data or any
            portion thereof. Notwithstanding the foregoing, the provisions set out in this Agreement relating to Proprietary Rights Except Research Data, Use of Site and
            Content, Research Data, Intellectual Property Policy, Disclaimer of Warranties, Limitation of Liability and Indemnity shall survive the termination of this
            Agreement and shall survive thereafter in perpetuity.
        </div><br />

    </mat-dialog-content>
    <br />

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">Close</button>
    </mat-dialog-actions>

</div>
