.FirstTitle {
    padding: 10px 50px 20px 0px;
    font-size: 30px;
    font-weight: bold;
    color: #4F2683;
    text-align: Left;
    margin-left: 50px;
    margin-right: 50px;
}

.Text {
    padding: 0px 50px 10px 0px;
    font-size: 15px;
    color: #686868;
    text-align: Left;
    margin-left: 50px;
    margin-right: 50px;
}

.Title {
    padding: 0px 50px 10px 0px;
    text-transform: uppercase;
    font-size: 20px;
    color: #4F2683;
    text-align: Left;
    margin-left: 50px;
    margin-right: 50px;
}
