<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>MOUSEBYTES REPOSITORIES</h1></div>

<div>
    <!-- <div class="content">
        <p style="padding-left:50px; line-height: 1.8;">
            Touchscreen datasets can be coupled with different neuro-technologies such as fiber photometry, miniscopes, optogenetics, MRI, PET, and OMICs analysis to evaluate the brain basis of behaviour.
            In this new feature of MouseBytes, users can upload processed datasets, scripts and codes related to these and other technologies and link them to cognitive data in MouseBytes and raw data in
            other repositories using Digital Object Identifier (DOI).
            <br /><br />
            The following file types are supported: csv, xls/xlsx, ppt/pptm/pptx, doc/docm/docx, pdf, txt, xml, jpg/jpeg, avi, mp3, mp4/mp4v, h5, png, bak, c, cpp, r, py, zip, tar, rar. If your file type is not listed, please compress your file(s) in a zip, tar, or rar format before uploading. If there is an important file type missing from the list, please contact the administrator.


        </p>

    </div> -->

    <!--<app-shared-pubscreen></app-shared-pubscreen>-->
    <!--***********************************************************************************************************
    ***************************************************************************************************************-->
    <div style="padding-top:12px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large" colspan="2">Your Repositories</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td class="docs-markdown-td" style="vertical-align: top; width: 250px; padding: 13px 16px;">
                        <div>
                            <div style="padding-bottom:10px" *ngIf="(isAdmin || isUser); else other_content">
                                <label>Add new repository: </label>
                                <button mat-icon-button matTooltip="Add new repository" (click)="openDialogAddRepository()"><mat-icon>add</mat-icon></button>
                                <br />

                                <!--Repository List-->
                                <mat-form-field style="padding-left:0px">
                                    <mat-select matInput placeholder="Your repositories" [(ngModel)]="repModel" (openedChange)="GetRepositories()" (selectionChange)="GetUploads()">
                                        <mat-option [value]="null">-</mat-option>
                                        <mat-option *ngFor="let rep of repList" [value]="rep.id">
                                            <span matTooltip="{{rep.title}}">{{rep.title}}</span>
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                                <!--<span *ngIf="repModel != null" style="padding-left: 20px;">
                                    <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                                </span>&nbsp;-->
                            </div>

                            <ng-template #other_content><span style="color:red">You must log in to create a repository!</span></ng-template>

                        </div>
                    </td>
                    <td class="docs-markdown-td" style="vertical-align:top;">
                        <div *ngIf="repModel !== null">
                            <div style="float:left; padding-top:10px;">
                                <label style="color:#465563;">
                                    {{getRep().title}} Information
                                </label>
                            </div>
                            <span style="float:right; padding-left: 20px;">
                                <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                            </span>
                            <div style="clear:both"></div>
                            <hr /><br />
                            <label>Repository Link:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='"<a href=" + getLinkURL() + " target=_blank>" + getLinkURL() + "</a>"'></span><br /><br />
                            <label>Authors:</label> <span style="color:#696d70;">{{getRepAuthorString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Touchscreen Site(s):</label> &nbsp; <span style="color:#696d70;">{{getRepPIString(getRep())}}</span><br /><br />
                            <label>Keywords:</label>&nbsp; <span style="color:#696d70;">{{( getRep().keywords ==="") ?  "N/A" : getRep().keywords}}</span> &nbsp; &nbsp; &nbsp;
                            <label>DOI:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='( getRep().doi ==="") ?  "N/A" : "<a href=http://www.doi.org/" + getRep().doi + " target=_blank>" + getRep().doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                            <label>Date:</label> &nbsp; <span style="color:#696d70;">{{( getRep().date.slice(0, -12) ==="") ?  "N/A" : getRep().date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Link:</label> &nbsp; <span style="color:#696d70;">{{( getRep().link ==="") ?  "N/A" : getRep().link}}</span>&nbsp; &nbsp; &nbsp;
                            <label>Status:</label> &nbsp; <span style="color:#696d70;">{{getRep().privacyStatus === true ? 'Public' : 'Private'}}</span> <br /><br />
                            <label>Description:</label> &nbsp; <span style="color:#696d70;">{{( getRep().description ==="") ?  "N/A" : getRep().description}}</span><br /><br />
                            <label>Additional Notes:</label> &nbsp; <span style="color:#696d70;">{{( getRep().additionalNotes ==="") ?  "N/A" : getRep().additionalNotes}}</span><br /><br />

                            <label>Cognitive Task(s):</label>&nbsp; <span style="color:#696d70;">{{getRepCognitiveTaskString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Species:</label>&nbsp; <span style="color:#696d70;">{{getRepSpeciesString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Number of Subjects:</label>&nbsp; <span style="color:#696d70;">{{getRep().numSubjects || 'N/A'}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Sex:</label>&nbsp; <span style="color:#696d70;">{{getRepSexString(getRep())}}</span><br /><br />

                            <label>Strain(s):</label>&nbsp; <span style="color:#696d70;">{{getRepStrainString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Genotype(s):</label>&nbsp; <span style="color:#696d70;">{{getRepGenotypeString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Start Age:</label>&nbsp; <span style="color:#696d70;">{{getRepAgeString(getRep()).startAge}}</span><br /><br />
                            <label>End Age:</label>&nbsp; <span style="color:#696d70;">{{getRepAgeString(getRep()).endAge}}</span><br /><br />
                            <label>Rodent Model(s):</label>&nbsp; <span style="color:#696d70;">{{getRepDiseaseModelString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Sub-Rodent Model(s):</label>&nbsp; <span style="color:#696d70;">{{getRepSubModelString(getRep())}}</span><br /><br />
                            <label>Anatomical Region(s):</label>&nbsp; <span style="color:#696d70;">{{getRepRegionString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Sub-Anatomical Region(s):</label>&nbsp; <span style="color:#696d70;">{{getRepSubRegionString(getRep())}}</span><br /><br />
                            <label>Cell Type(s):</label>&nbsp; <span style="color:#696d70;">{{getRepCellTypeString(getRep())}}</span><br /><br />

                            <label>Method(s):</label>&nbsp; <span style="color:#696d70;">{{getRepMethodString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Sub-Method(s):</label>&nbsp; <span style="color:#696d70;">{{getRepSubMethodString(getRep())}}</span><br /><br />
                            <label>Neurochemical(s):</label>&nbsp; <span style="color:#696d70;">{{getRepNeurotransmitterString(getRep())}}</span><br /><br />

                            <label>Housing Info:</label>&nbsp; <span style="color:#696d70;">{{getRep().housingModel || 'N/A'}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Light Cycle Info:</label>&nbsp; <span style="color:#696d70;">{{getRep().lightModel || 'N/A'}}</span><br /><br />

                            <mat-expansion-panel *ngIf="getRep().paper !== null">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span style="color: #A569BD;">Touchscreen publications associated to this repository:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table>
                                        <tr><td><span style="color:#696d70;" [innerHTML]='"<a href=http://localhost:4200/pubScreen-edit?paperlinkguid=" + getRep().paper.paperLinkGuid + " target=_blank><label>Pubscreen Link</label></a>"'></span></td></tr>
                                        <tr><td>Title:&nbsp; <span style="color:#696d70;">{{getRep().paper.title}}</span></td></tr>
                                        <tr><td>Author(s): &nbsp; <span style="color:#696d70;">{{getRep().paper.author}}</span></td></tr>
                                        <tr><td>Year:&nbsp; <span style="color:#696d70;">{{getRep().paper.year}}</span></td></tr>
                                </table>

                            </mat-expansion-panel>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />

    <!--<span style="padding-left:5%;"><button mat-raised-button color="primary" *ngIf="repModel!=null" (click)="getLink(repModel)">Generate Unique Link for your Repository</button></span>

    <br />-->

    <div *ngIf="repModel !== null" style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">{{getRep().title}} Files</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="panelOpenState"
                                             (opened)="panelOpenState=true" (closed)="panelOpenState=false" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    New upload: &nbsp;&nbsp;
                                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                                </mat-panel-title>


                            </mat-expansion-panel-header>

                            <app-cogbytes-upload [repID]="getRep().id" [isEditMode]="false" (filesUploaded)="NewUpload($event)" (repChange)="ClosePanel($event)"></app-cogbytes-upload>

                        </mat-expansion-panel>

                        <br />

                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let upload of uploadList">
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="font-weight:bold; color:#918796;">
                                        {{upload.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <app-cogbytes-upload [repID]="getRep().id" [isEditMode]="true" [uploadObj]="upload" (filesUploaded)="GetUploads($event)"></app-cogbytes-upload>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="repModel !== null" style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">{{getRep().title}} Touchscreen Datasets</th>
                </tr>
            </thead>
            <tr>
                <td style="padding: 13px 16px;">
                    <button mat-icon-button matTooltip="Add Touchscreen Dataset" (click)="createNewTouchscreenDataset(null)"><mat-icon>add</mat-icon></button>
                    <label>Add Touchscreen Dataset</label>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let exp of experiments">
                            <mat-expansion-panel-header>
                                <mat-panel-title>{{exp.expName}}</mat-panel-title>
                                <button mat-button matTooltip="Edit Touchscreen Dataset" (click)="createNewTouchscreenDataset(exp)">Edit</button>
                                <button mat-button matTooltip="Delete Touchscreen Dataset" (click)="openConfirmationDialog(exp.expID)" color="warn" style="margin-right: 2%">Delete</button>
                            </mat-expansion-panel-header>

                            <div class="experiment-details">
                                <label>Experiment name:</label>&nbsp; <span style="color:#696d70;">{{exp.expName}}</span>&nbsp; &nbsp; &nbsp;
                                <label>Task name:</label> &nbsp; <span style="color:#696d70;">{{exp.taskName}}</span>&nbsp; &nbsp; &nbsp;
                                <label>Species:</label> &nbsp; <span style="color:#696d70;">{{exp.species}}</span>&nbsp; &nbsp; &nbsp;
                                <br /><br />
                                <label>Start date:</label>&nbsp; <span style="color:#696d70;">{{exp.startExpDate | date: 'dd/MM/yyyy'}}</span>&nbsp; &nbsp; &nbsp;
                                <label>End date:</label> &nbsp; <span style="color:#696d70;">{{exp.endExpDate | date: 'dd/MM/yyyy'}}</span>&nbsp; &nbsp; &nbsp;
                                <label>Status:</label> &nbsp; <span style="color:#696d70;">{{exp.status === true ? 'Public' : 'Private'}}</span> <br /><br />
                                <label>Experiment description:</label>&nbsp;&nbsp; <span style="color:#696d70;">{{exp.taskDescription}}</span><br /><br />
                                <label>Battery of Tasks:</label>&nbsp;&nbsp; <span style="color:#696d70;">{{exp.taskBattery}}</span><br /><br />
                                <label>PI and Institution:</label>&nbsp;&nbsp; <span style="color:#696d70;">{{exp.piSiteName}}</span><br /><br />
                                <label>DOI:</label>&nbsp;&nbsp; <a href="{{'http://www.doi.org/' + exp.doi}}" target="_blank" style="color:#696d70;">{{exp.doi}}</a><br /><br />
                                <label>Multiple sessions for an animal within a single day?:</label> &nbsp; <span style="color:#696d70;">{{exp.multipleSessions === true ? 'Yes' : 'No'}}</span> <br /><br />
                            </div>

                            <hr>

                            <div>
                                <h4>Sub-Experiments
                                    <button mat-icon-button matTooltip="Create Sub-Experiment" (click)="createSubExperiment(exp)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </h4>

                                <mat-accordion *ngIf="exp.subexperiment && exp.subexperiment.length > 0">
                                    <mat-expansion-panel *ngFor="let subExp of exp.subexperiment">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>{{subExp.subExpName}}</mat-panel-title>
                                            <button mat-button (click)="openDialogSubExp(subExp, exp.expID)">Edit</button>
                                            <button mat-button color="warn" (click)="delSubExp(subExp)" style="margin-right: 2%">Delete</button>
                                        </mat-expansion-panel-header>

                                        <div>
                                            <p><b>Sub-exp Name:</b> {{subExp.subExpName}}</p>
                                            <p *ngIf="!subExp.isIntervention && !subExp.isDrug"><b>Housing:</b> {{subExp.housing}}, <br /> <b>LightCycle:</b> {{subExp.lightCycle}}</p>
                                            <p *ngIf="subExp.isIntervention && subExp.isDrug"><b>Housing:</b> {{subExp.housing}}, <br /> <b>LightCycle:</b> {{subExp.lightCycle}}, <br /> <b>Drug Name:</b> {{subExp.drugName}},<br /> <b>Drug Quantity</b>: {{subExp.drugQuantity}}, <br /> <b>Drug Unit:</b> {{subExp.drugUnit}}</p>
                                            <p *ngIf="subExp.isIntervention && !subExp.isDrug"><b>Housing:</b> {{subExp.housing}}, <br /> <b>LightCycle:</b> {{subExp.lightCycle}}, <br /> <b>Intervention Description:</b> {{subExp.interventionDescription}}</p>
                                            <p><b>Animal Age:</b> {{subExp.ageInMonth}}</p>
                                            <p *ngIf="exp.taskID === 3 || exp.taskID === 4"><b>Images:</b> <span [innerHTML]="subExp.imageInfo"></span><span *ngIf="subExp.imageDescription!==''"><mat-icon matTooltip="{{subExp.imageDescription}}">help</mat-icon></span></p>
                                            <p><b>Status:</b> <span *ngIf="subExp.isPostProcessingPass"><mat-icon style="color:#2ECC71;">check_circle</mat-icon></span><span *ngIf="!subExp.isPostProcessingPass"><mat-icon color="warn">clear</mat-icon></span></p>
                                        </div>

                                        <mat-action-row>
                                            <button mat-button [matMenuTriggerFor]="uploadMenu">Upload Data</button>
                                            <mat-menu #uploadMenu="matMenu">
                                                <button mat-menu-item (click)="openUploadDialog(exp,subExp)">Summary Data Upload</button>
                                                <button mat-menu-item (click)="openTimeSeriesUploadDialog(exp,subExp)">Time Series Data Upload</button>
                                            </mat-menu>
                                            <button mat-button (click)="openUploadResultDialog(subExp)">Upload Results</button>
                                        </mat-action-row>
                                        <mat-action-row>
                                            <button mat-button (click)="runPostQC(subExp)" [disabled]="subExp.isPostProcessingPass">Quality Control Check</button>
                                            <button mat-button (click)="openPostProcessingResult(subExp.subExpID)" [disabled]="subExp.errorMessage === ''">Quality Control Results</button>
                                        </mat-action-row>

                                    </mat-expansion-panel>
                                </mat-accordion>
                                <p *ngIf="!exp.subexperiment || exp.subexperiment.length === 0">No sub-experiments found.</p>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </td>
            </tr>
        </table>
    </div>

    <div *ngIf="repModel !== null" style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;" colspan="5">Animals</th>
                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="vertical-align: top; padding: 13px 16px;" colspan="5">
                        <div class="table-header">
                            <mat-form-field>
                                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>
                        </div>
                        <table mat-table [dataSource]="dataSource" class="docs-markdown-table">
                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                                  [checked]="selection.hasValue() && isAllSelected()"
                                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                                  (change)="$event ? selection.toggle(row) : null"
                                                  [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                            <!-- Animal ID Column -->
                            <ng-container matColumnDef="animalId">
                                <th mat-header-cell *matHeaderCellDef> Animal ID </th>
                                <td mat-cell *matCellDef="let row" (click)="addNewAnimal(row)" style="user-select: none;">
                                    {{row.userAnimalID}}
                                </td>
                            </ng-container>
                            <!-- Sex Column -->
                            <ng-container matColumnDef="sex">
                                <th mat-header-cell *matHeaderCellDef> Sex </th>
                                <td mat-cell *matCellDef="let row"> {{row.sex}} </td>
                            </ng-container>
                            <!-- Strain Column -->
                            <ng-container matColumnDef="strain">
                                <th mat-header-cell *matHeaderCellDef> Strain </th>
                                <td mat-cell *matCellDef="let row"> {{row.strain}} </td>
                            </ng-container>
                            <!-- Genotype Column -->
                            <ng-container matColumnDef="genotype">
                                <th mat-header-cell *matHeaderCellDef> Genotype </th>
                                <td mat-cell *matCellDef="let row"> {{row.genotype}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="table-footer">
                            <button mat-raised-button color="primary" (click)="addNewAnimal(null)">Add Animal</button>
                            <button mat-raised-button color="warn" [disabled]="selection.isEmpty()" (click)="deleteSelectedAnimals()">Delete Selected</button>
                            <button mat-raised-button [disabled]="selection.isEmpty()" (click)="duplicateSelectedAnimals()">Duplicate Selected</button>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <!--<div>
        <app-cogbytesSearch></app-cogbytesSearch>
    </div>-->
    <!--<div>
        <mat-expansion-panel style="width:90%; margin-left: 85px">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Upload file(s):
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-cogbytesUpload></app-cogbytesUpload>

        </mat-expansion-panel>
    </div>-->

</div>
