<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>MOUSEBYTES LITE</h1></div>

<div>
    <div class="content">
        <p style="padding-left:50px">
            Mousebytes Lite ... [<i>insert text here</i>]
        </p>

    </div>

    <!--<app-shared-pubscreen></app-shared-pubscreen>-->
    <!--***********************************************************************************************************
    ***************************************************************************************************************-->
    <div style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large" colspan="2">Your Repositories</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td class="docs-markdown-td" style="vertical-align: top; width: 250px; padding: 13px 16px;">
                        <div>
                            <div style="padding-bottom:10px" *ngIf="(isAdmin || isUser); else other_content">
                                <label>Add new repository: </label>
                                <button mat-icon-button matTooltip="Add new repository" (click)="openDialogAddRepository()"><mat-icon>add</mat-icon></button>
                                <br />

                                <!--Repository List-->
                                <mat-form-field style="padding-left:0px">
                                    <mat-select matInput placeholder="Your repositories" [(ngModel)]="repModel" (openedChange)="GetRepositories()" (selectionChange)="GetUploads()">
                                        <mat-option>-</mat-option>
                                        <mat-option *ngFor="let rep of repList" [value]="rep.title">
                                            {{rep.title}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                                <!--<span *ngIf="repModel != null" style="padding-left: 20px;">
                                    <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                                </span>&nbsp;-->
                            </div>

                            <ng-template #other_content><span style="color:red">You must log in to create a repository!</span></ng-template>

                        </div>
                    </td>
                    <td class="docs-markdown-td" style="vertical-align:top;">
                        <div *ngIf="repModel != null">
                            <div style="float:left; padding-top:10px;">
                                <label style="color:#566573;">
                                    {{repModel}} Information
                                </label>
                            </div>
                            <span style="float:right; padding-left: 20px;">
                                <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                            </span>
                            <div style="clear:both"></div>
                            <hr /><br />
                            <label>Authors:</label> &nbsp; <span style="color:#909497;">{{getRepAuthorString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>PIs:</label> &nbsp; <span style="color:#909497;">{{getRepPIString(getRep())}}</span><br /><br />
                            <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( getRep().keywords =="") ?  "N/A" : getRep().keywords}}</span> &nbsp; &nbsp; &nbsp;
                            <label>DOI:</label>&nbsp; <span style="color:#909497;">{{( getRep().doi =="") ?  "N/A" : getRep().doi}}</span>&nbsp; &nbsp; &nbsp;
                            <label>Date:</label> &nbsp; <span style="color:#909497;">{{( getRep().date.slice(0, -12) =="") ?  "N/A" : getRep().date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Link:</label> &nbsp; <span style="color:#909497;">{{( getRep().link ==="") ?  "N/A" : getRep().link}}</span>&nbsp; &nbsp; &nbsp;
                            <label>Status:</label> &nbsp; <span style="color:#909497;">{{getRep().privacyStatus == true ? 'Public' : 'Private'}}</span> <br /><br />
                            <label>Description:</label> &nbsp; <span style="color:#909497;">{{( getRep().description ==="") ?  "N/A" : getRep().description}}</span><br /><br />
                            <label>Additional Notes:</label> &nbsp; <span style="color:#909497;">{{( getRep().additionalNotes ==="") ?  "N/A" : getRep().additionalNotes}}</span><br /><br />

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />

    <div *ngIf="repModel != null" style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">{{repModel}} Files</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="panelOpenState"
                                             (opened)="panelOpenState=true" (closed)="panelOpenState=false" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    New upload: &nbsp;&nbsp;
                                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                                </mat-panel-title>
                                

                            </mat-expansion-panel-header>

                            <app-cogbytesUpload [repID]="getRep().id" [isEditMode]="false" (filesUploaded)="NewUpload($event)" (repChange)="ClosePanel($event)"></app-cogbytesUpload>

                        </mat-expansion-panel>

                        <br />

                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let upload of uploadList">
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="font-weight:bold; color:#918796;">
                                        {{upload.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <app-cogbytesUpload [repID]="getRep().id" [isEditMode]="true" [uploadObj]="upload" (filesUploaded)="GetUploads($event)"></app-cogbytesUpload>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <!--<div>
        <app-cogbytesSearch></app-cogbytesSearch>
    </div>-->
    

    <!--<div>
        <mat-expansion-panel style="width:90%; margin-left: 85px">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Upload file(s):
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-cogbytesUpload></app-cogbytesUpload>

        </mat-expansion-panel>
    </div>-->

</div>
