<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>MOUSEBYTES+ DATA REPOSITORIES</h1></div>

<div>
    <div class="content">
        <p style="padding-left:50px; line-height: 1.8;">
            Touchscreen datasets can be coupled with different neuro-technologies such as fiber photometry, miniscopes, optogenetics, MRI, PET, and OMICs analysis to evaluate the brain basis of behaviour.
            In this new feature of MouseBytes, users can upload processed datasets, scripts and codes related to these and other technologies and link them to cognitive data in MouseBytes and raw data in
            other repositories using Digital Object Identifier (DOI).
            <br /><br />
            The following file types are supported: csv, xls/xlsx, ppt/pptm/pptx, doc/docm/docx, pdf, txt, xml, jpg/jpeg, avi, mp3, mp4/mp4v, h5, png, bak, c, cpp, r, py, zip, tar, rar. If your file type is not listed, please compress your file(s) in a zip, tar, or rar format before uploading. If there is an important file type missing from the list, please contact the administrator.


        </p>

    </div>

    <!--<app-shared-pubscreen></app-shared-pubscreen>-->
    <!--***********************************************************************************************************
    ***************************************************************************************************************-->
    <div style="padding-top:12px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large" colspan="2">Your Repositories</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td class="docs-markdown-td" style="vertical-align: top; width: 250px; padding: 13px 16px;">
                        <div>
                            <div style="padding-bottom:10px" *ngIf="(isAdmin || isUser); else other_content">
                                <label>Add new repository: </label>
                                <button mat-icon-button matTooltip="Add new repository" (click)="openDialogAddRepository()"><mat-icon>add</mat-icon></button>
                                <br />

                                <!--Repository List-->
                                <mat-form-field style="padding-left:0px">
                                    <mat-select matInput placeholder="Your repositories" [(ngModel)]="repModel" (openedChange)="GetRepositories()" (selectionChange)="GetUploads()">
                                        <mat-option [value]="null">-</mat-option>
                                        <mat-option *ngFor="let rep of repList" [value]="rep.id">
                                            <span matTooltip="{{rep.title}}">{{rep.title}}</span>
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                                <!--<span *ngIf="repModel != null" style="padding-left: 20px;">
                                    <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                    <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                                </span>&nbsp;-->
                            </div>

                            <ng-template #other_content><span style="color:red">You must log in to create a repository!</span></ng-template>

                        </div>
                    </td>
                    <td class="docs-markdown-td" style="vertical-align:top;">
                        <div *ngIf="repModel !== null">
                            <div style="float:left; padding-top:10px;">
                                <label style="color:#465563;">
                                    {{getRep().title}} Information
                                </label>
                            </div>
                            <span style="float:right; padding-left: 20px;">
                                <button mat-icon-button matTooltip="Edit Repository" (click)="openDialogEditRepository()"><mat-icon>edit</mat-icon></button>
                                <button mat-icon-button matTooltip="Delete Repository" (click)="deleteRepository()" color="warn"><mat-icon>delete</mat-icon></button>
                            </span>
                            <div style="clear:both"></div>
                            <hr /><br />
                            <label>Repository Link:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='"<a href=" + getLinkURL() + " target=_blank>" + getLinkURL() + "</a>"'></span><br /><br />
                            <label>Authors:</label> <span style="color:#696d70;">{{getRepAuthorString(getRep())}}</span> &nbsp; &nbsp; &nbsp;
                            <label>PIs:</label> &nbsp; <span style="color:#696d70;">{{getRepPIString(getRep())}}</span><br /><br />
                            <label>Keywords:</label>&nbsp; <span style="color:#696d70;">{{( getRep().keywords ==="") ?  "N/A" : getRep().keywords}}</span> &nbsp; &nbsp; &nbsp;
                            <label>DOI:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='( getRep().doi ==="") ?  "N/A" : "<a href=http://www.doi.org/" + getRep().doi + " target=_blank>" + getRep().doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                            <label>Date:</label> &nbsp; <span style="color:#696d70;">{{( getRep().date.slice(0, -12) ==="") ?  "N/A" : getRep().date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Link:</label> &nbsp; <span style="color:#696d70;">{{( getRep().link ==="") ?  "N/A" : getRep().link}}</span>&nbsp; &nbsp; &nbsp;
                            <label>Status:</label> &nbsp; <span style="color:#696d70;">{{getRep().privacyStatus === true ? 'Public' : 'Private'}}</span> <br /><br />
                            <label>Description:</label> &nbsp; <span style="color:#696d70;">{{( getRep().description ==="") ?  "N/A" : getRep().description}}</span><br /><br />
                            <label>Additional Notes:</label> &nbsp; <span style="color:#696d70;">{{( getRep().additionalNotes ==="") ?  "N/A" : getRep().additionalNotes}}</span><br /><br />

                            <mat-expansion-panel *ngIf="getRep().experiment.length>0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span style="color: #A569BD;">MouseBytes datasets associated to this repository:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
                                <table>
                                    <tr *ngFor="let exp of getRep().experiment">
                                        <td>Experiment Name:&nbsp; <span style="color:#696d70;">{{exp.expName}}</span></td>
                                        <td>Task Name: &nbsp; <span style="color:#696d70;">{{exp.taskName}}</span></td>
                                        <td>Status:&nbsp; <span style="color:#696d70;">{{exp.status ? "Public" : "Private"}}</span></td>
                                    </tr>
                                </table>

                            </mat-expansion-panel>
                            <mat-expansion-panel *ngIf="getRep().paper !== null">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span style="color: #A569BD;">Touchscreen publications associated to this repository:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table>
                                        <tr><td><span style="color:#696d70;" [innerHTML]='"<a href=http://localhost:4200/pubScreen-edit?paperlinkguid=" + getRep().paper.paperLinkGuid + " target=_blank><label>Pubscreen Link</label></a>"'></span></td></tr>
                                        <tr><td>Title:&nbsp; <span style="color:#696d70;">{{getRep().paper.title}}</span></td></tr>
                                        <tr><td>Author(s): &nbsp; <span style="color:#696d70;">{{getRep().paper.author}}</span></td></tr>
                                        <tr><td>Year:&nbsp; <span style="color:#696d70;">{{getRep().paper.year}}</span></td></tr>
                                </table>

                            </mat-expansion-panel>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />

    <!--<span style="padding-left:5%;"><button mat-raised-button color="primary" *ngIf="repModel!=null" (click)="getLink(repModel)">Generate Unique Link for your Repository</button></span>

    <br />-->

    <div *ngIf="repModel !== null" style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">{{getRep().title}} Files</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">
                        <mat-expansion-panel class="mat-elevation-z0" [expanded]="panelOpenState"
                                             (opened)="panelOpenState=true" (closed)="panelOpenState=false" hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    New upload: &nbsp;&nbsp;
                                    <mat-icon *ngIf="!panelOpenState">add</mat-icon>
                                </mat-panel-title>


                            </mat-expansion-panel-header>

                            <app-cogbytes-upload [repID]="getRep().id" [isEditMode]="false" (filesUploaded)="NewUpload($event)" (repChange)="ClosePanel($event)"></app-cogbytes-upload>

                        </mat-expansion-panel>

                        <br />

                        <mat-accordion>
                            <mat-expansion-panel *ngFor="let upload of uploadList">
                                <mat-expansion-panel-header>
                                    <mat-panel-title style="font-weight:bold; color:#918796;">
                                        {{upload.name}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>

                                <app-cogbytes-upload [repID]="getRep().id" [isEditMode]="true" [uploadObj]="upload" (filesUploaded)="GetUploads($event)"></app-cogbytes-upload>

                            </mat-expansion-panel>
                        </mat-accordion>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br />
    <!--<div>
        <app-cogbytesSearch></app-cogbytesSearch>
    </div>-->
    <!--<div>
        <mat-expansion-panel style="width:90%; margin-left: 85px">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Upload file(s):
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-cogbytesUpload></app-cogbytesUpload>

        </mat-expansion-panel>
    </div>-->

</div>
