<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>PUBSCREEN QUEUE</h1></div>

<div *ngIf="!isAdmin">
    <p style="padding-left:50px"><span style="color:red">Access denied to non-admin accounts (if you are an admin, please log in).</span></p>
</div>

<div *ngIf="isAdmin">

    <div class="content">
        <p style="padding-left:50px">
            All papers here were recently added from Pubmed search, to be accepted or rejected into PubScreen.
        </p>

    </div>

    <br />

    <table class="docs-markdown-table">
        <thead>
            <tr>
                <th colspan="4" class="docs-markdown-th" style="background-color:#bab9b6">List of Papers in Queue</th>

            </tr>

            <tr style=" text-align: center; color:#566573;">
                <td class="docs-markdown-td">Paper Info</td>
                <td class="docs-markdown-td">Date Added to Queue</td>
                <td class="docs-markdown-td">Accept</td>
                <td class="docs-markdown-td">Reject</td>
            </tr>
        </thead>

        <tbody class="docs-markdown-tbody">
            <tr style="border-bottom:1pt solid #8D8E90;" *ngIf="pubmedQueue?.length == 0">
                <td colspan="4"><i>Queue empty - all papers have been processed!</i></td>
            </tr>
            <tr style="border-bottom:1pt solid #8D8E90;" *ngFor="let row of pubmedQueue">
                <td>
                    <label>Title:</label> &nbsp; <span style="color:#909497;">{{( row.title ==="") ?  "N/A" : row.title}}</span><br /><br />
                    <label>DOI:</label>&nbsp; <span style="color:#909497;" [innerHTML]='"<a href=http://www.doi.org/" + row.doi + " target=_blank>" + row.doi + "</a>"'></span>
                </td>
                <td style='text-align:center;'>
                    <label>{{row.queueDate.substring(0,10)}}</label>
                </td>
                <td style='text-align:center;'>
                    <button mat-raised-button (click)="acceptPub(row.pubmedID)">Accept</button>
                </td>
                <td style='text-align:center;'>
                    <button mat-raised-button (click)="rejectPub(row.pubmedID)">Reject</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!--<td>
    <label style="color:#8D8E90"><b>Paper Information:</b></label>
    <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Edit Publication" (click)="openDialogEditPublication(row)"><mat-icon>edit</mat-icon></button></span>&nbsp;
    <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Delete Publication" (click)="delPub(row)" color="warn"><mat-icon>delete</mat-icon></button></span>&nbsp;
    <div style="clear:both"></div>
    <br /><br />

    <label>Title:</label> &nbsp; <span style="color:#909497;">{{( row.title ==="") ?  "N/A" : row.title}}</span><br /><br />
    <label>Authors:</label> &nbsp; <span style="color:#909497;">{{( row.author =="") ?  "N/A" : row.author}}</span><br /><br />
    <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( row.keywords =="") ?  "N/A" : row.keywords}}</span> &nbsp; &nbsp; &nbsp;-->
    <!--<label>DOI:</label>&nbsp; <span style="color:#909497;">{{( row.doi =="") ?  "N/A" : row.doi}}</span>&nbsp; &nbsp; &nbsp;-->
    <!--<label>DOI:</label>&nbsp; <span style="color:#909497;" [innerHTML]='( row.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + row.doi + " target=_blank>" + row.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
        <label>Year:</label> &nbsp; <span style="color:#909497;">{{( row.year =="") ?  "N/A" : row.year}}</span> &nbsp; &nbsp; &nbsp;
        <label>Paper Type:</label> &nbsp; <span style="color:#909497;">{{( row.paperType =="") ?  "N/A" : row.paperType}}</span><br /><br />

        <label style="color:#8D8E90"><b>Key Features:</b></label> <br /><br />

        <label>Task Category:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.task =="") ?  "N/A" : (_pubSCreenSearch.taskID==Null || _pubSCreenSearch.taskID.lenght == 0 || _pubSCreenSearch.taskID == "") ? row.task  : "<b>" + row.task + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Task(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subTask =="") ?  "N/A" : (_pubSCreenSearch.subTaskID==Null || _pubSCreenSearch.subTaskID.lenght == 0 || _pubSCreenSearch.subTaskID == "") ? row.subTask  : "<b>" + row.subTask + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Specie(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.species =="") ?  "N/A" : (_pubSCreenSearch.specieID==Null || _pubSCreenSearch.specieID.lenght == 0 || _pubSCreenSearch.specieID == "") ? row.species  : "<b>" + row.species + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Sex:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.sex =="") ?  "N/A" : (_pubSCreenSearch.sexID==Null || _pubSCreenSearch.sexID.lenght == 0 || _pubSCreenSearch.sexID == "") ? row.sex  : "<b>" + row.sex + "</b>"'></span> &nbsp; &nbsp; &nbsp;

        <label>Strain(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.strain =="") ?  "N/A" : (_pubSCreenSearch.strainID==Null || _pubSCreenSearch.strainID.lenght == 0 || _pubSCreenSearch.strainID == "") ? row.strain  : "<b>" + row.strain + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Disease Model(S):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.diseaseModel =="") ?  "N/A" : (_pubSCreenSearch.diseaseID==Null || _pubSCreenSearch.diseaseID.lenght == 0 || _pubSCreenSearch.diseaseID == "") ? row.diseaseModel  : "<b>" + row.diseaseModel + "</b>"'></span> <br /><br />

        <label>Brain Region(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.brainRegion =="") ?  "N/A" : (_pubSCreenSearch.regionID==Null || _pubSCreenSearch.regionID.lenght == 0 || _pubSCreenSearch.regionID == "") ? row.brainRegion  : "<b>" + row.brainRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Sub-brain Region(S):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subRegion =="") ?  "N/A" : (_pubSCreenSearch.subRegionID==Null || _pubSCreenSearch.subRegionID.lenght == 0 || _pubSCreenSearch.subRegionID == "") ? row.subRegion  : "<b>" + row.subRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;

        <label>Cell Type(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.cellType =="") ?  "N/A" : (_pubSCreenSearch.cellTypeID==Null || _pubSCreenSearch.cellTypeID.lenght == 0 || _pubSCreenSearch.cellTypeID == "") ? row.cellType  : "<b>" + row.cellType + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Method(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.method =="") ?  "N/A" : (_pubSCreenSearch.methodID==Null || _pubSCreenSearch.methodID.lenght == 0 || _pubSCreenSearch.methodID == "") ? row.method  : "<b>" + row.method + "</b>"'></span> &nbsp; &nbsp; &nbsp;
        <label>Neurotransmitter:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.neuroTransmitter =="") ?  "N/A" : (_pubSCreenSearch.transmitterID==Null || _pubSCreenSearch.transmitterID.lenght == 0 || _pubSCreenSearch.transmitterID == "") ? row.neuroTransmitter  : "<b>" + row.neuroTransmitter + "</b>"'></span> <br /><br />

        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="row.experiment.length>0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span style="color: #A569BD;">MouseBytes datasets associate to this publicaton:</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
            <table>
                <tr *ngFor="let exp of row.experiment">
                    <td>Experiment Name:&nbsp; <span style="color:#909497;">{{exp.expName}}</span></td>
                    <td>Taske Name: &nbsp; <span style="color:#909497;">{{exp.taskName}}</span></td>
                    <td>Status:&nbsp; <span style="color:#909497;">{{exp.status ? "Public" : "Private"}}</span></td>
                </tr>
            </table>

        </mat-expansion-panel>
        <br />


    </td>-->


    <br />
    <br />
    <br />

</div>
