<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>PUBSCREEN</h1></div>

<div class="guideline" id="guideline">
    <br />


    <br />
    <div class="content">
        PubScreen is an interactive database enabling users to deposit key features from papers that use touchscreen technology and also to search/find the publication(s)
        that match the search criteria.
    </div>


    <!--Edititng key features by Corresponding Author-->
    <br /><br />
    <div *ngIf="isLoaded">
        <!--<app-shared-experiment></app-shared-experiment>-->
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="background-color:#bab9b6">Paper Information:</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr style="border-bottom:1pt solid #8D8E90;">
                    <td>
                        <span style="float:right;"><button mat-icon-button matTooltip="Edit Publication" (click)="openDialogEditPublication(paperInfo, true)"><mat-icon>edit</mat-icon></button></span>&nbsp;
                        <!--<span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Delete Publication" (click)="delPub(paperInfo)" color="warn"><mat-icon>delete</mat-icon></button></span>&nbsp;-->
                        <div style="clear:both"></div>
                        <br /><br />

                        <label>Title:</label> &nbsp; <span style="color:#909497;">{{( paperInfo?.title ==="") ?  "N/A" : paperInfo?.title}}</span><br /><br />
                        <label>Authors:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.author =="") ?  "N/A" : paperInfo.author}}</span><br /><br />
                        <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( paperInfo.keywords =="") ?  "N/A" : paperInfo.keywords}}</span> &nbsp; &nbsp; &nbsp;
                        <!--<label>DOI:</label>&nbsp; <span style="color:#909497;">{{( paperInfo.doi =="") ?  "N/A" : paperInfo.doi}}</span>&nbsp; &nbsp; &nbsp;-->
                        <label>DOI:</label>&nbsp; <span style="color:#909497;" [innerHTML]='( paperInfo.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + paperInfo.doi + " target=_blank>" + paperInfo.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                        <label>Year:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.year =="") ?  "N/A" : paperInfo.year}}</span> &nbsp; &nbsp; &nbsp;
                        <label>Paper Type:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.paperType =="") ?  "N/A" : paperInfo.paperType}}</span><br /><br />

                        <label style="color:#8D8E90"><b>Key Features:</b></label> <br /><br />
                        <label>Task Category:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.task =="") ?  "N/A" : paperInfo.task}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Task(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.subTask =="") ?  "N/A" : paperInfo.subTask}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Specie(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.species =="") ?  "N/A" : paperInfo.species}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Sex:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.sex =="") ?  "N/A" : paperInfo.sex}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Strain(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.strain =="") ?  "N/A" : paperInfo.strain}}</span><br /><br />
                        <label>Rodent Model(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.diseaseModel =="") ?  "N/A" : paperInfo.diseaseModel}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Sub-Rodent Model(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.subModel =="") ?  "N/A" : paperInfo.subModel}}</span>&nbsp; &nbsp; &nbsp;

                        <label>Brain Region(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.brainRegion =="") ?  "N/A" : paperInfo.brainRegion}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Sub-brain Region(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.subRegion =="") ?  "N/A" : paperInfo.subRegion}}</span><br /><br />
                        <label>Cell Type(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.cellType =="") ?  "N/A" : paperInfo.cellType}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Method(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.method =="") ?  "N/A" : paperInfo.method}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Sub-Method(s):</label> &nbsp; <span style="color:#909497;">{{( paperInfo.subMethod =="") ?  "N/A" : paperInfo.subMethod}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Neurotransmitter:</label> &nbsp; <span style="color:#909497;">{{( paperInfo.neuroTransmitter =="") ?  "N/A" : paperInfo.neuroTransmitter}}</span><br /><br />

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="paperInfo.experiment.length>0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span style="color: #A569BD;">MouseBytes datasets associated to this publicaton:</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
                            <table>
                                <tr *ngFor="let exp of paperInfo.experiment">
                                    <td>Experiment Name:&nbsp; <span style="color:#909497;">{{exp.expName}}</span></td>
                                    <td>Task Name: &nbsp; <span style="color:#909497;">{{exp.taskName}}</span></td>
                                    <td>Status:&nbsp; <span style="color:#909497;">{{exp.status ? "Public" : "Private"}}</span></td>
                                </tr>
                            </table>

                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="paperInfo.repo.length>0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span style="color: #A569BD;">Complementary datasets associated to this publicaton:</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table>
                                <tr *ngFor="let rep of paperInfo.repo">
                                    <td>Repository Name:&nbsp; <span style="color:#909497;">{{rep.title}}</span></td>
                                    <td>Status:&nbsp; <span style="color:#909497;">{{rep.privacyStatus ? "Public" : "Private"}}</span></td>
                                    <td *ngIf="rep.privacyStatus">
                                        <span style="color:#909497;" [innerHTML]='"<a href=http://localhost:4200/comp-edit?repolinkguid=" + rep.repoLinkGuid + " target=_blank><label>Repository Link</label></a>"'></span>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>

                        <br />


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />



