<div>


    <mat-dialog-content>

        <mat-toolbar color="primary">Change Password</mat-toolbar>

        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onCloseSubmit()" novalidate>
            <div>
                <br />
                <br />

                <mat-form-field class="full-width">
                    <input type="password" matInput [(ngModel)]="model.currentPassword" name="password" #password="ngModel" placeholder="current password" (keyup)="clearMessages()" required>
                    <mat-error>
                        Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="password" matInput [(ngModel)]="model.newPassword" name="password" #password="ngModel" placeholder="new password" (keyup)="clearMessages()" required>
                    <mat-error>
                        Required
                    </mat-error>
                </mat-form-field>
                <br />

                <!--<div *ngIf="showSuccess" class="has-error" style="color: blue;">
                    <small>Your password has been successfully changed!<br /></small>
                    <br />
                </div>-->

                <div *ngIf="errorMessages.length > 0" class="has-error">
                    <div *ngFor="let errorMessage of errorMessages">
                        <small>{{ errorMessage.description }}</small>
                    </div>

                </div>
                <br />
            </div>
            <div>

                <button mat-raised-button color="accent" type="submit">SUBMIT</button>
                <button mat-raised-button color="accent" mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
            </div>
        </form>

    </mat-dialog-content>

    <!--<mat-dialog-actions>
        <button mat-raised-button (click)="onCloseSubmit()">SUBMIT</button>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>-->

</div>
