<div style="padding-top:30px">
    <table class="docs-markdown-table">
        <thead>
            <tr>
                <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">Search Repositories</th>
            </tr>
        </thead>
        <tbody class="docs-markdown-tbody">
            <tr>
                <td style="padding: 13px 16px;">

                    <div>
                        <label>You can search and extract repositories based on the following search criteria:</label><br /><br />
                        <hr /><br />

                        <!--Searching Author information ********************************************-->
                        <label style="color:#566573">Author Information:</label><br />

                        <mat-form-field>
                            <mat-select placeholder="Select Author" [(ngModel)]="authorModel" multiple>

                                <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="authorMultiSelect" [formControl]="authorMultiFilterCtrl"></ngx-mat-select-search>

                                <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                    {{author.firstName}}-{{author.lastName}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>&nbsp;


                        <!--PI-->
                        <mat-form-field style="padding-left: 25px">
                            <mat-select placeholder="Select PI(s)" [(ngModel)]="piModel" multiple>

                                <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="piMultiSelect" [formControl]="piMultiFilterCtrl"></ngx-mat-select-search>

                                <mat-option *ngFor="let pi of filteredPIList | async" [value]="pi.id">
                                    {{pi.piFullName}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>&nbsp;

                        <!--<mat-form-field style="padding-left: 25px">
                            <mat-select placeholder="Select PI(s)" [(ngModel)]="piModel" multiple>-->

                                <!--<ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="piMultiSelect" [formControl]="piMultiFilterCtrl"></ngx-mat-select-search>-->
                                <!--<ngx-mat-select-search placeholderLabel="Search based on last name"></ngx-mat-select-search>-->

                                <!--<mat-option *ngFor="let pi of piList" [value]="pi.id">
                                    {{pi.piFullName}}
                                </mat-option>

                            </mat-select>
                        </mat-form-field>&nbsp;-->

                        <br /><br />

                        <!--Searching Paper information ********************************************-->
                        <label style="color:#566573">Repository Information:</label><br />

                        <!--Paper Title-->
                        <!--Repository List-->
                        <mat-form-field style="width: 35%; padding-left:0px">
                            <mat-select matInput placeholder="Repository List" [(ngModel)]="titleModel" multiple>
                                <mat-option *ngFor="let rep of repList" [value]="rep.id">
                                    {{rep.title}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Paper Abstract-->
                        <!--<mat-form-field style="width:30%; padding-left:35px">

        <textarea matInput placeholder="Paper's Abstract" [(ngModel)]="abstractModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">

        </textarea>
    </mat-form-field>-->
                        <!--Paper year From-->
                        <mat-form-field style="width:14%; padding-left:30px">

                            <mat-select placeholder="Year From" [(ngModel)]="yearFromSearchModel">
                                <mat-option *ngFor="let val of yearList" [value]="val">
                                    {{val}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Paper year To-->
                        <mat-form-field style="width:14%; padding-left:30px">

                            <mat-select placeholder="Year To" [(ngModel)]="yearToSearchModel" [formControl]="yearTo"
                                        (selectionChange)="selectYearToChange(yearFromSearchModel, yearToSearchModel)">
                                <mat-option *ngFor="let val of yearList" [value]="val">
                                    {{val}}
                                </mat-option>
                            </mat-select>
                            <mat-error>{{getErrorMessageYearTo()}}</mat-error>

                        </mat-form-field>

                        <br />

                        <!--Paper Keywords-->
                        <mat-form-field style="width:30%;">

                            <input matInput placeholder="Keywords" [(ngModel)]="keywordsModel">

                        </mat-form-field>

                        <!--Paper DOI-->
                        <mat-form-field style="width:30%; padding-left:35px">

                            <input matInput placeholder="DOI" [(ngModel)]="doiModel">

                        </mat-form-field><br /><br />

                        <label>Intervention:</label><br />
                        <mat-radio-group aria-label="Intervention Datasets" [(ngModel)]="interventionModel">
                            <mat-radio-button value="All">Include all datasets</mat-radio-button>
                            <mat-radio-button value="Only">Only include intervention datasets</mat-radio-button>
                            <mat-radio-button value="No">Do not include intervention datasets</mat-radio-button>
                        </mat-radio-group>

                        <br /><br />

                        <!--Adding Key Features ********************************************-->
                        <label style="color:#566573">Key Features:</label><br />

                        <!--Cognitive Task-->
                        <mat-form-field style="width:15%; ">
                            <mat-select placeholder="Select Cognitive Task(s)" [(ngModel)]="cognitiveTaskModel" multiple>
                                <mat-option *ngFor="let task of taskList" [value]="task.id">
                                    <span matTooltip="{{task.task}}">{{task.task}}</span>
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Species-->
                        <mat-form-field style="width:15%; padding-left:30px">
                            <mat-select placeholder="Select Specie(s)" [(ngModel)]="specieModel" multiple>
                                <mat-option *ngFor="let specie of specieList" [value]="specie.id">
                                    {{specie.species}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Sex-->
                        <mat-form-field style="width:15%; padding-left:30px">
                            <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                                <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                                    {{sex.sex}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <br />

                        <!--Strain-->
                        <mat-form-field style="width:15%; padding-left:0px">
                            <mat-select placeholder="Select Strain(s)" [(ngModel)]="strainModel" multiple>
                                <mat-option *ngFor="let strain of strainList" [value]="strain.id">
                                    {{strain.strain}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Genotype-->
                        <mat-form-field style="width:15%; padding-left:30px">
                            <mat-select placeholder="Select Genotype(s)" [(ngModel)]="genoModel" multiple>
                                <mat-option *ngFor="let geno of genoList" [value]="geno.id">
                                    {{geno.genotype}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <!--Age-->
                        <mat-form-field style="width:15%; padding-left:30px">
                            <mat-select placeholder="Select Age(s)" [(ngModel)]="ageModel" multiple>
                                <mat-option *ngFor="let age of ageList" [value]="age.id">
                                    {{age.ageInMonth}}
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                    </div>
                    <br />
                    <div>
                        <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledValSearch()" (click)="search()">Search</button>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--<div>{{isAdmin}}</div>-->
<!--Adding table to show result of search-->
<br /><br />

<div *ngIf="isSearch">
    <table class="docs-markdown-table">
        <thead>
            <tr>
                <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">Search Results</th>
            </tr>
        </thead>

        <tbody class="docs-markdown-tbody">
            <ng-container *ngFor="let rep of repList">
                <tr style="border-bottom:1pt solid #8D8E90;" *ngIf="getFilteredSearchList(rep.id).length > 0">
                    <td>
                        <label><b>Repository Information:</b></label><br /><br />
                        <label>Title:</label> &nbsp; <span style="color:#909497;">{{( rep.title ==="") ?  "N/A" : rep.title}}</span> &nbsp; &nbsp; &nbsp;
                        <label>Authors:</label> &nbsp; <span style="color:#909497;">{{getRepAuthorString(rep)}}</span>&nbsp; &nbsp; &nbsp;
                        <label>PIs:</label> &nbsp; <span style="color:#909497;">{{getRepPIString(rep)}}</span><br /><br />
                        <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( rep.keywords =="") ?  "N/A" : rep.keywords}}</span> &nbsp; &nbsp; &nbsp;
                        <label>DOI:</label>&nbsp; <span style="color:#909497;">{{( rep.doi =="") ?  "N/A" : rep.doi}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Date:</label> &nbsp; <span style="color:#909497;">{{( rep.date.slice(0, -12) =="") ?  "N/A" : rep.date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                        <label>Link:</label> &nbsp; <span style="color:#909497;">{{( rep.link ==="") ?  "N/A" : rep.link}}</span><br /><br />
                        <label>Description:</label> &nbsp; <span style="color:#909497;">{{( rep.description ==="") ?  "N/A" : rep.description}}</span><br /><br />
                        <label>Additional Notes:</label> &nbsp; <span style="color:#909497;">{{( rep.additionalNotes ==="") ?  "N/A" : rep.additionalNotes}}</span><br /><br />
                        <label>Status:</label> &nbsp; <span style="color:#909497;">{{rep.privacyStatus == true ? 'Public' : 'Private'}}</span> <br /><br />

                        <label><b>Uploads:</b></label><br /><br />

                        <div>
                            <mat-accordion multi>
                                <mat-expansion-panel *ngFor="let upload of getFilteredSearchList(rep.id)">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title style="font-weight:bold; color:#918796;">
                                            {{upload.name}}
                                        </mat-panel-title>
                                        <mat-panel-description class="right-aligned">
                                            {{getFileType(upload)}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <label>Date added:</label> &nbsp; <span style="color:#909497;">{{( upload.dateUpload.slice(0, -12) =="") ?  "N/A" : upload.dateUpload.slice(0, -12)}}</span> <br /><br />
                                    <label>Description:</label> &nbsp; <span style="color:#909497;">{{( upload.description ==="") ?  "N/A" : upload.description}}</span><br /><br />
                                    <label>Additional Notes:</label> &nbsp; <span style="color:#909497;">{{( upload.additionalNotes ==="") ?  "N/A" : upload.additionalNotes}}</span><br /><br />

                                    <div *ngIf="upload.fileTypeID === DATASET">
                                        <label style="font-weight:bold;">Key Features:</label><br /><br />
                                        <label>Tasks:</label> &nbsp; <span style="color:#909497;">{{getUploadTaskString(upload)}}</span><br />
                                        <label>Species:</label> &nbsp; <span style="color:#909497;">{{getUploadSpeciesString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                        <label>Sex:</label> &nbsp; <span style="color:#909497;">{{getUploadSexString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                        <label>Strains:</label> &nbsp; <span style="color:#909497;">{{getUploadStrainString(upload)}}</span><br />
                                        <label>Genotypes:</label> &nbsp; <span style="color:#909497;">{{getUploadGenoString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                        <label>Age (in months):</label> &nbsp; <span style="color:#909497;">{{getUploadAgeString(upload)}}</span><br />
                                        <label>Intervention?</label> &nbsp; <span style="color:#909497;">{{upload.isIntervention == true ? 'Yes' : 'No'}}</span> &nbsp; &nbsp; &nbsp;
                                        <span *ngIf="upload.isIntervention"><label>Intervention Description:</label> &nbsp; <span style="color:#909497;">{{( upload.interventionDescription ==="") ?  "N/A" : upload.interventionDescription}}</span></span><br />
                                        <label>Housing:</label> &nbsp; <span style="color:#909497;">{{upload.housing}}</span> &nbsp; &nbsp; &nbsp;
                                        <label>Light Cycle:</label> &nbsp; <span style="color:#909497;">{{upload.lightCycle}}</span><br />
                                        <label>Task Battery:</label> &nbsp; <span style="color:#909497;">{{upload.taskBattery}}</span><br />
                                    </div>

                                    <br />

                                    <div *ngIf="!rep.privacyStatus" style="color:red">Authors have chosen to make files private.</div>

                                    <div *ngIf="rep.privacyStatus">
                                        <table class="docs-markdown-table">

                                            <thead>
                                                <tr><th colspan="5" style="text-align:center; padding: 15px 0px; text-transform: uppercase; color:#34495E;" class="docs-markdown-th">Files in {{upload.name}}</th></tr>
                                                <tr style=" text-align: center; color:#566573;">
                                                    <td class="docs-markdown-td">File Name</td>
                                                    <td class="docs-markdown-td">Upload Date</td>
                                                    <td class="docs-markdown-td">Download</td>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let file of upload.uploadFileList">
                                                    <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{file.userFileName}}</td>
                                                    <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{file.dateUpload.split('T')[0]}}</td>
                                                    <td style="text-align: center; color:#909497;" class="docs-markdown-td">
                                                        <button mat-icon-button matTooltip="Download File" (click)="DownloadFile(file)"><mat-icon>get_app</mat-icon></button>
                                                    </td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>

                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<!--<div *ngIf="searchResultList?.length > 0">-->
    <!--<app-shared-experiment></app-shared-experiment>-->
    <!--<table class="docs-markdown-table">
        <thead>
            <tr>
                <th class="docs-markdown-th" style="background-color:#bab9b6">List of Publications</th>

            </tr>
        </thead>
        <tbody class="docs-markdown-tbody">
            <tr style="border-bottom:1pt solid #8D8E90;" *ngFor="let row of searchResultList">
                <td>
                    <label style="color:#8D8E90"><b>Paper Information:</b></label>
                    <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Edit Publication" (click)="openDialogEditPublication(row)"><mat-icon>edit</mat-icon></button></span>&nbsp;
                    <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Delete Publication" (click)="delPub(row)" color="warn"><mat-icon>delete</mat-icon></button></span>&nbsp;
                    <div style="clear:both"></div>
                    <br /><br />

                    <label>Title:</label> &nbsp; <span style="color:#909497;">{{( row.title ==="") ?  "N/A" : row.title}}</span><br /><br />
                    <label>Authors:</label> &nbsp; <span style="color:#909497;">{{( row.author =="") ?  "N/A" : row.author}}</span><br /><br />
                    <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( row.keywords =="") ?  "N/A" : row.keywords}}</span> &nbsp; &nbsp; &nbsp;-->
                    <!--<label>DOI:</label>&nbsp; <span style="color:#909497;">{{( row.doi =="") ?  "N/A" : row.doi}}</span>&nbsp; &nbsp; &nbsp;-->
                    <!--<label>DOI:</label>&nbsp; <span style="color:#909497;" [innerHTML]='( row.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + row.doi + " target=_blank>" + row.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                    <label>Year:</label> &nbsp; <span style="color:#909497;">{{( row.year =="") ?  "N/A" : row.year}}</span> &nbsp; &nbsp; &nbsp;
                    <label>Paper Type:</label> &nbsp; <span style="color:#909497;">{{( row.paperType =="") ?  "N/A" : row.paperType}}</span><br /><br />

                    <label style="color:#8D8E90"><b>Key Features:</b></label> <br /><br />

                    <label>Task(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.task =="") ?  "N/A" : (_pubSCreenSearch.taskID==Null || _pubSCreenSearch.taskID.lenght == 0 || _pubSCreenSearch.taskID == "") ? row.task  : "<b>" + row.task + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Specie(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.species =="") ?  "N/A" : (_pubSCreenSearch.specieID==Null || _pubSCreenSearch.specieID.lenght == 0 || _pubSCreenSearch.specieID == "") ? row.species  : "<b>" + row.species + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Sex:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.sex =="") ?  "N/A" : (_pubSCreenSearch.sexID==Null || _pubSCreenSearch.sexID.lenght == 0 || _pubSCreenSearch.sexID == "") ? row.sex  : "<b>" + row.sex + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                    <label>Strain(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.strain =="") ?  "N/A" : (_pubSCreenSearch.strainID==Null || _pubSCreenSearch.strainID.lenght == 0 || _pubSCreenSearch.strainID == "") ? row.strain  : "<b>" + row.strain + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Disease Model(S):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.diseaseModel =="") ?  "N/A" : (_pubSCreenSearch.diseaseID==Null || _pubSCreenSearch.diseaseID.lenght == 0 || _pubSCreenSearch.diseaseID == "") ? row.diseaseModel  : "<b>" + row.diseaseModel + "</b>"'></span> <br /><br />

                    <label>Brain Region(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.brainRegion =="") ?  "N/A" : (_pubSCreenSearch.regionID==Null || _pubSCreenSearch.regionID.lenght == 0 || _pubSCreenSearch.regionID == "") ? row.brainRegion  : "<b>" + row.brainRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Sub-brain Region(S):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subRegion =="") ?  "N/A" : (_pubSCreenSearch.subRegionID==Null || _pubSCreenSearch.subRegionID.lenght == 0 || _pubSCreenSearch.subRegionID == "") ? row.subRegion  : "<b>" + row.subRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                    <label>Cell Type(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.cellType =="") ?  "N/A" : (_pubSCreenSearch.cellTypeID==Null || _pubSCreenSearch.cellTypeID.lenght == 0 || _pubSCreenSearch.cellTypeID == "") ? row.cellType  : "<b>" + row.cellType + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Method(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.method =="") ?  "N/A" : (_pubSCreenSearch.methodID==Null || _pubSCreenSearch.methodID.lenght == 0 || _pubSCreenSearch.methodID == "") ? row.method  : "<b>" + row.method + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                    <label>Neuro Transmitter:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.neuroTransmitter =="") ?  "N/A" : (_pubSCreenSearch.transmitterID==Null || _pubSCreenSearch.transmitterID.lenght == 0 || _pubSCreenSearch.transmitterID == "") ? row.neuroTransmitter  : "<b>" + row.neuroTransmitter + "</b>"'></span> <br /><br />

                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="row.experiment.length>0">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <span style="color: #A569BD;">MouseBytes datasets associate to this publicaton:</span>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
                        <table>
                            <tr *ngFor="let exp of row.experiment">
                                <td>Experiment Name:&nbsp; <span style="color:#909497;">{{exp.expName}}</span></td>
                                <td>Taske Name: &nbsp; <span style="color:#909497;">{{exp.taskName}}</span></td>
                                <td>Status:&nbsp; <span style="color:#909497;">{{exp.status ? "Public" : "Private"}}</span></td>
                            </tr>
                        </table>

                    </mat-expansion-panel>
                    <br />


                </td>
            </tr>
        </tbody>
    </table>
</div>-->
