<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title">
    <h1 *ngIf="showAll != true">SEARCH MOUSEBYTES+ DATA</h1>
    <h1 *ngIf="showAll == true">MOUSEBYTES+ REPOSITORIES</h1>
</div>

<div>
    <div class="content" *ngIf="showAll != true">
        <p style="padding-left:50px; line-height: 1.8;">
            Touchscreen datasets can be coupled with different neuro-technologies such as fiber photometry, miniscopes, optogenetics, MRI, PET, and OMICs analysis to evaluate the brain basis of behaviour.
            In this new feature of MouseBytes, users can upload processed datasets, scripts and codes related to these and other technologies and link them to cognitive data in MouseBytes and raw data in
            other repositories using Digital Object Identifier (DOI).

            <br /><br />
            Users can search and extract complementary datasets in MouseBytes+ based on different search criteria.

        </p>

    </div>

    <div style="padding-top:0px" *ngIf="showAll != true">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">Search Repositories</th>
                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">

                        <div>
                            <label>You can search and extract repositories based on the following search criteria:</label><br /><br />
                            <hr /><br />

                            <!--Searching Author information ********************************************-->
                            <label style="color:#465563">Author Information:</label><br />

                            <mat-form-field>
                                <mat-select placeholder="Select Author" [(ngModel)]="authorModel" multiple>

                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [formControl]="authorMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                        {{author.firstName}}-{{author.lastName}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>&nbsp;


                            <!--PI-->
                            <mat-form-field style="padding-left: 25px">
                                <mat-select placeholder="Select PI(s)" [(ngModel)]="piModel" multiple>

                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [formControl]="piMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let pi of filteredPIList | async" [value]="pi.id">
                                        {{pi.piFullName}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>&nbsp;

                            <!--<mat-form-field style="padding-left: 25px">
                            <mat-select placeholder="Select PI(s)" [(ngModel)]="piModel" multiple>-->
                            <!--<ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="piMultiSelect" [formControl]="piMultiFilterCtrl"></ngx-mat-select-search>-->
                            <!--<ngx-mat-select-search placeholderLabel="Search based on last name"></ngx-mat-select-search>-->
                            <!--<mat-option *ngFor="let pi of piList" [value]="pi.id">
                                        {{pi.piFullName}}
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>&nbsp;-->

                            <br /><br />

                            <!--Searching Paper information ********************************************-->
                            <label style="color:#465563">Repository Information:</label><br />

                            <!--Paper Title-->
                            <!--Repository List-->
                            <mat-form-field style="width: 35%; padding-left:0px">
                                <mat-select matInput placeholder="Repository List" [(ngModel)]="titleModel" multiple>

                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on title" noEntriesFoundLabel="Result not found!" [formControl]="repMultiFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let rep of filteredRepList | async" [value]="rep.id">
                                        <span matTooltip="{{rep.title}}">{{rep.title}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!--Paper Abstract-->
                            <!--<mat-form-field style="width:30%; padding-left:35px">

                                <textarea matInput placeholder="Paper's Abstract" [(ngModel)]="abstractModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">

                                </textarea>
                            </mat-form-field>-->
                            <!--Paper year From-->
                            <mat-form-field style="width:14%; padding-left:30px">

                                <mat-select placeholder="Year From" [(ngModel)]="yearFromSearchModel">
                                    <mat-option *ngFor="let val of yearList" [value]="val">
                                        {{val}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Paper year To-->
                            <mat-form-field style="width:14%; padding-left:30px">

                                <mat-select placeholder="Year To" [formControl]="yearTo"
                                            (selectionChange)="selectYearToChange(yearFromSearchModel, yearTo.value)">
                                    <mat-option *ngFor="let val of yearList" [value]="val">
                                        {{val}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>{{getErrorMessageYearTo()}}</mat-error>

                            </mat-form-field>

                            <br />

                            <!--Keywords-->
                            <mat-form-field style="width:30%;">

                                <input matInput placeholder="Keywords" [(ngModel)]="keywordsModel">

                            </mat-form-field>

                            <!--DOI-->
                            <mat-form-field style="width:30%; padding-left:35px">

                                <input matInput placeholder="DOI" [(ngModel)]="doiModel">

                            </mat-form-field>

                            <br />

                            <!--File Type-->
                            <mat-form-field style="width: 45%; padding-left:0px">
                                <mat-select matInput placeholder="File Type" [(ngModel)]="fileTypeModel" multiple>
                                    <mat-option *ngFor="let type of fileTypeList" [value]="type.id">
                                        {{type.fileType}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <br /><br />

                            <label>Intervention:</label><br />
                            <mat-radio-group aria-label="Intervention Datasets" [(ngModel)]="interventionModel">
                                <mat-radio-button value="All">Include all datasets</mat-radio-button>
                                <mat-radio-button value="Only">Only include intervention datasets</mat-radio-button>
                                <mat-radio-button value="No">Do not include intervention datasets</mat-radio-button>
                            </mat-radio-group>

                            <br /><br />

                            <!--Adding Key Features ********************************************-->
                            <label style="color:#465563">Key Features (Datasets only):</label><br />

                            <!--Cognitive Task-->
                            <mat-form-field style="width:15%; ">
                                <mat-select placeholder="Select Cognitive Task(s)" [(ngModel)]="cognitiveTaskModel" multiple>
                                    <mat-option *ngFor="let task of taskList" [value]="task.id">
                                        <span matTooltip="{{task.task}}">{{task.task}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Species-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Specie(s)" [(ngModel)]="specieModel" multiple>
                                    <mat-option *ngFor="let specie of specieList" [value]="specie.id">
                                        <span matTooltip="{{specie.species}}">{{specie.species}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Sex-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                                    <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                                        <span matTooltip="{{sex.sex}}">{{sex.sex}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <br />

                            <!--Strain-->
                            <mat-form-field style="width:15%; padding-left:0px">
                                <mat-select placeholder="Select Strain(s)" [(ngModel)]="strainModel" multiple>
                                    <mat-option *ngFor="let strain of strainList" [value]="strain.id">
                                        <span matTooltip="{{strain.strain}}">{{strain.strain}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Genotype-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Genotype(s)" [(ngModel)]="genoModel" multiple>
                                    <mat-option *ngFor="let geno of genoList" [value]="geno.id">
                                        <span matTooltip="{{geno.genotype}}">{{geno.genotype}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Age-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Age(s)" [(ngModel)]="ageModel" multiple>
                                    <mat-option *ngFor="let age of ageList" [value]="age.id">
                                        {{age.ageInMonth}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                        <br />
                        <div>
                            <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledValSearch()" (click)="search()">Search</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br /><br />

    <div *ngIf="isSearch">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">Search Results</th>
                </tr>
            </thead>

            <tbody class="docs-markdown-tbody">
                <ng-container *ngFor="let rep of repList">
                    <tr style="border-bottom:1pt solid #8D8E90;" *ngIf="getFilteredSearchList(rep.id).length > 0">
                        <td>
                            <label><b>Repository Information:</b></label><br /><br />
                            <label>Title:</label> &nbsp; <span style="color:#696d70;">{{( rep.title ==="") ?  "N/A" : rep.title}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Authors:</label> &nbsp; <span style="color:#696d70;">{{getRepAuthorString(rep)}}</span>&nbsp; &nbsp; &nbsp;
                            <label>PIs:</label> &nbsp; <span style="color:#696d70;">{{getRepPIString(rep)}}</span><br /><br />
                            <label>Keywords:</label>&nbsp; <span style="color:#696d70;">{{( rep.keywords =="") ?  "N/A" : rep.keywords}}</span> &nbsp; &nbsp; &nbsp;
                            <label>DOI:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='( rep.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + rep.doi + " target=_blank>" + rep.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                            <label>Date:</label> &nbsp; <span style="color:#696d70;">{{( rep.date.slice(0, -12) =="") ?  "N/A" : rep.date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Link:</label> &nbsp; <span style="color:#696d70;">{{( rep.link ==="") ?  "N/A" : rep.link}}</span><br /><br />
                            <label>Description:</label> &nbsp; <span style="color:#696d70;">{{( rep.description ==="") ?  "N/A" : rep.description}}</span><br /><br />
                            <label>Additional Notes:</label> &nbsp; <span style="color:#696d70;">{{( rep.additionalNotes ==="") ?  "N/A" : rep.additionalNotes}}</span><br /><br />
                            <label>Status:</label> &nbsp; <span style="color:#696d70;">{{rep.privacyStatus == true ? 'Public' : 'Private'}}</span> &nbsp; &nbsp; &nbsp;
                            <span *ngIf="rep.privacyStatus == true"><label>Repository Link:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='"<a href=" + getLinkURL(rep) + " target=_blank>" + getLinkURL(rep) + "</a>"'></span></span>
                            <br /><br />

                            <label><b>Uploads:</b></label><br /><br />

                            <div>
                                <mat-accordion multi>
                                    <mat-expansion-panel *ngFor="let upload of getFilteredSearchList(rep.id)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title style="font-weight:bold; color:#918796;">
                                                {{upload.name}}
                                            </mat-panel-title>
                                            <mat-panel-description class="right-aligned">
                                                {{getFileType(upload)}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <label>Date added:</label> &nbsp; <span style="color:#696d70;">{{( upload.dateUpload.slice(0, -12) =="") ?  "N/A" : upload.dateUpload.slice(0, -12)}}</span> <br /><br />
                                        <label>Description:</label> &nbsp; <span style="color:#696d70;">{{( upload.description ==="") ?  "N/A" : upload.description}}</span><br /><br />
                                        <label>Additional Notes:</label> &nbsp; <span style="color:#696d70;">{{( upload.additionalNotes ==="") ?  "N/A" : upload.additionalNotes}}</span><br /><br />

                                        <div *ngIf="upload.fileTypeID<=5">
                                            <label style="font-weight:bold;">Key Features:</label><br /><br />
                                            <label>Tasks:</label> &nbsp; <span style="color:#696d70;">{{getUploadTaskString(upload)}}</span><br />
                                            <label>Species:</label> &nbsp; <span style="color:#696d70;">{{getUploadSpeciesString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                            <label>Number of Subjects:</label> &nbsp; <span style="color:#696d70;">{{upload.numSubjects}}</span> &nbsp; &nbsp; &nbsp;
                                            <label>Sex:</label> &nbsp; <span style="color:#696d70;">{{getUploadSexString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                            <label>Strains:</label> &nbsp; <span style="color:#696d70;">{{getUploadStrainString(upload)}}</span><br />
                                            <label>Genotypes:</label> &nbsp; <span style="color:#696d70;">{{getUploadGenoString(upload)}}</span> &nbsp; &nbsp; &nbsp;
                                            <label>Age (in months):</label> &nbsp; <span style="color:#696d70;">{{getUploadAgeString(upload)}}</span><br />
                                            <label>Intervention?</label> &nbsp; <span style="color:#696d70;">{{upload.isIntervention == true ? 'Yes' : 'No'}}</span> &nbsp; &nbsp; &nbsp;
                                            <span *ngIf="upload.isIntervention"><label>Intervention Description:</label> &nbsp; <span style="color:#696d70;">{{( upload.interventionDescription ==="") ?  "N/A" : upload.interventionDescription}}</span></span><br />
                                            <label>Housing:</label> &nbsp; <span style="color:#696d70;">{{upload.housing}}</span> &nbsp; &nbsp; &nbsp;
                                            <label>Light Cycle:</label> &nbsp; <span style="color:#696d70;">{{upload.lightCycle}}</span><br />
                                            <label>Task Battery:</label> &nbsp; <span style="color:#696d70;">{{upload.taskBattery}}</span><br />
                                        </div>

                                        <br />

                                        <div *ngIf="!rep.privacyStatus" style="color:red">Authors have chosen to make files private.</div>

                                        <div *ngIf="rep.privacyStatus">
                                            <table class="docs-markdown-table">

                                                <thead>
                                                    <tr><th colspan="5" style="text-align:center; padding: 15px 0px; text-transform: uppercase; color:#34495E;" class="docs-markdown-th">Files in {{upload.name}}</th></tr>
                                                    <tr style=" text-align: center; color:#465563;">
                                                        <td class="docs-markdown-td">File Name</td>
                                                        <td class="docs-markdown-td">Upload Date</td>
                                                        <td class="docs-markdown-td">Download</td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr *ngFor="let file of upload.uploadFileList">
                                                        <td style="text-align: center; color:#696d70;" class="docs-markdown-td">{{file.userFileName}}</td>
                                                        <td style="text-align: center; color:#696d70;" class="docs-markdown-td">{{file.dateUpload.split('T')[0]}}</td>
                                                        <td style="text-align: center; color:#696d70;" class="docs-markdown-td">
                                                            <button mat-icon-button matTooltip="Download File" (click)="downloadFile(file)"><mat-icon>get_app</mat-icon></button>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <br /><br />
                            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="rep.experiment.length>0">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span style="color: #A569BD;">MouseBytes datasets associate to this repository:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
                                <table>
                                    <tr *ngFor="let exp of rep.experiment">
                                        <td>Experiment Name:&nbsp; <span style="color:#696d70;">{{exp.expName}}</span></td>
                                        <td>Task Name: &nbsp; <span style="color:#696d70;">{{exp.taskName}}</span></td>
                                        <td>Status:&nbsp; <span style="color:#696d70;">{{exp.status ? "Public" : "Private"}}</span></td>
                                    </tr>
                                </table>

                            </mat-expansion-panel>
                            <mat-expansion-panel *ngIf="rep.paper != null">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span style="color: #A569BD;">Touchscreen publications associated to this repository:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <table>
                                    <tr><td><span style="color:#696d70;" [innerHTML]='"<a href=http://localhost:4200/pubScreen-edit?paperlinkguid=" + rep.paper.paperLinkGuid + " target=_blank><label>Pubscreen Link</label></a>"'></span></td></tr>
                                    <tr><td>Title:&nbsp; <span style="color:#696d70;">{{rep.paper.title}}</span></td></tr>
                                    <tr><td>Author(s): &nbsp; <span style="color:#696d70;">{{rep.paper.author}}</span></td></tr>
                                    <tr><td>Year:&nbsp; <span style="color:#696d70;">{{rep.paper.year}}</span></td></tr>
                                </table>

                            </mat-expansion-panel>

                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>




    <div *ngIf="showAll == true">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:black; background-color:#e0e0e0; font-size:large;">List of repositories</th>
                </tr>
            </thead>

            <tbody class="docs-markdown-tbody">
                <ng-container *ngFor="let rep of repShowList">
                    <tr style="border-bottom:1pt solid #8D8E90;">
                        <td>
                            <label><b>Repository Information:</b></label><br /><br />
                            <label>Title:</label> &nbsp; <span style="color:#696d70;">{{( rep.title ==="") ?  "N/A" : rep.title}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Authors:</label> &nbsp; <span style="color:#696d70;">{{rep.authorString}}</span>&nbsp; &nbsp; &nbsp;
                            <label>PIs:</label> &nbsp; <span style="color:#696d70;">{{rep.piString}}</span><br /><br />
                            <label>Keywords:</label>&nbsp; <span style="color:#696d70;">{{( rep.keywords =="") ?  "N/A" : rep.keywords}}</span> &nbsp; &nbsp; &nbsp;
                            <label>DOI:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='( rep.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + rep.doi + " target=_blank>" + rep.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                            <label>Date:</label> &nbsp; <span style="color:#696d70;">{{( rep.date.slice(0, -12) =="") ?  "N/A" : rep.date.slice(0, -12)}}</span> &nbsp; &nbsp; &nbsp;
                            <label>Link:</label> &nbsp; <span style="color:#696d70;">{{( rep.link ==="") ?  "N/A" : rep.link}}</span><br /><br />
                            <label>Description:</label> &nbsp; <span style="color:#696d70;">{{( rep.description ==="") ?  "N/A" : rep.description}}</span><br /><br />
                            <label>Additional Notes:</label> &nbsp; <span style="color:#696d70;">{{( rep.additionalNotes ==="") ?  "N/A" : rep.additionalNotes}}</span><br /><br />
                            <label>Status:</label> &nbsp; <span style="color:#696d70;">{{rep.privacyStatus == true ? 'Public' : 'Private'}}</span> &nbsp; &nbsp; &nbsp;
                            <!--<span *ngIf="rep.privacyStatus == true"><label>Repository Link:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='"<a href=" + getLinkURL(rep) + " target=_blank>" + getLinkURL(rep) + "</a>"'></span></span>-->
                            <span *ngIf="rep.dataCiteURL.trim() != ''"><label>Repository Link:</label>&nbsp; <a href="{{rep.dataCiteURL}}" style="color:#696d70;" target="_blank">{{rep.dataCiteURL}}</a></span>
                            <br /><br />




                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

</div>
