<div>
    <h3 mat-dialog-title>Please fill the form to add new general request:</h3>

    <mat-dialog-content>
        <br />

        <!--<app-shared-experiment></app-shared-experiment>-->

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter your Full Name" [formControl]="name" [(ngModel)]="reqNameModel" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter your email address:" [formControl]="email" [(ngModel)]="reqEmailModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Enter your request" [formControl]="request" [(ngModel)]="reqRequestModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40" required></textarea>
            <mat-error *ngIf="request.invalid">{{getErrorMessageRequest()}}</mat-error>

        </mat-form-field>

        
    </mat-dialog-content>
    <br />

    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
