<div>
    <table class="docs-markdown-table-cutomized" style="margin-top: 100px;">
        <thead>

            <tr><th colspan="2" class="docs-markdown-th" style="font-size:large"><b>FORMS</b></th></tr>

        </thead>

        <tbody class="docs-markdown-tbody">

            <tr>
                <td style="padding: 10px 10px;">
                    You can make a Mousebytes or Pubscreen request using the following forms.
                    The MouseBytes team will review your request and get back to you. <hr />
                </td>


            </tr>

            <!--Adding New cognitive task to MouseBytes-->
            <tr style="margin-top: 0px">
                <td style="padding: 10px 10px;">
                    <h1>Mousebytes</h1>
                    <ul>
                        <li style="color:#465563;"> Adding new cognitive task:<button mat-icon-button matTooltip="Add new cognitive task" (click)="openDialogTask()"><mat-icon>add</mat-icon></button> </li>
                        <li style="color:#465563;"> Adding new PI: <button mat-icon-button matTooltip="Add new PI" (click)="openDialogPI()"><mat-icon>add</mat-icon></button> </li>
                        <li style="color:#465563;"> Adding new age: <button mat-icon-button matTooltip="Add new age" (click)="openDialogAge()"><mat-icon>add</mat-icon></button> </li>
                        <li style="color:#465563;"> Adding new mouse line: <button mat-icon-button matTooltip="Add new mouse line" (click)="openDialogMouseLine()"><mat-icon>add</mat-icon></button></li>
                    </ul>
                </td>
            </tr>
            <tr style="margin-top: 0px">
                <td style="padding: 10px 10px;">
                    <h1>Pubscreen</h1>
                    <ul>
                        <li style="color:#465563;"> Adding new task: <button mat-icon-button matTooltip="Add new Pubscreen task" (click)="openDialogPubTask()"><mat-icon>add</mat-icon></button></li>
                        <li style="color:#465563;"> Adding new sub-rodent model: <button mat-icon-button matTooltip="Add new Pubscreen sub-rodent model" (click)="openDialogPubModel()"><mat-icon>add</mat-icon></button></li>
                        <li style="color:#465563;"> Adding new sub-method: <button mat-icon-button matTooltip="Add new Pubscreen sub-method" (click)="openDialogPubSubMethod()"><mat-icon>add</mat-icon></button></li>
                        <li style="color:#465563;"> Other request: <button mat-icon-button matTooltip="Add general request" (click)="openDialogGeneral()"><mat-icon>add</mat-icon></button></li>

                    </ul>
                </td>
            </tr>
            <!--<tr style="margin-top: 0px">
                <td style="padding: 10px 10px;">
                    <ul>
                        <li style="color:#465563;"> Other request: <button mat-icon-button matTooltip="Add general request" (click)="openDialogGeneral()"><mat-icon>add</mat-icon></button></li>
                    </ul>
                </td>
            </tr>-->



        </tbody>

    </table>
</div>

<br />
<br />
<br />

