<!--<div style="background-repeat: no-repeat;background-image: url(&quot;../../assets/images/c2.jpg&quot;);
background-size: cover;background-position: center top;width: 100%;height: 400px;opacity: 1;visibility: inherit;z-index: 20;" src="../../assets/images/c2.jpg">ffff</div>-->


<div _ngcontent-c6="" class="topImage" style="background-image: url(../../assets/images/gen1.jpg)"></div>

    <p style="width: 100%; margin: auto; text-align: center; padding-top:20px; font-size:20px; font-weight:300">
        Under Construction/Coming Soon!
    </p>
<br/>
<br/>



