<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>Manage Users</h1></div>


<div>

    <!--Search-->
    <div style="float: left; margin-left: 10%; width: 80%;">
        <mat-input-container class="md-icon-float full-width">
            <input matInput [(ngModel)]="expfilter" placeholder="search user" (keyup.enter)="search()">
        </mat-input-container>
    </div>
    <div style="float: left">
        <button mat-icon-button (click)="search()"><mat-icon>search</mat-icon></button>
    </div>
    <div style="clear: both;"></div>
    <br />

    <table class="docs-markdown-table">
        <thead>

            <tr><th colspan="7" style="text-align:center; padding: 15px 0px; text-transform: uppercase; color:#34495E;" class="docs-markdown-th">User Information</th></tr>
            <tr style=" text-align: center; color:#566573;">
                <td class="docs-markdown-td">First Name</td>
                <td class="docs-markdown-td">Last Name</td>
                <td class="docs-markdown-td">Email</td>
                <td class="docs-markdown-td">EmailConfirmed</td>
                <td class="docs-markdown-td">PI and Site</td>
                <td class="docs-markdown-td">Aprrove User</td>
                <td class="docs-markdown-td">Block User</td>

            </tr>

        </thead>

        <tbody class="docs-markdown-tbody">
            <tr *ngFor="let row of pagedItems; let i = index">
                <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{row.givenName}}</td>
                <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{row.familyName}}</td>
                <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{row.email}}</td>
                <td style="text-align: center; color:#909497;" class="docs-markdown-td">{{row.emailConfirmed}}</td>
                <td style="text-align: center; color:#909497;" class="docs-markdown-td"> <div [innerHTML]="row.piSiteName"></div></td>

                <td style="text-align: center; color:#909497;" class="docs-markdown-td">
                    <button aria-label="Click to approve user" mat-icon-button (click)="approveUser(row.email, row.givenName, row.familyName)"><mat-icon>check_circle</mat-icon></button>
                </td>

                <td style="text-align: center; color:#909497;" class="docs-markdown-td">
                    <button aria-label="Click to block user" mat-icon-button color="warn" (click)="lockUser(row.email)"><mat-icon>block</mat-icon></button>
                </td>

            </tr>

            <tr>
                <td colspan="13" *ngIf="pager.pages && pager.pages.length" style="text-align: right;">
                    <!-- pager -->
                    <div class="pagination-custom">
                        <a (click)="pager.currentPage === 1 || setPage(1)">First</a>
                        <a (click)="pager.currentPage === 1 || setPage(pager.currentPage - 1)"><mat-icon>keyboard_arrow_left</mat-icon></a>
                        <span *ngFor="let page of pager.pages">
                            <a (click)="pager.currentPage === page || setPage(page)" [ngClass]="{active:pager.currentPage === page}">{{page}}</a>
                        </span>
                        <a (click)="pager.currentPage === pager.totalPages || setPage(pager.currentPage + 1)"><mat-icon>keyboard_arrow_right</mat-icon></a>
                        <a (click)="pager.currentPage === pager.totalPages || setPage(pager.totalPages)">Last</a>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>
</div>
