<br />
<table class="docs-markdown-table" style="width: 98%;">
    <thead>
        <tr>
            <th class="docs-markdown-th">
                PubScreen Dashboard (please hover the mouse over each bar to see all the details corresponsing to the graph)
                <!--<button mat-raised-button color="warn" (click)="GenerateLink()" style="float: right;">Link to this result</button>-->
            </th>
        </tr>
    </thead>
    <tbody class="docs-markdown-tbody">

        <tr>
            <td>
                <div class="main">
                    <div id="contentpanel" class="webPlayerCss"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<br />
<br />
<br />

