<div>
    <h3 mat-dialog-title>Please enter animal information:</h3>

    <mat-dialog-content>
        <br />
        <!--Animal ID-->
        <mat-form-field class="full-width">
            <!--For Daniel-->  
            <input matInput placeholder="Animal ID" [formControl]="userAnimalId" [(ngModel)]="userAnimalIdModel" [readonly]="data.animalObj!=null" required>
            <!--<input matInput placeholder="Animal ID" [formControl]="userAnimalId" [(ngModel)]="userAnimalIdModel" required>-->
            <mat-error *ngIf="userAnimalId.invalid">{{getErrorMessageId()}}</mat-error>
            <mat-error *ngIf="userAnimalId.invalid">{{getErrorMessageIdTaken()}}</mat-error>
        </mat-form-field>

         <!--Animal Gender-->      
        <mat-radio-group [formControl]="gender" [(ngModel)]="genderModel" required>
            <mat-radio-button value="f">Female</mat-radio-button>
            <mat-radio-button value="m">Male</mat-radio-button>
            <mat-error *ngIf="gender.invalid">{{getErrorMessageGender()}}</mat-error>
        </mat-radio-group>

       <!--Animal Strain-->
        <mat-form-field class="full-width">
            <mat-select placeholder="Animal Strain" [formControl]="strain" required [(ngModel)]="strainModel" (selectionChange)="selectedStrainChange(strainModel)">
                <mat-option *ngFor="let strain of StrainList" [value]="strain.id">
                    {{strain.strain}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="strain.invalid">{{getErrorMessageStrain()}}</mat-error>
        </mat-form-field>

        <!--Animal Genotype-->
        <mat-form-field class="full-width">
            <mat-select placeholder="Animal Genotype" [formControl]="genotype" required [(ngModel)]="genotypeModel">
                <mat-option *ngFor="let geno of GenoList" [value]="geno.id">
                    {{geno.genotype}}, <a href="{{geno.link}}" target="_blank">Reference</a> {{geno.description}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="genotype.invalid">{{getErrorMessageGenotype()}}</mat-error>
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
