<ngx-spinner bdColor="rgba(51,51,51,0.8)"
             size="medium"
             color="#fff"
             type="ball-spin-clockwise"
             [fullScreen]="true">
</ngx-spinner>

<mat-sidenav-container class="app-container">
    <!-- Sidebar Navigation -->
    <mat-sidenav #sidenav class="app-sidebar">
        <div class="sidebar-logo">
            <a routerLink="/home">
                <img 
                    src="../assets/images/MouseBytes Logo Positive - TEMP.png" 
                    alt="Mousebytes Logo" 
                    class="logo">
            </a>
        </div>

        <nav class="sidebar-nav">
            <!-- Main Navigation Sections -->
            <ng-container *ngFor="let section of navigationSections">
                <div class="nav-section">
                    <h3>{{ section.title }}</h3>
                    <ul>
                        <li *ngFor="let item of section.items" [hidden]="item.visibilityCondition ? !item.visibilityCondition() : false">
                            <a 
                                [routerLink]="item.route" 
                                [queryParams]="item.queryParams"
                                [hidden]="item.visibilityCondition ? !item.visibilityCondition() : false">
                                {{ item.name }}
                            </a>
                        </li>
                    </ul>
                </div>
            </ng-container>

            <!-- External Links Section -->
            <div class="nav-section ecosystem">
                <h3>TSC ECOSYSTEM</h3>
                <ul>
                    <li *ngFor="let link of externalLinks">
                        <a [href]="link.url" target="_blank">{{ link.name }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </mat-sidenav>

    <div class="page-content">
        <!-- Header -->
        <header>
            <mat-toolbar class="top-toolbar" style="background-color: #8F55E0; height: 30px;">
                <!-- Mobile Menu Toggle -->
                <div class="mobile-menu-toggle" *ngIf="isMobile">
                    <button 
                        mat-icon-button 
                        (click)="sidenav.open()" 
                        aria-label="Open navigation menu">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
                <span class="fill-remaining-space"></span>
                <!-- User Authentication Links -->
                <div class="auth-links">
                    <ng-container *ngIf="(signedIn | async) === false">
                        <a mat-button routerLink="/account/signin" style="color: white;">Sign in</a>
                        <a mat-button routerLink="/account/signup" style="color: white;">Sign up</a>
                    </ng-container>
                    <ng-container *ngIf="signedIn | async">
                        <span class="user-greeting" style="color: white;">Hi {{ name }}!</span>
                        <a mat-button routerLink="/profile" style="color: white;">Profile</a>
                        <a mat-button (click)="signout()" style="color: white;">Sign out</a>
                    </ng-container>
                </div>
            </mat-toolbar>

            <!-- Responsive Logo and Navigation -->
            <mat-toolbar class="logo-toolbar" style="height:100px;">
                <div class="logo-container" [ngSwitch]="true">
                    <!-- Mobile Logo -->
                    <div *ngSwitchCase="isMobile" class="mobile-logo">
                        <a routerLink="/home" class="logo">
                            <img 
                                src="../assets/images/MouseBytes Logo Positive - TEMP.png" 
                                alt="Mousebytes Logo"
                                style="width: 180px; vertical-align:middle">
                        </a>
                    </div>
                    <!-- Desktop Logo and Navigation -->
                    <div *ngSwitchCase="isDesktop || isTablet" class="desktop-nav">
                        <a routerLink="/home" class="logo">
                            <img 
                                src="../assets/images/MouseBytes Logo Positive - TEMP.png" 
                                alt="Mousebytes Logo"
                                style="vertical-align:middle">
                        </a>
                        <!-- Desktop Horizontal Navigation -->
                        <nav class="horizontal-nav">
                            <ng-container *ngFor="let section of navigationSections">
                                <div class="nav-dropdown">
                                    <span>{{ section.title }}</span>
                                    <ul>
                                        <li *ngFor="let item of section.items" [hidden]="item.visibilityCondition ? !item.visibilityCondition() : false">
                                            <a 
                                                [routerLink]="item.route"
                                                [queryParams]="item.queryParams"
                                                [hidden]="item.visibilityCondition ? !item.visibilityCondition() : false">
                                                {{ item.name }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-container>
                            <div class="nav-dropdown">
                                <ng-container *ngFor="let section of externalLinks">
                                    <span style="cursor: pointer; border: 0">{{ section.title }}</span>
                                    <ul>
                                        <li *ngFor="let link of section.items">
                                            <a [href]="link.url" target="_blank">{{ link.name }}</a>
                                        </li>
                                    </ul>
                                </ng-container>
                            </div>
                        </nav>
                    </div>
                </div>
            </mat-toolbar>
        </header>

        <!-- Main Content Area -->
        <main id="contentMain" class="main-content">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </main>

        <!-- Footer -->
        <footer *ngIf="showFooter" class="app-footer" style="background-image:url(../assets/images/western_overlay.jpg); border-top: 1px solid grey;background-size: cover;">
            <div class="footer-content">
                <p class="about-text">
                    Tim Bussey and Lisa Saksida have established a series of targeted cognitive tests for animals, 
                    administered via touchscreen within a custom environment known as the "Bussey-Saksida touchscreen chamber". 
                    Cambridge Enterprise, the technology transfer office of the University of Cambridge, supported 
                    commercialization of the Bussey-Saksida chamber, culminating in a license to Campden Instruments. 
                    Any financial compensation received from commercialization of the technology is fully invested 
                    in further touchscreen development and/or maintenance.
                </p>

                <div class="footer-links">
                    <p>
                        &copy; 2018 Western University | 
                        <a href="https://mousebytes.ca/terms" target="_blank">Terms of Service</a>
                    </p>
                    <p>
                        Research data is distributed under 
                        <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 license</a>
                    </p>
                </div>
            </div>
        </footer>
    </div>
</mat-sidenav-container>

