<mat-sidenav-container class="all-wrap" fullscreen>

    <mat-sidenav #sidenav style="background-color: #EDEDEE; ">
        <div style="padding:10px;"><a routerLink="/home" style="cursor: pointer; border: 0"><img src="../assets/images/MouseBytes Logo Positive - TEMP.png" alt="Mousebytes Logo" title="Mousebytes Logo" style="width: 100px; "></a></div>

        <ul class="top-nav-ul" style="padding: 20px; line-height: 2; color: #354248; font-size: 14px; font-weight: 200%;">

            <li><a style="text-decoration: underline;" routerLink="/home">Home</a></li>

            <li>
                <br />
                <b>TOUCHSCREEN DATA</b>
                <ul>
                    <li><a style="color: #354248;" routerLink="/mb-dashboard">Dashboard</a></li>
                    <li *ngFor="let navItem of navItems">
                        <a style="color: #354248;" [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                    </li>
                    <li *ngIf="isAdmin || isUser"><a style="color: #354248;" href="/experiment">Experiment</a></li>
                    <li *ngIf="isAdmin || isUser"><a style="color: #354248;" href="/upload">Upload</a></li>
                    <li *ngIf="isAdmin || isUser"><a style="color: #354248;" href="/animal-info">Animal</a></li>
                    <li *ngIf="isAdmin || isUser"><a style="color: #354248;" routerLink="/dashboard">Upload Log</a></li>
                    <li *ngIf="isAdmin"><a style="color: #354248;" routerLink="/manage-user">User Management</a></li>
                </ul>
            </li>

            <li>
                <br />
                <b>MOUSEBYTES+</b>
                <ul>
                    <li *ngIf="isAdmin || isUser"><a style="color: #354248;" href="/comp">Your Repositories</a></li>
                    <li><a style="color: #354248;" href="/comp-search">Search Repositories</a></li>
                    <li><a style="color: #354248;" href="/comp-search?showall=true">Repositories</a></li>
                </ul>
            </li>

            <li>
                <br />
                <b>PUBSCREEN</b>
                <ul>
                    <li><a style="color: #354248;" href="/pubScreen-dashboard">PubScreen Dashboard</a></li>
                    <li><a style="color: #354248;" href="/pubScreen">Add/Search Publications</a></li>
                    <li *ngIf="isAdmin"><a style="color: #354248;" href="/pubScreen-queue">Queue</a></li>
                </ul>
            </li>

            <li>
                <br />
                <b>TUTORIALS</b>
                <ul>

                    <li *ngFor="let navItem of navItemsTutorials">
                        <a style="color: #354248;" [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                    </li>

                </ul>
            </li>

            <li>
                <br />
                <b>RESOURCES</b>
                <ul>
                    <li *ngFor="let navItem of navItemsResources">
                        <a style="color: #354248;" [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                    </li>
                </ul>
            </li>

            <li>
                <br />
                <b>TSC ECOSYSTEM</b>
                <ul>
                    <li><a style="color: #354248;" href="https://touchscreencognition.org/" target="_blank">TOUCHSCREEN COGNITION</a></li>
                    <li><a style="color: #354248;" href="https://touchscreencognition.org/forums" target="_blank">TOUCHSCREEN COMMUNITY</a></li>
                    <li><a style="color: #354248;" href="https://mouse-trap.org/" target="_blank">MOUSETRAP</a></li>
                </ul>

            </li>
        </ul>

    </mat-sidenav>

    <div class="page-wrap">
        <header role="banner">
            <mat-toolbar class="main-toolbar" style="min-height:100px; background-color: white; z-index: 1000; position: fixed;">
                <mat-toolbar-row class="top-bar" style="font-size: small; height: 30px; background-color: #8F55E0; color: white; padding-right: 30px; ">
                    <div *ngIf="isMobile" class="menu-button-container">
                        <button mat-icon-button (click)="sidenav.open()" title="Open sidenav">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>

                    <span class="fill-remaining-space"></span>

                    <div class="auth-links">
                        <a mat-button routerLink="/account/signin" *ngIf="(signedIn | async) === false" style="color:white;">Sign in</a>
                        <a mat-button routerLink="/account/signup" *ngIf="(signedIn | async) === false" style="color:white;">Sign up</a>
                        <span *ngIf="!!name">Hi {{ name }}!&nbsp;&nbsp;</span>
                        <a mat-button routerLink="/profile" *ngIf="signedIn | async" style="color:white;">Profile</a>
                        <a mat-button (click)="signout()" *ngIf="signedIn | async" style="color:white;">Sign out</a>
                    </div>
                </mat-toolbar-row>

                <mat-toolbar-row class="navigation-bar">
                    <!-- Mobile Logo -->
                    <div *ngIf="isMobile" class="mobile-menu">
                        <a routerLink="/home">
                            <img src="../assets/images/MouseBytes Logo Positive - TEMP.png" alt="Mousebytes Logo" title="Mousebytes Logo">
                        </a>
                    </div>

                    <!-- Tablet Menu -->
                    <div *ngIf="isTablet" class="tablet-menu">
                        <a routerLink="/home">
                            <img src="../assets/images/MouseBytes Logo Positive - TEMP.png" alt="Mousebytes Logo" title="Mousebytes Logo">
                        </a>
                        <ul class="nav-list">
                            <li *ngFor="let navItem of navItems">
                                <a [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                            </li>
                            <li *ngIf="isAdmin || isUser"><a routerLink="/dashboard">Upload Log</a></li>
                        </ul>
                    </div>

                    <!-- Desktop Menu -->
                    <div *ngIf="isDesktop" class="desktop-menu" style="display: flex; align-items: center;">
                        <a routerLink="/home">
                            <img src="../assets/images/MouseBytes Logo Positive - TEMP.png" alt="Mousebytes Logo" title="Mousebytes Logo">
                        </a>
                        <ul class="nav-list" style="float: left;">
                            <li>
                                TOUCHSCREEN DATA
                                <ul>
                                    <li><a routerLink="/mb-dashboard">Dashboard</a></li>
                                    <li *ngFor="let navItem of navItems">
                                        <a [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                                    </li>
                                    <li *ngIf="isAdmin || isUser"><a href="/experiment">Experiment</a></li>
                                    <li *ngIf="isAdmin || isUser"><a href="/upload">Upload</a></li>
                                    <li *ngIf="isAdmin || isUser"><a href="/animal-info">Animal</a></li>
                                    <li *ngIf="isAdmin || isUser"><a href="/dashboard">Upload Log</a></li>
                                    <li *ngIf="isAdmin"><a href="/manage-user">User Management</a></li>-->
                                </ul>
                            </li>
                            <li>
                                MOUSEBYTES+
                                <ul>
                                    <li *ngIf="isAdmin || isUser"><a href="/comp">Your Repositories</a></li>
                                    <li><a href="/comp-search">Search Repositories</a></li>
                                    <li><a href="/comp-search?showall=true">Repositories</a></li>
                                </ul>
                            </li>
                            <li>
                                PUBSCREEN
                                <ul>
                                    <li><a href="/pubScreen-dashboard">PubScreen Dashboard</a></li>
                                    <li><a href="/pubScreen">Add/Search Publications</a></li>
                                    <li *ngIf="isAdmin"><a href="/pubScreen-queue">Queue</a></li>
                                </ul>
                            </li>

                            <li>
                                TUTORIALS
                                <ul>
                                    <li *ngFor="let navItem of navItemsTutorials">
                                        <a [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                RESOURCES
                                <ul>
                                    <li *ngFor="let navItem of navItemsResources">
                                        <a [routerLink]="[navItem.route]">{{ navItem.name }}</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                TSC ECOSYSTEM
                                <ul>
                                    <li><a href="https://touchscreencognition.org/" target="_blank">TOUCHSCREEN COGNITION</a></li>
                                    <li><a href="https://touchscreencognition.org/forums" target="_blank">TOUCHSCREEN COMMUNITY</a></li>
                                    <li><a href="https://mouse-trap.org/" target="_blank">MOUSETRAP</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </header>
        <main id="contentMain" class="content inner-sidenav-content">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </main>
        <footer *ngIf="showFooter" class="footer" style="background-image:url(../assets/images/western_overlay.jpg); border-top: 1px solid grey;background-size: cover;">
            <div style="text-align: center;">
                <br />
                <br />
                <!--<span><img src="../assets/images/western.png" style="min-width: 300px; width: 300px; margin-left: 20px;"></span>-->

                <p class="footer-text" style="text-align:center; color: #d7d7d7; font-size: 90%; line-height: 20pt;">
                    <span>
                        Tim Bussey and Lisa Saksida have established a series of targeted cognitive tests for animals, administered via touchscreen within a custom environment
                        known as the "Bussey-Saksida touchscreen chamber". Cambridge Enterprise, the technology transfer office of the University of Cambridge, supported
                        commercialization of the Bussey-Saksida chamber, culminating in a license to Campden Instruments. Any financial compensation received from
                        commercialization of the technology is fully invested in further touchscreen development and/or maintenance.
                    </span>

                </p>
                <br />
                <br />
                <br />
                <!--<br />
                <br />-->
                <!--<br />
                <br />
                <br />
                <br />
                <br />-->
            </div>

            <p style="padding-left: 20px; color: #d7d7d7; text-align:center">
                <span>

                    &copy; 2018 Western University | <a style="color: #3498DB" href="https://mousebytes.ca/terms" target="_blank">Terms of Service</a> <br />
                    Research data is distributed under Creative Commons license | <a style="color: #3498DB" href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0 license</a>

                </span>
            </p>
            <br />

        </footer>


        <!--<span *ngIf="router.url != '/home'">
            <br />
            <br />
            <br />
        </span>-->
    </div>
</mat-sidenav-container>

