<h1>Mapping_SessionInfo</h1>

<div class="mapping_SessionInfo-container">

    <!--<mat-table #table [dataSource]="dataSource" class="mat-elevation-z2">
        <ng-container cdkColumnDef="id">
            <mat-header-cell *cdkHeaderCellDef> ID </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{ row.id }} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="taskname">
            <mat-header-cell *cdkHeaderCellDef> Task Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{ row.name}} </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="originalname">
            <mat-header-cell *cdkHeaderCellDef> Original Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{ row.originalName }} </mat-cell>
        </ng-container>

       

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>-->

</div>
