<div class="guideline" id="guideline">
    <br />

    <div class="account-card-container2">
        <mat-card>
            <mat-toolbar *ngIf="!isEditMode" color="primary">Adding Publication</mat-toolbar>
            <mat-toolbar *ngIf="isEditMode" color="primary">Editing Publication</mat-toolbar>

            <mat-card-content>

                <div>
                    <br />
                    <label>Please fill the following form to add a new touchscreen-based publication:</label>
                    <hr /><br />


                    <!--Adding Paper information ********************************************-->
                    <label style="color:#566573">Paper Information:</label><br /><br />
                    <div [hidden]="isEditMode">
                        <!--Source-->
                        <mat-radio-group [formControl]="sourceOption" [(ngModel)]="sourceOptionModel" required>
                            <span>Please indicate which of the following sources you want to use for adding the paper:</span>
                            <mat-radio-button value="1" (change)="resetFormVals()">PubMed</mat-radio-button>
                            <mat-radio-button value="2" (change)="resetFormVals()">bioRxiv</mat-radio-button>
                            <mat-radio-button value="3" (change)="resetFormVals()">Crossref</mat-radio-button>
                            <mat-radio-button value="4" (change)="resetFormVals()">None</mat-radio-button>
                            <mat-error style="font-size:small" *ngIf="sourceOption.invalid">{{getErrorMessagePaperSource()}}</mat-error>
                        </mat-radio-group>
                        <br /> <br />

                        <!--Adding Paper option for pubmed-->
                        <mat-radio-group [formControl]="addingOption" [(ngModel)]="addingOptionModel" required *ngIf="sourceOptionModel == 1">
                            <span>Please indicate which of the following options you want to use for adding the paper:</span>
                            <mat-radio-button value="1" (change)="resetFormVals()">DOI</mat-radio-button>
                            <mat-radio-button value="2" (change)="resetFormVals()">PubMedID</mat-radio-button>
                            <mat-error style="font-size:small" *ngIf="addingOption.invalid">{{getErrorMessagePaperOption()}}</mat-error>
                        </mat-radio-group>

                        <!--Adding Paper option for bioRxiv-->
                        <mat-radio-group [formControl]="bioAddingOption" [(ngModel)]="bioAddingOptionModel" required *ngIf="sourceOptionModel == 2">
                            <span>Please indicate which of the following options you want to use for adding the paper:</span>
                            <mat-radio-button value="1" (change)="resetFormVals()">DOI</mat-radio-button>
                            <mat-error style="font-size:small" *ngIf="bioAddingOption.invalid">{{getErrorMessagePaperOptionBio()}}</mat-error>
                        </mat-radio-group>

                        <!--Adding Paper option for crossRef-->
                        <mat-radio-group [formControl]="bioAddingOption" [(ngModel)]="bioAddingOptionModel" required *ngIf="sourceOptionModel == 3">
                            <span>Please indicate which of the following options you want to use for adding the paper:</span>
                            <mat-radio-button value="1" (change)="resetFormVals()">DOI</mat-radio-button>
                            <mat-error style="font-size:small" *ngIf="bioAddingOption.invalid">{{getErrorMessagePaperOptionBio()}}</mat-error>
                        </mat-radio-group>
                        <br /><br />

                        <!--Submitting Paper DOI to get Author List, Title, Abstract, Year, Keywords -->
                        <!--Paper DOI if DOI is available for pubMed-->
                        <mat-form-field *ngIf="addingOptionModel=='1' && sourceOptionModel=='1'">

                            <input matInput placeholder="Paper's DOI" [(ngModel)]="doiKeyModel" [formControl]="doiKey" required>
                            <mat-error *ngIf="doiKey.invalid">{{getErrorMessageDOIKey()}}</mat-error>

                        </mat-form-field>
                        <button mat-raised-button *ngIf="addingOptionModel=='1' && sourceOptionModel=='1'" matTooltip="Add DOI to get some information of paper from pubMed" (click)="addDOI(doiKeyModel)" [disabled]="setDisabledAddDOI()">Add DOI</button>

                        <!--Paper's PubMedID if PubmedID is available for pubMed-->
                        <mat-form-field *ngIf="addingOptionModel=='2' && sourceOptionModel=='1'">

                            <input matInput placeholder="Paper's PubMedID" [(ngModel)]="PubMedKeyModel" [formControl]="pubMedKey" required>
                            <mat-error *ngIf="pubMedKey.invalid">{{getErrorMessagePubMedKey()}}</mat-error>

                        </mat-form-field>
                        <button mat-raised-button *ngIf="addingOptionModel=='2' && sourceOptionModel=='1'" matTooltip="Add PubMedID to get some information of paper from pubMed" (click)="addPubMedID(PubMedKeyModel)" [disabled]="setDisabledAddPubMedID()">Add PubMedID</button>

                        <!--Paper's PubMedID if PubmedID is available for bioRxiv-->
                        <mat-form-field *ngIf="bioAddingOptionModel=='1' && sourceOptionModel=='2'">

                            <input matInput placeholder="Paper's DOI" [(ngModel)]="bioDoiKeyModel" [formControl]="doiKeyBio" required>
                            <mat-error *ngIf="doiKey.invalid">{{getErrorMessageDOIKeyBio()}}</mat-error>

                        </mat-form-field>
                        <button mat-raised-button *ngIf="bioAddingOptionModel=='1' && sourceOptionModel=='2'" matTooltip="Add DOI to get some information of paper from bioRxiv" (click)="addDOIBio(bioDoiKeyModel)" [disabled]="setDisabledAddDOIBio()">Add DOI</button>

                        <!--Paper's DOI if DOI is available for Crossref-->
                        <mat-form-field *ngIf="bioAddingOptionModel=='1' && sourceOptionModel=='3'">

                            <input matInput placeholder="Paper's DOI" [(ngModel)]="bioDoiKeyModel" [formControl]="doiKeyBio" required>
                            <mat-error *ngIf="doiKey.invalid">{{getErrorMessageDOIKeyBio()}}</mat-error>

                        </mat-form-field>
                        <button mat-raised-button *ngIf="bioAddingOptionModel=='1' && sourceOptionModel=='3'" matTooltip="Add DOI to get some information of paper from Crossref" (click)="addDOICrossref(bioDoiKeyModel)" [disabled]="setDisabledAddDOIBio()">Add DOI</button>
                        <br />
                    </div>

                    <!--Paper Author if either pubmedI or DOI is not available-->
                    <div *ngIf="sourceOptionModel=='4' || isEditMode">
                        <mat-form-field>
                            <mat-select [formControl]="author" placeholder="Select Author" [(ngModel)]="authorModel" required multiple>

                                <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="authorMultiSelect" [formControl]="authorMultiFilterCtrl"></ngx-mat-select-search>

                                <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                    {{author.firstName}}-{{author.lastName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="author.invalid">{{getErrorMessageAuthor()}}</mat-error>
                        </mat-form-field>&nbsp;

                        <button mat-icon-button *ngIf="sourceOptionModel=='4'" matTooltip="Add new author" (click)="openDialogAuthor()"><mat-icon>add</mat-icon></button>

                        <br /><br />
                    </div>

                    <!--Paper Author-->
                    <mat-form-field style="width:62%" *ngIf="sourceOptionModel!='4' && !isEditMode">

                        <textarea matInput placeholder="Paper's Author" [(ngModel)]="authorModel2" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4">
    
                                        </textarea>

                    </mat-form-field>

                    <!--paper reference-->
                    <mat-form-field [ngStyle]="{'width': '31%', 'padding-left': (data.publicationObj!=null) ? '0px' : '30px'}" *ngIf="sourceOptionModel!='4'">

                        <textarea matInput placeholder="Paper's Reference" [(ngModel)]="referenceModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4">
    
                                        </textarea>

                    </mat-form-field>
                    <br />

                    <!--Paper Title-->
                    <mat-form-field style="width:30%">

                        <textarea matInput placeholder="Paper's Title" [formControl]="title" [(ngModel)]="titleModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4" required>
    
                                        </textarea>
                        <mat-error *ngIf="title.invalid">{{getErrorMessageTitle()}}</mat-error>

                    </mat-form-field>

                    <!--Paper Abstract-->
                    <mat-form-field style="width:30%; padding-left:35px">

                        <textarea matInput placeholder="Paper's Abstract" [(ngModel)]="abstractModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
    
                                        </textarea>
                    </mat-form-field>

                    <!--Paper year-->
                    <mat-form-field style="width:30%; padding-left:30px">

                        <input matInput placeholder="Paper's Year" [formControl]="year" [(ngModel)]="yearModel" required>
                        <mat-error *ngIf="year.invalid">{{getErrorMessageYear()}}</mat-error>
                        <mat-error *ngIf="year.invalid">{{getErrorMessageYearVal()}}</mat-error>

                    </mat-form-field><br />

                    <!--Paper Keywords-->
                    <mat-form-field style="width:30%;">

                        <textarea matInput placeholder="Paper's Keywords" [(ngModel)]="keywordsModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">
    
                                        </textarea>

                    </mat-form-field>

                    <!--Paper DOI-->
                    <mat-form-field style="width:30%; padding-left:35px">

                        <input matInput placeholder="Paper's DOI" [(ngModel)]="doiModel" [formControl]="doi" [readonly]="data.publicationObj!=null" required>
                        <mat-error *ngIf="doi.invalid">{{getErrorMessageDOI()}}</mat-error>

                    </mat-form-field>

                    <!--Paper Type-->
                    <mat-form-field style="width:30%; padding-left:30px">
                        <mat-select placeholder="Select Type of Paper" [formControl]="paperType" [(ngModel)]="paperTypeModel" required>
                            <mat-option *ngFor="let type of paperTypeList" [value]="type.id">
                                {{type.paperType}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="paperType.invalid">{{getErrorMessagePaperType()}}</mat-error>
                    </mat-form-field>

                    <br /><br />

                    <!--Adding Key Features *********************************************************-->
                    <label style="color:#566573">Key Features:</label><br />
                    Note: if the relevant task or task category is not included in the dropdown lists, please fill the 'Adding new Pubscreen task' form <a href="http://localhost:4200/forms">here</a>.
                    <br />

                    <!--Cognitive Task or Task Category--------------------------------->
                    <mat-form-field style="width:15%;">
                        <mat-select placeholder="Select Task Category" [(ngModel)]="cognitiveTaskModel" (selectionChange)="selectedTaskChange(cognitiveTaskModel)" multiple>
                            <mat-option *ngFor="let task of taskList" [value]="task.id">
                                <span matTooltip="{{task.task}}">{{task.task}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--Cognitive Task or subtasks-------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Cognitive Task(s)" [(ngModel)]="subTaskModel" multiple>
                            <mat-option *ngFor="let subtask of subTaskList" [value]="subtask.id">
                                <span matTooltip="{{subtask.subTask}}">{{subtask.subTask}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                    <!--Species---------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Specie(s)" [(ngModel)]="specieModel" (selectionChange)="selectedSpeciesChange(specieModel)" multiple>
                            <mat-option *ngFor="let specie of specieList" [value]="specie.id">
                                <span matTooltip="{{specie.species}}">{{specie.species}}</span>
                            </mat-option>
                        </mat-select>

                        <!--<mat-error *ngIf="specie.invalid">{{getErrorMessageSpecie()}}</mat-error>-->
                    </mat-form-field>

                    <span *ngIf="specieModel.includes(3)">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="Insert a new value for Species" [(ngModel)]="specieOtherModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one specie, separate them by semicolon ( ; )"></fa>
                    </span>

                    <!--Strain----------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Strain" [(ngModel)]="strainModel" multiple>

                            <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [(ngModel)]="strainMultiSelect" [formControl]="strainMultiFilterCtrl"></ngx-mat-select-search>

                            <mat-option *ngFor="let strain of filteredStrainList | async" [value]="strain.id">
                                <span matTooltip="{{strain.strain}}">{{strain.strain}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <!--<span *ngIf="strainModel.includes(19)">-->
                    <span *ngIf="isOtherStrainMouse()">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="New Mouse Strain" [(ngModel)]="strainOtherMouseModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one strain, separate them by semicolon ( ; )"></fa>
                    </span>

                    <span *ngIf="isOtherStrainRat()">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="New Rat Strain" [(ngModel)]="strainOtherRatModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one strain, separate them by semicolon ( ; )"></fa>
                    </span>

                    <!--Sex---------------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>

                            <mat-option *ngFor="let sex of sexList" [value]="sex.id">

                                <span matTooltip="{{sex.sex}}">{{sex.sex}}</span>
                            </mat-option>
                        </mat-select>
                        <!--<mat-error *ngIf="sex.invalid">{{getErrorMessageSex()}}</mat-error>-->
                    </mat-form-field>
                    <br />

                    <!--DiseaseModel----------------------------------->
                    <mat-form-field style="width:15%;">
                        <mat-select placeholder="Select Rodent Model(s)" [(ngModel)]="diseaseModel" multiple>
                            <mat-option *ngFor="let disease of diseaseList" [value]="disease.id">
                                <span matTooltip="{{disease.diseaseModel}}">{{disease.diseaseModel}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <span *ngIf="diseaseModel.includes(14)">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="Insert a new value for Disease Model" [(ngModel)]="diseaseOtherModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one disease model, separate them by semicolon ( ; )"></fa>
                    </span>

                    <!--BrainRegion----------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Brain Region(s)" [(ngModel)]="regionModel" (selectionChange)="selectedRegionChange(regionModel)" multiple>
                            <mat-option *ngFor="let region of regionList" [value]="region.id">
                                <span matTooltip="{{region.brainRegion}}">{{region.brainRegion}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <!--SubRegion------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Sub-brain Region(s)" [(ngModel)]="subRegionModel" multiple>
                            <mat-option *ngFor="let subregion of subRegionList" [value]="subregion.id">
                                <span matTooltip="{{subregion.subRegion}}">{{subregion.subRegion}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <!--CellType------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Cell Type(s)" [(ngModel)]="cellTypeModel" multiple>
                            <mat-option *ngFor="let cell of cellTypeList" [value]="cell.id">
                                <span matTooltip="{{cell.cellType}}">{{cell.cellType}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <span *ngIf="cellTypeModel.includes(4)">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="Insert a new value for Cell Type" [(ngModel)]="cellOtherModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one cell type, separate them by semicolon ( ; )"></fa>
                    </span>

                    <!--Method--------------------------------------->
                    <mat-form-field style="width:15%; padding-left:30px">
                        <mat-select placeholder="Select Method" [(ngModel)]="methodModel" multiple>
                            <mat-option *ngFor="let method of methodList" [value]="method.id">
                                <span matTooltip="{{method.method}}">{{method.method}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <span *ngIf="methodModel.includes(23)">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="Insert a new value for Method" [(ngModel)]="methodOtherModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one method, separate them by semicolon ( ; )"></fa>
                    </span><br />


                    <!--NeuroTransmitter Systems------------------------>
                    <mat-form-field style="width:15%;">
                        <mat-select placeholder="Select Neurotransmitter System" [(ngModel)]="neurotransmitterModel" multiple>
                            <mat-option *ngFor="let neuro of neurotransmitterList" [value]="neuro.id">
                                <span matTooltip="{{neuro.neuroTransmitter}}">{{neuro.neuroTransmitter}}</span>
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                    <span *ngIf="neurotransmitterModel.includes(8)">
                        &nbsp;&nbsp;
                        <mat-form-field style="padding-left:30px">

                            <input matInput placeholder="Insert a new value for Neurotransmitter" [(ngModel)]="neurotransmitterOtherModel" required>

                        </mat-form-field>
                        <fa name="question-circle" animation="spin" matTooltip="If you need to add more than one neurotransmitter, separate them by semicolon ( ; )"></fa>
                    </span>

                </div>
                <br />
                <div>
                    <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledVal()" (click)="AddEditPublication()">Submit</button>
                </div>

            </mat-card-content>

        </mat-card>
    </div>


    <!--***********************************************************************************************************
    ***************************************************************************************************************-->



    <br />
    <br />
    <br />

</div>
