<!--<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>PUBSCREEN</h1></div>-->

<div class="guideline" id="guideline">
    <!--<br />


    <br />
    <div class="content">
        PubScreen is an interactive database enabling users to deposit key features from papers that use touchscreen technology and also to search/find the publication(s)
        that match the search criteria.
    </div>-->
    <app-shared-pubscreen></app-shared-pubscreen>

    <!--***********************************************************************************************************
    ***************************************************************************************************************-->



    <br />
    <br />
    <br />

</div>
