<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>PUBSCREEN</h1></div>

<div>

    <div class="content">
        <p style="padding-left:50px; text-align-last:center">
            <span style="text-align: left; width:100%">PubScreen is an interactive database enabling users to deposit key features from papers that use touchscreen technology and also to search/find the publication(s)
            that match the search criteria.</span>
            <br /><br /><br />
            <!--<span style="color: #ceaafb">{{pubCount}}</span> Total Publications in Pubscreen-->
            <span countUp [endVal]="pubCount" style="color: #663399; font-size:large; font-weight:bold">0</span><span style="color: #4B0082; font-size:large;"> Total Publications in Pubscreen</span>
            <br />
            <br />
            <!--<span style="color: #ceaafb">{{featureCount}}</span> Publications with Key Features Added-->
            <span countUp [endVal]="featureCount" style="color: #663399; font-size: large; font-weight:bold">0</span><span style="color: #4B0082; font-size:large;"> Publications with Key Features Added</span>
        </p>

    </div>


    <!--<app-shared-pubscreen></app-shared-pubscreen>-->
    <!--***********************************************************************************************************
    ***************************************************************************************************************-->
    <div style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:white; background-color:#795D9C; font-size:large;">PUBSCREEN PUBLICATIONS</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">

                        <div>
                            <div style="padding-bottom:10px" *ngIf="(isAdmin || isUser); else other_content">
                                <label>Adding Publication: </label>
                                <button mat-icon-button matTooltip="Add new publication" (click)="openDialogAddPublication()"><mat-icon>add</mat-icon></button>
                                <hr />
                            </div>

                            <ng-template #other_content><span style="color:red">You should be logged into the sytem in order to add a publication!</span> <hr /></ng-template>

                            <label>You can search and extract publications based on the following search criteria:</label><br /><br />
                            <hr /><br />

                            <!--Searching Author information ********************************************-->
                            <label style="color:#566573">Author Information:</label><br />

                            <mat-form-field>
                                <mat-select placeholder="Select Author" [(ngModel)]="authorModel" multiple>

                                    <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="authorMultiSelect" [formControl]="authorMultiFilterCtrl"></ngx-mat-select-search>

                                    <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                        {{author.firstName}}-{{author.lastName}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>&nbsp;

                            <br /><br />

                            <!--Searching Paper information ********************************************-->
                            <label style="color:#566573">Paper Information:</label><br />

                            <!--Paper Title-->
                            <mat-form-field style="width:30%">

                                <textarea matInput placeholder="Paper's Title" [(ngModel)]="titleModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4">
    
                                        </textarea>

                            </mat-form-field>


                            <!--Paper year From-->
                            <mat-form-field style="width:14%; padding-left:30px">

                                <mat-select placeholder="Year From" [(ngModel)]="yearFromSearchModel">
                                    <mat-option *ngFor="let val of yearList" [value]="val">
                                        {{val}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Paper year To-->
                            <mat-form-field style="width:14%; padding-left:30px">

                                <mat-select placeholder="Year To" [(ngModel)]="yearToSearchModel" [formControl]="yearTo"
                                            (selectionChange)="selectYearToChange(yearFromSearchModel, yearToSearchModel)">
                                    <mat-option *ngFor="let val of yearList" [value]="val">
                                        {{val}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>{{getErrorMessageYearTo()}}</mat-error>

                            </mat-form-field>

                            <!--Paper Type-->
                            <mat-form-field style="width:14%; padding-left:30px">
                                <mat-select placeholder="Select Type of Paper" [(ngModel)]="paperTypeModel" multiple>
                                    <mat-option *ngFor="let type of paperTypeList" [value]="type.id">
                                        {{type.paperType}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field><br />

                            <!--Paper Keywords-->
                            <mat-form-field style="width:30%;">

                                <input matInput placeholder="Paper's Keywords" [(ngModel)]="keywordsModel">

                            </mat-form-field>

                            <!--Paper DOI-->
                            <mat-form-field style="width:30%; padding-left:35px">

                                <input matInput placeholder="Paper's DOI" [(ngModel)]="doiModel">

                            </mat-form-field><br /><br />

                            <!--Adding Key Features ********************************************-->
                            <label style="color:#566573">Key Features:</label><br />

                            <!--Cognitive Task or Task Category-->
                            <mat-form-field style="width:15%;">
                                <mat-select placeholder="Select Task Category" [(ngModel)]="cognitiveTaskModel" (selectionChange)="selectedTaskChange(cognitiveTaskModel)" multiple>
                                    <mat-option *ngFor="let task of taskList" [value]="task.id">
                                        <span matTooltip="{{task.task}}">{{task.task}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Cognitive Task or subtasks-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Cognitive Task(s)" [(ngModel)]="subTaskModel" multiple>
                                    <mat-option *ngFor="let subtask of subTaskList" [value]="subtask.id">
                                        <span matTooltip="{{subtask.subTask}}">{{subtask.subTask}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Species-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Specie(s)" [(ngModel)]="specieModel" (selectionChange)="selectedSpeciesChange(specieModel)" multiple>
                                    <mat-option *ngFor="let specie of specieList" [value]="specie.id">
                                        <span matTooltip="{{specie.species}}">{{specie.species}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Strain-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Strain" [(ngModel)]="strainModel" multiple>

                                    <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Result not found!" [(ngModel)]="strainMultiSelect" [formControl]="strainMultiFilterCtrl"></ngx-mat-select-search>

                                    <mat-option *ngFor="let strain of filteredStrainList | async" [value]="strain.id">
                                        <span matTooltip="{{strain.strain}}">{{strain.strain}}</span>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!--Sex-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                                    <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                                        <span matTooltip="{{sex.sex}}">{{sex.sex}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                            <br />

                            <!--DiseaseModel-->
                            <mat-form-field style="width:15%;">
                                <mat-select placeholder="Select Rodent Model(s)" [(ngModel)]="diseaseModel" (selectionChange)="selectedModelChange(diseaseModel)" multiple>
                                    <mat-option *ngFor="let disease of diseaseList" [value]="disease.id">
                                        <span matTooltip="{{disease.diseaseModel}}">{{disease.diseaseModel}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--SubRodent Model----------------------------------->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sub-Rodent Model(s)" [(ngModel)]="subModel" multiple>
                                    <mat-option *ngFor="let sub of subSubModelList" [value]="sub.id">
                                        <span matTooltip="{{sub.subModel}}">{{sub.subModel}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--BrainRegion-->
                            <mat-form-field style="width:15%; padding-left:30px">

                                <mat-select placeholder="Select Brain Region(s)" [(ngModel)]="regionModel" (selectionChange)="selectedRegionChange(regionModel)" multiple>
                                    <mat-option *ngFor="let region of regionList" [value]="region.id">
                                        <span matTooltip="{{region.brainRegion}}">{{region.brainRegion}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--SubRegion-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sub-brain Region(s)" [(ngModel)]="subRegionModel" multiple>
                                    <mat-option *ngFor="let subregion of subRegionList" [value]="subregion.id">
                                        <span matTooltip="{{subregion.subRegion}}">{{subregion.subRegion}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--CellType-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Cell Type(s)" [(ngModel)]="cellTypeModel" multiple>
                                    <mat-option *ngFor="let cell of cellTypeList" [value]="cell.id">
                                        <span matTooltip="{{cell.cellType}}">{{cell.cellType}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <br />

                            <!--Method-->
                            <mat-form-field style="width:15%;">
                                <mat-select placeholder="Select Method" [(ngModel)]="methodModel" (selectionChange)="selectedMethodChange(methodModel)" multiple>
                                    <mat-option *ngFor="let method of methodList" [value]="method.id">
                                        <span matTooltip="{{method.method}}">{{method.method}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--SubMethod Model----------------------------------->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sub-Method(s)" [(ngModel)]="subMethodModel" multiple>
                                    <mat-option *ngFor="let sub of subSubMethodList" [value]="sub.id">
                                        <span matTooltip="{{sub.subMethod}}">{{sub.subMethod}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--NeuroTransmitter Systems-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Neurotransmitter System" [(ngModel)]="neurotransmitterModel" multiple>
                                    <mat-option *ngFor="let neuro of neurotransmitterList" [value]="neuro.id">
                                        <span matTooltip="{{neuro.neuroTransmitter}}">{{neuro.neuroTransmitter}}</span>
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                        <br />
                        <div>
                            <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledValSearch()" (click)="search()">Search</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<div>{{isAdmin}}</div>-->
    <!--Adding table to show result of search-->
    <br /><br />
    <div *ngIf="searchResultList?.length == 0">
        <table class="docs-markdown-table">
            <tr><td style="text-align:center;"><span style="color:red; font-size:large">No results found for search criteria!</span></td></tr>
        </table>
    </div>
    <div *ngIf="searchResultList?.length > 0">
        <!--<app-shared-experiment></app-shared-experiment>-->
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="background-color:#bab9b6">List of Publications</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr style="border-bottom:1pt solid #8D8E90;" *ngFor="let row of searchResultList">
                    <td>
                        <label style="color:#8D8E90"><b>Paper Information:</b></label>
                        <span *ngIf="isAdmin || isUser" style="float:right;"><button mat-icon-button matTooltip="Edit Publication" (click)="openDialogEditPublication(row)"><mat-icon>edit</mat-icon></button></span>&nbsp;
                        <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Get Paper Link" (click)="getLink(row.paperLinkGuid)"><mat-icon>link</mat-icon></button></span>&nbsp;
                        <span *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Delete Publication" (click)="delPub(row)" color="warn"><mat-icon>delete</mat-icon></button></span>&nbsp;
                        <div style="clear:both"></div>
                        <br /><br />

                        <label>Title:</label> &nbsp; <span style="color:#909497;">{{( row.title ==="") ?  "N/A" : row.title}}</span><br /><br />
                        <label>Authors:</label> &nbsp; <span style="color:#909497;">{{( row.author =="") ?  "N/A" : row.author}}</span><br /><br />
                        <label>Keywords:</label>&nbsp; <span style="color:#909497;">{{( row.keywords =="") ?  "N/A" : row.keywords}}</span> &nbsp; &nbsp; &nbsp;
                        <!--<label>DOI:</label>&nbsp; <span style="color:#909497;">{{( row.doi =="") ?  "N/A" : row.doi}}</span>&nbsp; &nbsp; &nbsp;-->
                        <label>DOI:</label>&nbsp; <span style="color:#909497;" [innerHTML]='( row.doi =="") ?  "N/A" : "<a href=http://www.doi.org/" + row.doi + " target=_blank>" + row.doi + "</a>"'></span>&nbsp; &nbsp; &nbsp;
                        <label>Year:</label> &nbsp; <span style="color:#909497;">{{( row.year =="") ?  "N/A" : row.year}}</span> &nbsp; &nbsp; &nbsp;
                        <label>Paper Type:</label> &nbsp; <span style="color:#909497;">{{( row.paperType =="") ?  "N/A" : row.paperType}}</span><br /><br />

                        <label style="color:#8D8E90"><b>Key Features:</b></label> <br /><br />

                        <label>Task Category:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.task =="") ?  "N/A" : (_pubSCreenSearch.taskID==Null || _pubSCreenSearch.taskID.lenght == 0 || _pubSCreenSearch.taskID == "") ? row.task  : "<b>" + row.task + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Task(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subTask =="") ?  "N/A" : (_pubSCreenSearch.subTaskID==Null || _pubSCreenSearch.subTaskID.lenght == 0 || _pubSCreenSearch.subTaskID == "") ? row.subTask  : "<b>" + row.subTask + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Specie(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.species =="") ?  "N/A" : (_pubSCreenSearch.specieID==Null || _pubSCreenSearch.specieID.lenght == 0 || _pubSCreenSearch.specieID == "") ? row.species  : "<b>" + row.species + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sex:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.sex =="") ?  "N/A" : (_pubSCreenSearch.sexID==Null || _pubSCreenSearch.sexID.lenght == 0 || _pubSCreenSearch.sexID == "") ? row.sex  : "<b>" + row.sex + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                        <label>Strain(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.strain =="") ?  "N/A" : (_pubSCreenSearch.strainID==Null || _pubSCreenSearch.strainID.lenght == 0 || _pubSCreenSearch.strainID == "") ? row.strain  : "<b>" + row.strain + "</b>"'></span> <br /><br /> <!--&nbsp; &nbsp; &nbsp;-->
                        <label>Rodent Model(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.diseaseModel =="") ?  "N/A" : (_pubSCreenSearch.diseaseID==Null || _pubSCreenSearch.diseaseID.lenght == 0 || _pubSCreenSearch.diseaseID == "") ? row.diseaseModel  : "<b>" + row.diseaseModel + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sub-Rodent Model(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subModel =="") ?  "N/A" : (_pubSCreenSearch.subModelID==Null || _pubSCreenSearch.subModelID.lenght == 0 || _pubSCreenSearch.subModelID == "") ? row.subModel  : "<b>" + row.subModel + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                        <label>Brain Region(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.brainRegion =="") ?  "N/A" : (_pubSCreenSearch.regionID==Null || _pubSCreenSearch.regionID.lenght == 0 || _pubSCreenSearch.regionID == "") ? row.brainRegion  : "<b>" + row.brainRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sub-brain Region(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subRegion =="") ?  "N/A" : (_pubSCreenSearch.subRegionID==Null || _pubSCreenSearch.subRegionID.lenght == 0 || _pubSCreenSearch.subRegionID == "") ? row.subRegion  : "<b>" + row.subRegion + "</b>"'></span> <br /><br />

                        <label>Cell Type(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.cellType =="") ?  "N/A" : (_pubSCreenSearch.cellTypeID==Null || _pubSCreenSearch.cellTypeID.lenght == 0 || _pubSCreenSearch.cellTypeID == "") ? row.cellType  : "<b>" + row.cellType + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Method(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.method =="") ?  "N/A" : (_pubSCreenSearch.methodID==Null || _pubSCreenSearch.methodID.lenght == 0 || _pubSCreenSearch.methodID == "") ? row.method  : "<b>" + row.method + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sub-Method(s):</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.subMethod =="") ?  "N/A" : (_pubSCreenSearch.subMethodID==Null || _pubSCreenSearch.subMethodID.lenght == 0 || _pubSCreenSearch.subMethodID == "") ? row.subMethod  : "<b>" + row.subMethod + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Neurotransmitter:</label>&nbsp; <span style="color:#909497;" [innerHTML]='(row.neuroTransmitter =="") ?  "N/A" : (_pubSCreenSearch.transmitterID==Null || _pubSCreenSearch.transmitterID.lenght == 0 || _pubSCreenSearch.transmitterID == "") ? row.neuroTransmitter  : "<b>" + row.neuroTransmitter + "</b>"'></span> <br /><br />

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngIf="row.experiment.length>0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span style="color: #A569BD;">MouseBytes datasets associated to this publicaton:</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p><span>You can search and extract the data using the following link and information:</span>&nbsp;<a href="https://mousebytes.ca/data-extraction" target="_blank">Extracting Data</a></p>
                            <table>
                                <tr *ngFor="let exp of row.experiment">
                                    <td>Experiment Name:&nbsp; <span style="color:#909497;">{{exp.expName}}</span></td>
                                    <td>Task Name: &nbsp; <span style="color:#909497;">{{exp.taskName}}</span></td>
                                    <td>Status:&nbsp; <span style="color:#909497;">{{exp.status ? "Public" : "Private"}}</span></td>
                                </tr>
                            </table>

                        </mat-expansion-panel>
                        <mat-expansion-panel *ngIf="row.repo.length>0">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span style="color: #A569BD;">Complementary datasets associated to this publicaton:</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table>
                                <tr *ngFor="let rep of row.repo">
                                    <td>Repository Name:&nbsp; <span style="color:#909497;">{{rep.title}}</span></td>
                                    <td>Status:&nbsp; <span style="color:#909497;">{{rep.privacyStatus ? "Public" : "Private"}}</span></td>
                                    <td *ngIf="rep.privacyStatus">
                                        <span style="color:#909497;" [innerHTML]='"<a href=http://localhost:4200/comp-edit?repolinkguid=" + rep.repoLinkGuid + " target=_blank><label>Repository Link</label></a>"'></span>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                        <br />


                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <br />
    <br />
    <br />

</div>
