<div>
    <h3 mat-dialog-title>Please fill the form to add new PI to the system:</h3>

    <mat-dialog-content>
        <br />

        <!--<app-shared-experiment></app-shared-experiment>-->

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter PI's Full Name" [formControl]="piName" required>
            <mat-error *ngIf="piName.invalid">{{getErrorMessagePIName()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter PI email address:" [formControl]="emailPI" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="emailPI.invalid">{{getErrorMessagePIEmail()}}</mat-error>
            <mat-error *ngIf="emailPI.invalid">{{getErrorMessagePIEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter PI's Institution(s)" [formControl]="institution" required>
            <mat-error *ngIf="institution.invalid">{{getErrorMessageIns()}}</mat-error>

        </mat-form-field>



    </mat-dialog-content>
    <br />

    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
