

<header class="section-header">
    <div class="container">
        <div class="row" style="padding-top: 80px;">
            <h1 class="section-title">Download</h1>
            <div class="section-border"></div>
            <p class="section-subtitle">{{text}}</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="block-container">
                <div class="block-icon">

                </div>
                <div class="block-content">
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<br />
<br />
<br />
