
<header class="section-header">
    <div class="container">
        <div class="row" style="padding-top: 80px;">
            <h1 class="section-title">Download</h1>
            <div class="section-border"></div>
            <p class="section-subtitle">{{text}}</p>
        </div>
    </div>


</header>


<table class="docs-markdown-table"  *ngIf="expObj!=null">
    <thead>
        <tr>
            <th class="docs-markdown-th" colspan="2">Metadata for dataset: {{expObj.expName}}</th>
        </tr>
    </thead>
    <tbody class="docs-markdown-tbody">
        <tr>
            <td class="docs-markdown-td" style="vertical-align:top;">
                <div  *ngIf="expObj!=null">
                    <label>Experiment name:</label>&nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.expName}}</span>&nbsp; &nbsp; &nbsp;
                    <label>Task:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.cognitiveTask}}</span>&nbsp; &nbsp; &nbsp;
                    <label>Status:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.status}}</span>&nbsp; &nbsp;
                    <label>Age:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.age}}</span>&nbsp; &nbsp; &nbsp;
                    <br /><br />
                    <label>Strain:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.strain}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>Genotype:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.genotype}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>Experiment Description:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.taskDescription}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>Start date - End Date:</label>&nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.period}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>PI and Institution:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.piSiteName}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>Researcher:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.username}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>Email:</label> &nbsp; <span style="color:#696d70;" *ngIf="expObj!=null">{{expObj.email}}</span>&nbsp; &nbsp; &nbsp;<br /><br />
                    <label>DOI:</label>&nbsp;&nbsp;
                    <a href="{{'http://www.doi.org/' + expObj.doi}}" target="_blank" style="color:#696d70;" *ngIf="expObj!=null">{{expObj.doi}}</a>
                </div>

            </td>

        </tr>
        <tr>
            <td>
                <div *ngIf="expObj!=null">
                    <br /><br />
                    &nbsp; &nbsp; &nbsp;<button (click)="DownloadDsFile(expObj.expId)" mat-raised-button [disabled]="expObj.status == 'Private'">Download</button>&nbsp; &nbsp;
                    <span style="color: red" *ngIf="expObj.status == 'Private'">
                        This experiment is private. Please contact the owner of the data.
                    </span>
                    <br />
                    <br />
                </div>
            </td>

        </tr>
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="block-container">
                <div class="block-icon">

                </div>
                <div class="block-content">
                    <br />
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<br />
<br />
<br />
