<div>
    <h3 mat-dialog-title>Please fill the form to add new Pubscreen task:</h3>

    <mat-dialog-content>
        <br />

        <!--<app-shared-experiment></app-shared-experiment>-->

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter your Full Name" [formControl]="name" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="Enter your email address:" [formControl]="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="DOI of Paper in Question" [formControl]="doi" required>
            <mat-error *ngIf="doi.invalid">{{getErrorMessageDOI()}}</mat-error>

        </mat-form-field>


        <!--Cognitive Task or Task Category-->
        <mat-form-field style="width:48%;">
            <mat-select placeholder="Select Task Category" [formControl]="taskCategory" required>
                <mat-option *ngFor="let task of taskCategoryList" [value]="task.task">
                    <span matTooltip="{{task.task}}">{{task.task}}</span>
                </mat-option>
            </mat-select>
            <mat-error *ngIf="taskCategory.invalid">{{getErrorMessageTaskCategory()}}</mat-error>

        </mat-form-field>&nbsp;&nbsp;&nbsp;

        <mat-form-field *ngIf="taskCategory.value=='None'" style="width:48%;">
            <input matInput placeholder="New Task Category" [formControl]="newCategory" required>
            <mat-error *ngIf="newCategory.invalid">{{getErrorMessageNewCategory()}}</mat-error>
        </mat-form-field>
        <br />

        <mat-form-field class="full-width">
            <input matInput placeholder="New Task Name" [formControl]="newTask" required>
            <mat-error *ngIf="newTask.invalid">{{getErrorMessageNewTask()}}</mat-error>

        </mat-form-field>

        <!--<mat-form-field class="full-width">
        <textarea matInput placeholder="Enter your request" [formControl]="request" [(ngModel)]="reqRequestModel" matTextareaAutosize matAutosizeMinRows="4" matAutosizeMaxRows="40" required></textarea>
        <mat-error *ngIf="request.invalid">{{getErrorMessageRequest()}}</mat-error>

    </mat-form-field>-->


    </mat-dialog-content>
    <br />

    <mat-dialog-actions>
        <button mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
