<div>
    <h3 mat-dialog-title>Please fill the form to add new cognitive task to the system:</h3>

    <mat-dialog-content>
        <br />

        <!--<app-shared-experiment></app-shared-experiment>-->

        <mat-form-field class="full-width">
            <input aria-label="Enter your full name" matInput placeholder="Enter your Full Name" [formControl]="name" [(ngModel)]="reqNameModel" required>
            <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter your email address" matInput placeholder="Enter your email address:" [formControl]="email" [(ngModel)]="reqEmailModel" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmailValid()}}</mat-error>

        </mat-form-field>

        <mat-form-field class="full-width">
            <input aria-label="Enter cognitive task" matInput placeholder="Enter cognitive task" [formControl]="task" [(ngModel)]="reqTaskModel" required>
            <mat-error *ngIf="task.invalid">{{getErrorMessageTask()}}</mat-error>

        </mat-form-field>

        <mat-form-field style="width: 95%">
            <textarea aria-label="Enter all the Schedule names separated by comma" matInput placeholder="Enter all the Schedule names separated by comma:" [(ngModel)]="reqScheduleModel" matTextareaAutosize matAutosizeMinRows="2"
                      matAutosizeMaxRows="5"></textarea>
        </mat-form-field>
        <fa name="question-circle" animation="spin" matTooltip=""></fa>

    </mat-dialog-content>
    <br />

    <!--<fa name="question" animation="spin" matTooltip="This is a very good description! This is a very good description! This is a very good description!"></fa>-->

    <br />
    <mat-dialog-actions>
        <button aria-label="Submit to add new cognitive task to the system" mat-raised-button (click)="onCloseSubmit()" [disabled]="setDisabledVal()">SUBMIT</button>
        <button aria-label="Cancel" mat-raised-button mat-dialog-close (click)="onCloseCancel()">CANCEL</button>
    </mat-dialog-actions>

</div>
