USE [Mousebytes]
GO
/****** Object:  Table [dbo].[AnimalTimeSeries]    Script Date: 2026-01-05 10:32:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnimalTimeSeries](
	[AnimalID] [int] IDENTITY(1,1) NOT NULL,
	[ExperimentID] [int] NOT NULL,
	[UserAnimalID] [varchar](255) NOT NULL,
	[Strain] [varchar](255) NULL,
	[Genotype] [varchar](255) NULL,
	[Sex] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[AnimalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperimentTimeSeries]    Script Date: 2026-01-05 10:32:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperimentTimeSeries](
	[ExperimentID] [int] IDENTITY(1,1) NOT NULL,
	[ExpName] [varchar](255) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[StartExpDate] [datetime] NOT NULL,
	[EndExpDate] [datetime] NULL,
	[SpeciesID] [int] NOT NULL,
	[TaskName] [varchar](255) NOT NULL,
	[TaskDescription] [varchar](1000) NULL,
	[TaskBattery] [varchar](255) NULL,
	[DOI] [varchar](200) NULL,
	[PIName] [varchar](255) NULL,
	[RepoStatus] [bit] NOT NULL,
	[MultipleSessions] [bit] NOT NULL,
	[RepoGuid] [uniqueidentifier] NULL,
	[DataCiteURL] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperimentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubExperimentTimeSeries]    Script Date: 2026-01-05 10:32:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubExperimentTimeSeries](
	[SubExperimentID] [int] IDENTITY(1,1) NOT NULL,
	[ExperimentID] [int] NOT NULL,
	[StartAge] [float] NOT NULL,
	[EndAge] [float] NOT NULL,
	[SubExpName] [varchar](255) NOT NULL,
	[isIntervention] [bit] NOT NULL,
	[InterventionDescription] [varchar](1000) NULL,
	[IsDrug] [bit] NOT NULL,
	[DrugName] [varchar](255) NULL,
	[DrugUnit] [varchar](100) NULL,
	[DrugQuantity] [varchar](100) NULL,
	[ImageIds] [varchar](50) NULL,
	[ImageDescription] [varchar](1000) NULL,
	[Housing] [varchar](50) NULL,
	[LightCycle] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubExperimentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadTimeSeries]    Script Date: 2026-01-05 10:32:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadTimeSeries](
	[UploadID] [int] IDENTITY(1,1) NOT NULL,
	[ExperimentID] [int] NOT NULL,
	[SubExperimentID] [int] NOT NULL,
	[AnimalID] [int] NOT NULL,
	[UserFileName] [varchar](255) NULL,
	[SysFileName] [varchar](255) NULL,
	[SessionName] [varchar](255) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[WarningMessage] [nvarchar](max) NULL,
	[IsUploaded] [bit] NOT NULL,
	[IsDismissed] [bit] NOT NULL,
	[DateUpload] [datetime] NULL,
	[DateFileCreated] [datetime] NULL,
	[FileSize] [int] NOT NULL,
	[FileUniqueID] [varchar](500) NULL,
	[FileContentType] [varchar](max) NULL,
	[PermanentFilePath] [nvarchar](1000) NULL,
	[IsDuplicateSession] [bit] NULL,
	[IsQcPassed] [bit] NOT NULL,
	[IsIdentifierPassed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UploadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadTimeSeriesErrorLog]    Script Date: 2026-01-05 10:32:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadTimeSeriesErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExperimentID] [int] NOT NULL,
	[SubExperimentID] [int] NOT NULL,
	[UserFileName] [varchar](250) NULL,
	[ErrorMEssage] [varchar](450) NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UploadTimeSeries] ADD  CONSTRAINT [DF_UploadTimeSeries_IsDismissed]  DEFAULT ((0)) FOR [IsDismissed]
GO
ALTER TABLE [dbo].[AnimalTimeSeries]  WITH CHECK ADD FOREIGN KEY([ExperimentID])
REFERENCES [dbo].[ExperimentTimeSeries] ([ExperimentID])
GO
ALTER TABLE [dbo].[ExperimentTimeSeries]  WITH CHECK ADD FOREIGN KEY([SpeciesID])
REFERENCES [dbo].[Species] ([ID])
GO
ALTER TABLE [dbo].[ExperimentTimeSeries]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[SubExperimentTimeSeries]  WITH CHECK ADD FOREIGN KEY([ExperimentID])
REFERENCES [dbo].[ExperimentTimeSeries] ([ExperimentID])
GO
ALTER TABLE [dbo].[UploadTimeSeries]  WITH CHECK ADD FOREIGN KEY([AnimalID])
REFERENCES [dbo].[AnimalTimeSeries] ([AnimalID])
GO
ALTER TABLE [dbo].[UploadTimeSeries]  WITH CHECK ADD FOREIGN KEY([ExperimentID])
REFERENCES [dbo].[ExperimentTimeSeries] ([ExperimentID])
GO
ALTER TABLE [dbo].[UploadTimeSeries]  WITH CHECK ADD FOREIGN KEY([SubExperimentID])
REFERENCES [dbo].[SubExperimentTimeSeries] ([SubExperimentID])
GO
ALTER TABLE [dbo].[UploadTimeSeriesErrorLog]  WITH CHECK ADD FOREIGN KEY([ExperimentID])
REFERENCES [dbo].[ExperimentTimeSeries] ([ExperimentID])
GO
ALTER TABLE [dbo].[UploadTimeSeriesErrorLog]  WITH CHECK ADD FOREIGN KEY([SubExperimentID])
REFERENCES [dbo].[SubExperimentTimeSeries] ([SubExperimentID])
GO
