.guideline-tile {
    .guideline-card {
        width: calc(100% - 70px);
        height: calc(100% - 70px);

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 250px;
        }

        .logo {
            max-width: 35%;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            display: flex;
            justify-content: center;
            color: rebeccapurple;
            font-weight: 900;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-shadow: 2px 2px white;
        }

        .mousebytes {
            opacity: 0;
        }
    }
}


.guideline-tile:hover {

    .guideline-card {
        background-color: rebeccapurple;
        background-size: 100% 100%;

        img {
            opacity: 0;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-content {
            opacity: 1;
            color: white;
            text-decoration: underline;
            text-shadow: none;
        }

        .cogbytes {
            opacity: 0;
        }
    }
}

