<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>GUIDELINES</h1></div>

<div style="padding-top:0px; padding: 100px 100px;">
    <mat-grid-list cols="2" rowHeight="2:1">
        <a href="/guideline/datalab">
            <mat-grid-tile class="guideline-tile">
                <mat-card class="guideline-card">
                    <img alt="datalab" src="../../assets/images/cognitive2.png">
                    <mat-card-content>Data Lab</mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </a>
        <a href="../../assets/guide/Mousebytes.pdf">
            <mat-grid-tile class="guideline-tile">
                <mat-card class="guideline-card">
                    <img class="logo" alt="mousebytes" src="../../assets/images/logo-pre.png">
                    <mat-card-content class="mousebytes">Mousebytes</mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </a>
        <a href="../../assets/guide/Pubscreen.pdf">
            <mat-grid-tile class="guideline-tile">
                <mat-card class="guideline-card">
                    <img class="logo" alt="datalab" src="../../assets/images/Architetto----Bibliografia.svg">
                    <mat-card-content>Pubscreen</mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </a>
        <a href="../../assets/guide/COMP.pdf">
            <mat-grid-tile class="guideline-tile">
                <mat-card class="guideline-card">
                    <img alt="datalab" src="../../assets/images/image-data-integraion.png">
                    <mat-card-content>Complementary Data Repositories</mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </a>
    </mat-grid-list>
</div>

