<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>PUBSCREEN</h1></div>

<div class="guideline" id="guideline">
    <br />


    <br />
    <div class="content">
        PubScreen is an interactive database enabling users to deposit key features from papers that use touchscreen technology and also to search/find the publication(s)
        that match the search criteria.
    </div>

    <div style="padding-top:30px">
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="color:white; background-color:#795D9C; font-size:large;">Searching Publications</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr>
                    <td style="padding: 13px 16px;">

                        <div>
                            <br />
                            <label>You can search and extract publications based on the following search criteria:</label>
                            <hr /><br />

                            <!--Searching Author information ********************************************-->
                            <label style="color:#465563">Authour Information:</label><br />

                            <mat-form-field>
                                <mat-select placeholder="Select Author" [(ngModel)]="authorModel" multiple>
                                    <mat-option>
                                        <ngx-mat-select-search placeholderLabel="Search based on last name" noEntriesFoundLabel="Result not found!" [(ngModel)]="authorMultiSelect"></ngx-mat-select-search>
                                    </mat-option>

                                    <mat-option *ngFor="let author of filteredAutorList | async" [value]="author.id">
                                        {{author.firstName}}-{{author.lastName}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>&nbsp;

                            <br /><br />

                            <!--Searching Paper information ********************************************-->
                            <label style="color:#465563">Paper Information:</label><br />

                            <!--Paper Title-->
                            <mat-form-field style="width:30%">

                                <textarea matInput placeholder="Paper's Title" [(ngModel)]="titleModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="4">
    
                                        </textarea>

                            </mat-form-field>

                            <!--Paper Abstract-->
                            <!--<mat-form-field style="width:30%; padding-left:35px">

                                <textarea matInput placeholder="Paper's Abstract" [(ngModel)]="abstractModel" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5">

                                </textarea>
                            </mat-form-field>-->
                            <!--Paper year-->
                            <mat-form-field style="width:14%; padding-left:30px">

                                <mat-select placeholder="Select Years(s)" [(ngModel)]="yearSearchModel" multiple>
                                    <mat-option *ngFor="let val of yearList" [value]="val.year">
                                        {{val.year}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Paper Type-->
                            <mat-form-field style="width:14%; padding-left:30px">
                                <mat-select placeholder="Select Type of Paper" [(ngModel)]="paperTypeModel" multiple>
                                    <mat-option *ngFor="let type of paperTypeList" [value]="type.id">
                                        {{type.paperType}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field><br />

                            <!--Paper Keywords-->
                            <mat-form-field style="width:30%;">

                                <input matInput placeholder="Paper's Keywords" [(ngModel)]="keywordsModel">

                            </mat-form-field>

                            <!--Paper DOI-->
                            <mat-form-field style="width:30%; padding-left:35px">

                                <input matInput placeholder="Paper's DOI" [(ngModel)]="doiModel">

                            </mat-form-field><br /><br />

                            <!--Adding Key Features ********************************************-->
                            <label style="color:#465563">Key Features:</label><br />

                            <!--Cognitive Task-->
                            <mat-form-field style="width:15%; ">
                                <mat-select placeholder="Select Cognitive Task(s)" [(ngModel)]="cognitiveTaskModel" required multiple>
                                    <mat-option *ngFor="let task of taskList" [value]="task.id">
                                        {{task.task}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Species-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Specie(s)" [(ngModel)]="specieModel" multiple>
                                    <mat-option *ngFor="let specie of specieList" [value]="specie.id">
                                        {{specie.species}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Sex-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sex" [(ngModel)]="sexModel" multiple>
                                    <mat-option *ngFor="let sex of sexList" [value]="sex.id">
                                        {{sex.sex}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Strain-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Strain(s)" [(ngModel)]="strainModel" multiple>
                                    <mat-option *ngFor="let strain of strainList" [value]="strain.id">
                                        {{strain.strain}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--DiseaseModel-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Disease Model(s)" [(ngModel)]="diseaseModel" multiple>
                                    <mat-option *ngFor="let disease of diseaseList" [value]="disease.id">
                                        {{disease.diseaseModel}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field> <br />

                            <!--BrainRegion-->
                            <mat-form-field style="width:15%;">
                                <mat-select placeholder="Select Brain Region(s)" [(ngModel)]="regionModel" (selectionChange)="selectedRegionChange(regionModel)" multiple>
                                    <mat-option *ngFor="let region of regionList" [value]="region.id">
                                        {{region.brainRegion}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--SubRegion-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Sub-brain Region(s)" [(ngModel)]="subRegionModel" multiple>
                                    <mat-option *ngFor="let subregion of subRegionList" [value]="subregion.id">
                                        {{subregion.subRegion}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--CellType-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Cell Type(s)" [(ngModel)]="cellTypeModel" multiple>
                                    <mat-option *ngFor="let cell of cellTypeList" [value]="cell.id">
                                        {{cell.cellType}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                            <!--Method-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Method" [(ngModel)]="methodModel" multiple>
                                    <mat-option *ngFor="let method of methodList" [value]="method.id">
                                        {{method.method}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>


                            <!--NeuroTransmitter Systems-->
                            <mat-form-field style="width:15%; padding-left:30px">
                                <mat-select placeholder="Select Neurotransmitter System" [(ngModel)]="neurotransmitterModel" multiple>
                                    <mat-option *ngFor="let neuro of neurotransmitterList" [value]="neuro.id">
                                        {{neuro.neuroTransmitter}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>

                        </div>
                        <br />
                        <div>
                            <button mat-raised-button color="accent" class="full-width" [disabled]="setDisabledValSearch()" (click)="search()">Search</button>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--<div>{{isAdmin}}</div>-->

    <!--Adding table to show result of search-->
    <br /><br />
    <div *ngIf="searchResultList?.length > 0">
        <!--<app-shared-experiment></app-shared-experiment>-->
        <table class="docs-markdown-table">
            <thead>
                <tr>
                    <th class="docs-markdown-th" style="background-color:#bab9b6">List of Publications</th>

                </tr>
            </thead>
            <tbody class="docs-markdown-tbody">
                <tr style="border-bottom:1pt solid #8D8E90;" *ngFor="let row of searchResultList">
                    <td>
                        <label style="color:#8D8E90"><b>Paper Information:</b></label>
                        <span  *ngIf="isAdmin" style="float:right;"><button mat-icon-button matTooltip="Edit Publication" (click)="openDialog(row)"><mat-icon>edit</mat-icon></button></span>&nbsp;
                        <br /><br />

                        <label>Title:</label> &nbsp; <span style="color:#696d70;">{{( row.title ==="") ?  "N/A" : row.title}}</span><br /><br />
                        <label>Authors:</label> &nbsp; <span style="color:#696d70;">{{( row.author ==="") ?  "N/A" : row.author}}</span><br /><br />
                        <label>Keywords:</label>&nbsp; <span style="color:#696d70;">{{( row.keywords ==="") ?  "N/A" : row.keywords}}</span> &nbsp; &nbsp; &nbsp;
                        <label>DOI:</label>&nbsp; <span style="color:#696d70;">{{( row.doi ==="") ?  "N/A" : row.doi}}</span>&nbsp; &nbsp; &nbsp;
                        <label>Year:</label> &nbsp; <span style="color:#696d70;">{{( row.year ==="") ?  "N/A" : row.year}}</span> &nbsp; &nbsp; &nbsp;
                        <label>Paper Type:</label> &nbsp; <span style="color:#696d70;">{{( row.paperType ==="") ?  "N/A" : row.paperType}}</span><br /><br />

                        <label style="color:#8D8E90"><b>Key Features:</b></label> <br /><br />

                        <label>Task(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.task ==="") ?  "N/A" : (_pubSCreenSearch.taskID.length === 0 ) ? row.task  : "<b>" + row.task + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Specie(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.species ==="") ?  "N/A" : (_pubSCreenSearch.specieID.length === 0 ) ? row.species  : "<b>" + row.species + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sex:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.sex ==="") ?  "N/A" : (_pubSCreenSearch.sexID.length === 0) ? row.sex  : "<b>" + row.sex + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                        <label>Strain(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.strain ==="") ?  "N/A" : (_pubSCreenSearch.strainID.length === 0) ? row.strain  : "<b>" + row.strain + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Disease Model(S):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.diseaseModel ==="") ?  "N/A" : (_pubSCreenSearch.diseaseID.length === 0) ? row.diseaseModel  : "<b>" + row.diseaseModel + "</b>"'></span> <br /><br />

                        <label>Brain Region(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.brainRegion ==="") ?  "N/A" : (_pubSCreenSearch.regionID.length === 0) ? row.brainRegion  : "<b>" + row.brainRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Sub-brain Region(S):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.subRegion ==="") ?  "N/A" : (_pubSCreenSearch.subRegionID.length === 0) ? row.subRegion  : "<b>" + row.subRegion + "</b>"'></span> &nbsp; &nbsp; &nbsp;

                        <label>Cell Type(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.cellType ==="") ?  "N/A" : (_pubSCreenSearch.cellTypeID.length === 0) ? row.cellType  : "<b>" + row.cellType + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Method(s):</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.method ==="") ?  "N/A" : (_pubSCreenSearch.methodID.length === 0) ? row.method  : "<b>" + row.method + "</b>"'></span> &nbsp; &nbsp; &nbsp;
                        <label>Neuro Transmitter:</label>&nbsp; <span style="color:#696d70;" [innerHTML]='(row.neuroTransmitter ==="") ?  "N/A" : (_pubSCreenSearch.transmitterID.length === 0) ? row.neuroTransmitter  : "<b>" + row.neuroTransmitter + "</b>"'></span> <br />

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <br />



