<!--<div [ngStyle]="{background: 'url(../../assets/images/horbg.png)'}" class="page-title"><h1>TUTORIALS</h1></div>-->


<!--<br />
<br />
<br />
<br />
<br />-->

<div>
    <table class="docs-markdown-table-cutomized2">
        <thead>

            <tr><th colspan="2" class="docs-markdown-th" style="text-align:center; font-size:large"><b>VIDEO TUTORIALS</b></th></tr>

        </thead>

        <mat-tab-group>
            <mat-tab label="MouseBytes">
                <tbody class="docs-markdown-tbody">

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtube.com/playlist?list=PLO3p3UNaVoEM5LKSiGQBMXu8q9aOq44Ki" target="_blank">Video Playlist</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/RRuFRcSi-9Y" target="_blank">Video 1: Introduction</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/0FcDS1K_BnQ" target="_blank">Video 2: Adding an Experiment</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/Tm9T7uEszgI" target="_blank">Video 3: Creating a Sub-Experiment</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/ewhIiEBmDyw" target="_blank">Video 4: Adding Animal Information</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/QDBB3JBaRcg" target="_blank">Video 5: Uploading XML Files</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/GQorAcPspug" target="_blank">Video 6: Quality Control</a></td>



                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/Er7UsPUpmYM" target="_blank">Video 7: Upload Log</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/fECxCrtLE1Y" target="_blank">Video 8: Extracting Data</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/XufU4vzqFDg" target="_blank">Video 9: Data Visualization and Search</a></td>


                    </tr>

                </tbody>
            </mat-tab>

            <mat-tab label="PubScreen">
                <tbody class="docs-markdown-tbody">

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtube.com/playlist?list=PLO3p3UNaVoEP_8lJ_E_weP9wHOer6B-Cy" target="_blank">Video Playlist</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/vPZt9beSkUQ" target="_blank">Video 1: Introduction</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/KbZxnvHhI_8" target="_blank">Video 2: Adding Publications</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/XM8w2yp0Qdc" target="_blank">Video 3: Editing Publications</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/zk73cQihvSs" target="_blank">Video 4: Searching Publications</a></td>


                    </tr>

                </tbody>

            </mat-tab>

            <mat-tab label="Complementary Data Repositories">
                <tbody class="docs-markdown-tbody">

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtube.com/playlist?list=PLO3p3UNaVoEOyYS4D8pf53vToDpkkYynb" target="_blank">Video Playlist</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/l_EewxCzOLk" target="_blank">Video 1: Introduction</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/QqG3CIAuhpQ" target="_blank">Video 2: Adding a Repository</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/a5DRBVd8c48" target="_blank">Video 3: Editing a Repository</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"><a href="https://youtu.be/48gIGYGgtdo" target="_blank">Video 4: Adding an Upload</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/9repDdKeF7Y" target="_blank">Video 5: Editing an Upload</a></td>


                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/uLOPK_OMz5A" target="_blank">Video 6: Searching Repositories</a></td>



                    </tr>

                    <tr>
                        <td style="padding: 13px 16px;"> <a href="https://youtu.be/i_aIyaPBLsk" target="_blank">Video 7: Using the Unique Link</a></td>


                    </tr>

                </tbody>

            </mat-tab>
        </mat-tab-group>
            

    </table>
</div>





<!--<div>
    <table class="docs-markdown-table-cutomized">
        <thead>

            <tr><th colspan="2" class="docs-markdown-th"><b>Video Tuorials</b></th></tr>

        </thead>

        <tbody class="docs-markdown-tbody">

            <tr>
                <td style="padding: 13px 16px;"> Video Playlist:</td>

                <td style="padding: 13px 16px;">
                    <a href="https://www.youtube.com/playlist?list=PLjV-B943B8AFwFwufvtJWK6-IkKEu1i3A" target="_blank">https://www.youtube.com/playlist?list=PLjV-B943B8AFwFwufvtJWK6-IkKEu1i3A</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 1: Introduction to MouseBytes and Creating an Account</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/_2DziT5ayOc" target="_blank">https://youtu.be/_2DziT5ayOc</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 2: Creating Experiment and Sub-Experiment in MouseBytes</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/deXYEft4My0" target="_blank">https://youtu.be/deXYEft4My0</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 3: Uploading Data (XML files)</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/E1gYu-qfREA" target="_blank">https://youtu.be/E1gYu-qfREA</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 4: Quality Control Procedure and Missing Animal Information in MouseBytes</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/rNmG4nznmGo" target="_blank">https://youtu.be/rNmG4nznmGo</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 5: Adding animals to the created experiment in MouseBytes</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/8wmmvXiJ2Y0" target="_blank">https://youtu.be/8wmmvXiJ2Y0</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 6: Extracting data from database</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/7VNbRUDZyog" target="_blank">https://youtu.be/7VNbRUDZyog</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 7: Interactive Data Visualization in MouseBytes</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/qgbH9ifoomw" target="_blank">https://youtu.be/qgbH9ifoomw</a>
                </td>

            </tr>

            <tr>
                <td style="padding: 13px 16px;">Video 8: Searching in MouseBytes</td>

                <td style="padding: 13px 16px;">
                    <a href="https://youtu.be/bNIpR2CVIZs" target="_blank">https://youtu.be/bNIpR2CVIZs</a>
                </td>

            </tr>

        </tbody>

    </table>
</div>

<br/>-->



<br />
<br />
<br />





