@import '../../styles/variables.scss';

.home-card-container {
    display: flex;
    justify-content: center;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
    mat-card {
        width: 500px;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
        mat-card-title {
            text-align: center;
            color: $blue;
        }

        mat-card-subtitle, mat-card-content {
            text-align: center;
        }
    }

    img {
        background-color: $lightgray;
    }
}



section {
    height: 100vh;
   // margin-top: -130px;
    //padding-top: 260px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 800px;
}


.bg1-sub {
    position: absolute;
    height: 70%;
    top: 15%;
    left: 15%;
}


.bg2-sub {
    background-size: 100% 100%;
    width: 33%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.bg-text {
    color: white;
    padding-top: 15%;
    padding-left: 15%;
}

.sub-img {
    width: 70%;
    max-height: 300px;
    //margin: 5% 0 0 0;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}

.logo-img {
    width: 30%;
    max-width: 150px;
    //min-width: 100px;
    max-height: 50px;
    //margin: 5% 0 0 0;
    //border: 2px solid;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    //background-color: white;
}

/*.sub-img {
    width: 70%;
    //height: 80%;
    //margin: 5% 0 0 0;
    border: 2px solid;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    max-width: 250px;
}*/
.high-margin {
    padding-top: 60px;
    padding-bottom: 100px;
}

header.section-header {
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}

.section-border {
    width: 100%;
    height: 23px;
    margin: 5px 0 10px;
}

.section-subtitle {
    xcolor: rgb(154, 167, 175);
    color: #2f383d;
    font-size: 15px;
    font-weight: 300;
    margin-top: 7px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 5px;
}

header.section-header {
    margin-bottom: 5px;
    position: relative;
    z-index: 10;
}

.block-icon {
    height: 130px;
    margin-bottom: 25px;
    position: relative;
}

.block-container {
    text-align: center;
}

.block-triangle {
    width: 80px;
    height: 80px;
    background: #6d6d6a;
    margin: 0 auto;
    position: relative;
    top: 25px;
    box-shadow: 0 0 0 6px #FFFFFF, 0 0 0 7px #dadbdb;
}

.block-title p {
    color: #2f383d;
    font-size: 16px;
    font-weight: 500;
}

.block-content p {
    font-size: 15px;
    color: #2f383d;
    font-weight: 300;
}

.block-icon i {
    color: #FFFFFF;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
}


.flat-icon {
    font-family: 'oxp-demo';
    padding: 23px 28px;
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
    line-height: 100%;
    overflow: hidden;
    text-transform: uppercase;
    margin-right: 15px;
}

.thumbnail-image{
    width: 300px;
    height: 100px;
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-nav .owl-page,
.owl-nav div {
    cursor: pointer;
}

.owl-nav {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

.arrow-up-left {
    position: relative;
    top: -15px;
    left: -5px;
}

.arrow-up-right {
    position: relative;
    top: -18px;
    left: 0px;
}


.owl-theme .owl-nav div {
    padding: 5px 9px;
}

.owl-theme i {
    margin-top: 2px;
}

.owl-theme .owl-nav {
    position: absolute !important;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: block;
    font-size: 40px !important;
    height: 28px;
    line-height: 28px;
    padding: 20px;
    text-align: center;
    width: 28px;
    border-color: #f29100;
    color: #f29100 !important;
    background-color: transparent;
}

.owl-carousel .owl-nav button.owl-prev
 {
    left: 0px;
    top: 200px;
    width: 50px;
    height: 50px;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0px;
    top: 200px;
    width: 50px;
    height: 50px;
}

.circle_orange {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    display: block;
    font-size: 28px;
    height: 28px;
    line-height: 28px;
    padding: 20px;
    text-align: center;
    width: 28px;
    border-color: #f29100;
    color: #f29100;
    background-color: transparent;
}

.home-container .item {
    display: block;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

.sarmor-arrow {
    background-size: 100% 100% !important;
    width: 100px !important;
    height: 100px !important;
}

/* If the screen size is 601px wide or more*/
@media screen and (min-width: 601px) {
    .desc-font-size {
        font-size: 18px;
    }

    .title-font-size {
        font-size: 32px;
    }
}

.sponsor-logo {
    text-align: center;
    color: #656565;
    padding: 20px 50px 0px;
}

/* If the screen size is 600px wide or less*/
@media screen and (max-width: 600px) {
    .desc-font-size {
        font-size: 14px;
    }

    .title-font-size {
        font-size:26px;
    }

    .sponsor-logo {
        padding: 20px 20px 0px;
    }

}





